[2022-06-27 15:15] osbornjd opened #1294 "Expand TGeo layer building to experiment defined detector element"
Currently, the `TGeoLayerBuilder` by default creates instances of `TGeoDetectorElements`. For experiments using the TGeo machinery to construct their geometry, this means they are required to use the default detector element object instead of some experiment defined object, which is not ideal for alignment implementation that requires an experiment defined detector object.

This issue can instigat

[2022-06-28 08:08] LuisFelipeCoelho commented on #1280
From my side, the only PR that changes the final seeds when using the default configuration is PR #1213, but that is a fix to the previous scatter calculation, which was wrong.

[2022-06-28 08:18] LuisFelipeCoelho commented on #1280
But in that same PR #1213 the sorting of SP by cotTheta is changed to default, maybe that is a reason for the loss of efficiency?

[2022-06-28 09:13] robertlangenberg commented on #1280
The seed is rejected because of the new scattering calculation. It is also BARELY rejected, if the measurement uncertainty was 10% higher or there was 10% more material configured, the seed would pass.

[2022-06-28 10:47] tboldagh commented on #1242
Please have a look at the branch:
https://github.com/tboldagh/acts/pull/new/refactor-example-python-scipts

I basically did two things there:
moved file fatras.py into acts.examples.simulation.fatras.__init__.py and separated out the __main__.py to have it runable.

If that looks good I would expand this.

Such change would also require an immediate update of the documentation I guess?

[2022-06-29 15:14] paulgessinger commented on #1242
In principle, I guess this would be a useful improvement overall.
Maybe we could do this for the individual components and use `__main__.py` as demonstrators, but keep the "standalone"
higher level scripts as actual scripts (like the full chain scripts, or CKF tracks, but not sure).

I think feedback from @timadye would also be very helpful.

[2022-06-29 15:34] timadye commented on #1242
@tboldagh, thanks for making a concrete proposal and especially thinking about the build requirements. I think this would be an improvement already, so I hope further discussion (even if I add to it 😉) doesn't delay us too much longer.

One immediate simplification: With this layout, I don't think we need to split `simulation` and `reconstruction` into separate namespaces. We could just have `acts

[2022-06-29 16:03] timadye commented on #1242
@paulgessinger, yes I agree it would be a bit clearer to keep the `runFatras` code to test and run `addFatras` in a stand-alone script along with the other examples, ie. in `Examples/Scripts/Python/fatras.py`.

That keeps a clear distinction between functions that are can be used by everyone (`addFatras` in @tboldagh's new `Examples/Python/python/acts/examples/fatras/__init__.py`) and example usag

[2022-06-29 16:08] paulgessinger commented on #1242
I think having the `__main__.py` has some benefits too, but potentially we could dial down the standalone scripts in `Examples/Scripts/Python` to the "main" ones, and then have the smaller individual runnables only in `__main__.py`.

[2022-06-29 16:09] timadye commented on #1242
@tboldagh, would it help if I made a proto-MR with my suggestion to compare?

[2022-06-29 16:23] timadye commented on #1242
I see what you mean. So would we put the `runFatras` in the `fatras` package's `__main__.py`? I'm not so sure they belong in the `acts.examples.fatras` namespace, even if that might be convenient for the pytest.

So what are the "main" examples of the use of the `addXYZ` functions? Maybe `full_chain_itk.py`, `full_chain_odd.py`, `itk_seeding.py`, `truth_tracking_gsf.py`, `truth_tracking_kalman.py`

[2022-06-29 19:35] tboldagh commented on #1242
Maybe we can do adiabatic change. I.e. only move addFatras and leave everything else as is? There is som merit to it. Ie.. no need to touch the documentation. @timadye - I do not mind seeing what you have in mind :-).

[2022-06-29 21:22] timadye commented on #1242
This is the really simple idea: https://github.com/timadye/acts/commit/c23c3f9
That puts both `addParticleGun` and `addFatras` (and later `addDigitization`) together in `acts.examples.simulation`. This makes `simulation.py` a longer file than might be comfortable, but simplifies the `import`s.
I'd plan to make `acts.examples.reconstruction`, `acts.examples.itk`,  and `acts.examples.odd`.

[2022-07-01 09:05] tboldagh commented on #1242
Looks convenient and straightforward.
One thing, if one decided not to build FATRAS binding, would one still be able to make use of this file? Or there will be import issues preventing it?

[2022-07-01 10:41] timadye commented on #1242
Good point. Is it useful to use the particle gun without Fatras? If so, maybe we can add a catch protection, but I don't know the neatest way to do that.

[2022-07-01 11:12] tboldagh commented on #1242
One can probably hide necessary imports in function body. And thus it will fail only if explicitly (miss)used.
So, what it the next step here?

[2022-07-01 11:49] timadye commented on #1242
Good idea.

I can try to do the rest, but won't have a chance to do much in the next few days (still playing with your `confTool.py`). Anyone else is welcome to give it a go, but please speak up here first so we don't duplicate.

[2022-07-01 11:53] paulgessinger commented on #1242
Do you think we should discuss this again next Tuesday in the developer meeting?

[2022-07-01 12:38] tboldagh commented on #1242
@timadye  I would like to try this (just to have first PR) in Acts behind me. Discussing on Tuesday is good idea before doing it.  Maybe even better idea will show up.

[2022-07-01 14:25] #1219 closed

[2022-07-04 07:43] paulgessinger commented on #881
As discussed in #1296, refactoring for the purposes of this issue needs to be done carefully, so ROOT file closure happens in the destructor still, so that it also occurs when an exception is encountered.

[2022-07-05 15:31] paulgessinger opened #1300 "GSF propagation runs into step count limit"
Observed in #1297, e.g. in this CI job: https://github.com/paulgessinger/acts/runs/7176508668?check_suite_focus=true

[2022-07-06 08:59] benjaminhuth commented on #1300
I'll start investigating this next week!

[2022-07-06 11:18] andiwand commented on #1215
should we close this issue? @paulgessinger @asalzburger

[2022-07-06 11:52] paulgessinger commented on #1215
Let's do that when we remove the failure masking in the pytest tests.

[2022-07-06 13:37] andiwand commented on #1215
looks like it works https://github.com/acts-project/acts/pull/1302 :tada:

[2022-07-07 08:03] #1215 closed

[2022-07-08 16:06] osbornjd commented on #1294
Closing as this issue was resolved by [1293](https://github.com/acts-project/acts/pull/1293)

[2022-07-08 16:06] #1294 closed

[2022-07-09 18:33] osbornjd commented on #1280
To close this, if we scale our space point uncertainties by a certain factor we can recover the previous performance. So we have at least understood where the decrease in performance comes from - therefore I propose we close this issue.

[2022-07-09 18:33] #1280 closed

[2022-07-11 09:29] andiwand opened #1313 "add monitoring for vertexing in physmon"
we have vertexing as part of the odd full chain now in [´full_chain_odd.py´](https://github.com/acts-project/acts/blob/main/Examples/Scripts/Python/full_chain_odd.py) but no monitoring in [`physmon.py`](https://github.com/acts-project/acts/blob/main/CI/physmon/physmon.py)

see discussion here https://github.com/acts-project/acts/pull/1299

[2022-07-12 08:04] paulgessinger commented on #1091
The vertexing test is flaky and fails irregularly. I haven't been able to figure out what the underlying problem is. Example failed job: https://github.com/acts-project/acts/runs/7296836937?check_suite_focus=true

Attached the full logs for debugging.

[logs_22615.zip](https://github.com/acts-project/acts/files/9090877/logs_22615.zip)

[2022-07-18 07:40] benjaminhuth commented on #1300
@paulgessinger  this should be solved with #1326 and can be closed now, right?

[2022-07-18 07:51] #1300 closed

[2022-07-19 02:58] CarloVarni opened #1328 "KalmanFilter error: No measurement detected during the propagation"
When running KF refitting on a tt-bar sample with pile-up (mu 200), ACTS reports the following error message:
[code]
This fit failure comes from https://github.com/acts-project/acts/blob/main/Core/include/Acts/TrackFitting/KalmanFitter.hpp#L1056 in which the KF tries to refit a fitted track and doesn’t find a single measurement. Despite being a fit failure, should this result in an error message i

[2022-07-19 17:09] plariono commented on #1253
@Corentin-Allaire is the issue gone for you? I'm still getting it

[2022-07-19 17:13] Corentin-Allaire commented on #1253
I don't know, I don't use this function regularly. But I don't see why it would be gone since the issue was never resolved. As I said last time just comment out the line and it should be fine.

[2022-07-26 15:07] paulgessinger opened #1345 "Vertexing produces propagation errors"
During propagation to the vertex position, the propagation seems to get stuck.

@andiwand has observed

[code]

which seems to be the accurracy correction flip flopping between two step sizes and failing to converge.

In addition to this error, ATLAS observes an error

[code]

in minbias events with low-pt in reprocessing ([JIRA ticket](https://its.cern.ch/jira/browse/ATLASRECTS-7148))

[2022-07-26 15:09] paulgessinger commented on #1345
/cc @asalzburger @andiwand

[2022-07-26 15:10] andiwand commented on #1345
see https://github.com/acts-project/acts/pull/1299 if you want to reproduce this issue

[2022-07-26 15:57] andiwand commented on #1345
somehow we end up with a perigee inside the pixel barrel

´´´
intersect Acts::PerigeeSurface:
     Center position  (x, y, z) = (20.3294226, -79.1081599, 169.4577863) from pos 0.002635 0.000678 0.116209 with direction  0.108395 -0.421310  0.900416 navDir backward
StandardAborters: setStepSize navDir backward distance -187.753649
ConstrainedStep ( -∞,  -∞,  -∞,  -∞ ) update value 187.753649 origina

[2022-07-27 06:23] asalzburger commented on #1345
That's exactly what I was referring to in the JIRA. The perigee is in fact allowed to be in the pixel barrel - we should make sure the shorter catches this and ends the propagation accordingly.

[2022-07-27 06:35] andiwand commented on #1345
here an extreme case

[code]

[2022-07-27 08:06] paulgessinger commented on #1345
After discussion with @andiwand and @asalzburger, our theory is that the underlying issue is that the vertex seeding gives initial vertex positions that are outside the beampipe volume. While this might be physically plausible in some cases, in the current state, we think the vertexing tries to hit these large radius targets by going **backwards** while already being close to the detector center,

[2022-07-27 09:04] andiwand commented on #1345
the overall effect with the `ConstrainedStep`. the direction is flipping back and forth

I am starting to wonder if `ConstrainedStep` should be allowed to change the direction https://github.com/acts-project/acts/blob/main/Core/include/Acts/Propagator/ConstrainedStep.hpp#L90. if so it should flip the sign of `max`

[code]

[2022-07-27 11:59] #1242 closed

[2022-07-28 12:51] paulgessinger commented on #1345
I believe the WARNING should already be fixed with #1101 #1107 and #1115.

[2022-07-30 10:00] andiwand commented on #1345
I believe I was able to fix the `+/- max` problem but the underlying navigation problem remains. When I changed the `ConstraintedStep` more aggressively the vertexing worked but I guess it was only a work around.

What I saw is that the `ConstrainedStep` is set to backwards propagation `(-∞,  -∞,  -∞,  -∞)` but the `SurfaceReached` aborter will set the target in the forwards direction `-∞,  -∞, 10

[2022-08-02 07:02] rahmans1 commented on #1238
The boundary condition is implemented as sinusoidal but the unit tests still need to be updated [here](https://github.com/rahmans1/acts/tree/bugfix-bevelled-cylinder-surface-and-unit-tests).

[2022-08-02 15:17] paulgessinger opened #1361 "Vertexing produces vertex candidates that are unreasonable"

[2022-08-02 15:19] paulgessinger opened #1362 "Vertexing produces unexpectedly poor efficiency"

[2022-08-02 15:30] vmmcairo commented on #1362
Thanks Paul! To keep track, @ttlindkvist can you upload here the plots with the # of reco vertices vs true vertices with the initial configuration?

[2022-08-05 14:55] paulgessinger opened #1385 "Failures during propagation"
I've observed two more cases of propagation failures when running over Pythia8 HardQCD + SoftQCD events at mu200.

- [x] FATRAS:
  `16:54:01    FatrasSimula   ERROR     event 571 particle id=(82|134|591|0|0)|pdg=0|q=-1|m=0|p=11.5181 failed to simulate with error PropagatorError:3: Propagation reached the configured maximum number of steps`.
  This could be a navigation problem where the particle l

[2022-08-05 15:04] andiwand commented on #1385
I can look into this next week

[2022-08-05 15:06] paulgessinger commented on #1385
I should be able to supply an input file if you don't want to run Pythia locally.

[2022-08-05 15:07] paulgessinger commented on #1313
I'm working on this.

[2022-08-05 15:12] andiwand opened #1386 "Ambiguous perigees with low momentum"
While looking into https://github.com/acts-project/acts/pull/1354 I noticed that a track can have more than one perigee if the momentum is small enough to allow a circular track inside the detector.

Also if we propagate from a perigee into the detector we limit the path length to `helix/2`. So if not stopped we will end up with a particle state that fulfills the current perigee condition. This is

[2022-08-05 15:13] andiwand commented on #1385
I lately made the effort of compiling it so I would like to try running it as long as my CPU does not throttle :smile:

[2022-08-05 15:15] paulgessinger commented on #1386
That would mean that #1354 is momentum dependent? I thought this was a purely geometrical origin.

[2022-08-09 08:19] paulgessinger opened #1406 "Full chain vertexing with AMVF"
AMVF will produce an error in the current scenario. I guess it is because we loose one of the muons and then fail to fit the vertex. with 4 muons AMVF works but IVF even works with 2 but I am not sure why

_Originally posted by @andiwand in https://github.com/acts-project/acts/issues/1299#issuecomment-1206199044_

[2022-08-09 12:19] andiwand commented on #1345
should we close after putting #1363 in?

[2022-08-09 12:22] andiwand commented on #1361
should we close @paulgessinger ?

[2022-08-09 13:07] andiwand commented on #1385
looking at the log output the particle seems to be invalid
- `pdg=0` means invalid https://github.com/acts-project/acts/blob/main/Core/include/Acts/Utilities/PdgParticle.hpp#L17
- it has `q=-1` but also `m=0`

I wonder if this is a bug in the pythia8 conversion or a bug in fatras

@paulgessinger

[2022-08-09 14:48] andiwand commented on #1385
exceeds maximum trials with the initial parameters 33554 :

the "good" news is that all of them seem to have the same origin. the step size goes to zero and we run into the iteration maximum. as far as I know the step size would only get smaller and smaller if we cannot reach the desired accuracy in the runge-kutta integration. I will investigate further why this happens

[2022-08-10 09:56] andiwand commented on #1385
after running fatras again I see particles without `pdg != 0`. actually didn't spot any with `0`

[code]

[2022-08-10 18:08] timadye commented on #669
reopened, until @osbornjd can see if #1381 fixes the original issue.

[2022-08-11 07:34] andiwand commented on #1385
the propagation in fatras is flip-flopping between +/- some small value

`EigenStepper: updateStepSize` corresponds to https://github.com/acts-project/acts/blob/main/Core/include/Acts/Propagator/EigenStepper.hpp#L262
`EigenStepper: step` corresponds to https://github.com/acts-project/acts/blob/main/Core/include/Acts/Propagator/EigenStepper.ipp#L117

[code]

[2022-08-11 08:07] andiwand commented on #1385
to make this easier to reproduce: this is one of the particles that will fail fatras in the ODD

[code]

[2022-08-11 09:14] andiwand commented on #1385
all the failed particles in 100 events

[code]

[2022-08-11 09:28] andiwand commented on #1385
looks like we bounce between two geometries back and forth

[code]

[2022-08-11 14:04] paulgessinger opened #1418 "Documentation update: Core"
- [ ] Algebra & units
- [ ] Event Data
  - [ ] Add MultiTrajectory documentation (@paulgessinger)
- #1395 (@asalzburger)
- #1518 (@paulgessinger)
- [ ] Material: what is our material model, describe concept, no howto on mapping etc
- #1396 (@benjaminhuth)
- #1476 (@LuisFelipeCoelho)
  - #1340 (@robertlangenberg)
- #1398 (@AJPfleger)
  - [ ] Kalman Filter
  - #1403 (@benjaminhuth)
  - #2803 (@AJPfl

[2022-08-11 14:09] paulgessinger opened #1419 "Documentation update: FATRAS"
- [ ] #1402 (@asalzburger)
- [ ] G4 + FATRAS

[2022-08-11 14:13] paulgessinger opened #1420 "Documentation update: Examples"

[2022-08-11 14:13] paulgessinger opened #1421 "Documentation update: Plugins"

[2022-08-11 14:24] paulgessinger opened #1422 "Documentation update: How-to (core)"

[2022-08-11 14:24] paulgessinger opened #1423 "Documentation update: Contribution guidelines"
- [x] `CONTRIBUTING.rst` remove style guide part + link to docs style guide
- #1525
  - [x] How to run the formatting (@AJPfleger)
  - [x] How to build the documentation (@paulgessinger)
  - [x] What is clang-tidy (@paulgessinger)
  - [x] What is physmon (@paulgessinger)
  - [x] What are root file hash checks (@paulgessinger)
  - [x] MyST markdown cheat sheet (@benjaminhuth)

[2022-08-11 14:29] paulgessinger commented on #1385
I faintly remember @FabianKlimpel implemented boundary surface checking by using all boundary surfaces and then ordering them in the most likely sequence, in order to be able to try all boundary surfaces one after the other, even if they don't seem compatible in the very beginning.

Maybe this runs into an edge case here?

[2022-08-11 15:16] FabianKlimpel commented on #1385
Yes, I implemented the ordering to cover an edge case when there was just a single boundary surface stored that was unreachable due to the particles curvature. I also utilised the boundary surface of volumes within a volume and treated them the same way. Though, I think that I observed that it could be possible to run in some strange scenarios if such a subvolume is not entirely within the other.

[2022-08-11 15:25] andiwand commented on #1385
thank you for your response @FabianKlimpel !

I was also unsure about the geometry because of the gap. in other cases it looked like it matched. I will try to understand the gap.

the issue I am facing right now is that because of the ordering the navigation will decide to step backwards even tho we are in forward propagation and there is another boundary in the forward direction. because of the b

[2022-08-11 15:34] FabianKlimpel commented on #1385
We had the possibilty to visualise the geometry, this may help. Maybe ask @paulgessinger about it. I could guess that the ordering will pick up the cylinder surface behind the disc as it "reachable" in terms of "there is an intersection from a straight line".

A step backwards in forward propagation sounds to me like the overstepping protection for low-momentum charged particles from @asalzburger.

[2022-08-11 16:26] FabianKlimpel commented on #1385
It's hard to imagine the detector geometry just from the numbers. Could you please post a picture of the geometry?
Just from the numbers, it looks like the particle stays at the same position all the time. However, it reaches the short and long strips somehow.

What condition leads to `Simulation     VERBOSE    - Surface intersecion invalid`? If a surface is unreachable, I moved an iterator to the

[2022-08-12 07:52] paulgessinger commented on #1385
Looking at the log, it seems the propagation does in fact reach the target boundary surface that it was trying to get to:

[code]
[code]
[code]
[code]
then we indeed switch from short strips to long strips forward gap:
[code]
There are no layers here, so it tries to go to `LongStrips::fGap`'s boundary surfaces.
And then for, whatever reason it believes it can hit the outer cylinder envelop boundar

[2022-08-16 07:57] asalzburger opened #1437 "Fatras: Bethe-Heitler calculation wrong?"
While writing the documentation for Fatras, I've added some basic UnitTests to #1402 in order to create and show the principles of the particle interaction mode.

This is the test:
[code]

With `typeid(process) == BetheBloch` this gives a Landau distribution as expected:

![Unknown](https://user-images.githubusercontent.com/26623879/184827680-735725d1-d32f-4a1f-ad79-f7769463844a.png)

While with `

[2022-08-16 08:28] asalzburger commented on #1437
@benjaminhuth @andiwand FYI

[2022-08-16 16:00] andiwand commented on #1385
the fatras errors seem to be gone after #1433

[2022-08-17 12:51] andiwand commented on #1385
The track finding propagation error is due to high energy losses in thick material slabs. E.g. there are pions with ~1 GeV which get completely stopped in ~3 m material. Because the propagation does not stop some quantities blow up because of division by zero.

How does the CKF actually assume the particle identity?

In order to fix this we should stop the propagation when the particle is stopped,

[2022-08-18 07:10] paulgessinger commented on #1385
@asalzburger suggests to check if this happens during truth tracking as well, or only combinatorial finding of real seeds.

[2022-08-18 11:03] andiwand commented on #1385
with truth seeding and filtering the problem seems to disappear but at the same time while lowering `ptMin` the problem re-appears.

[code]

I think it makes sense to have a more general solution for `p=0` in the propagator as this might creep up in the future

[2022-08-22 10:52] askamkin opened #1456 "Bug: SpacePointGridCreator::createGrid() fails when minHelixRadius < config.rMax / 2"
If `minHelixRadius < config.rMax / 2`, createGrid (Core/include/Acts/Seeding/SpacePointGrid.ipp) takes the square root of a negative number:
[code]
It seems strange that the method does not work for detectors w/ some configurations. Perhaps the method functionality should be revisited.

I suggest adding a check for this situation w/ a proper error message.

[2022-08-22 11:57] paulgessinger commented on #1456
Hey @askamkin, thanks for the issue.

@LuisFelipeCoelho, can you comment on this?

[2022-08-22 14:02] LuisFelipeCoelho commented on #1456
I can add a check for this situation with an error message.

I am also adding @robertlangenberg here in case he has any suggestions.

[2022-08-22 15:19] andiwand commented on #1385
with #1454 the stopped particle propagation failures seem to disappear but some of them will now result in

[code]

which makes sense but I am not sure how to continue from here. any suggestions @paulgessinger @asalzburger ?

there seems to be one more propagation failure which is not caused by stopped particles

[code]

[2022-08-23 15:55] timadye opened #1463 "Documentation: hints for debugging"
It would be nice to have some documentation with hints for debugging ACTS. There are a few specifics:
1. how to debug C++ with the Python examples
2. setting breakpoints after shared library loading
3. debug single-threaded if possible
4. often simpler to set breakpoints by source file location, rather than using heavily templated symbols.
5. `Debug` build can help, but default `RelWithDebInfo` st

[2022-08-23 15:57] timadye commented on #1463
@HadrienG2 followed up on Mattermost, which I copy here:

Glad to see that you sorted this out! Just to clarify one point...

There's actually more than inlining going on in there.

The debugger cannot really break on source lines, since those don't exist anymore in the compiled binary, there are only machine code instructions in there. So what the debugger does, with the help of compiler-generate

[2022-08-31 13:23] beomki-yeo opened #1477 "Bug: Path Correction of CovarianceEngine"
For any readers: It will be much easier to follow the issue after reading 4.4.1 section of [this book](https://link.springer.com/book/10.1007/978-3-030-65771-0). At least, please check out the equation (4.26 - 4.34) to understand the terminologies.

### 1. Path correction term derivation

Path correction is a term which compensates the step length change occurred by an infinitesimal change of init

[2022-09-01 09:29] tboldagh commented on #1406
In ATLAS. We'll soon have HI run where significant part of  the data are UPC events. Typically a (very)few particles in event.
Given AMVF is part of ATLAS reco already this may be affecting reconstruction (I do not think we care about it in HLT).

How does one reproduce this issue actually?
Setup vertex ting chain with AMVF and particle gun to generate 4,3,2 muon events. Right?

[2022-09-01 10:50] andiwand commented on #1406
to reproduce this issue you can run `full_chain_odd.py` with AMVF instead of IVF. the underlying problem seems to be the high number of duplicated tracks. the vertex fitting blows up under these conditions which seems fair.

[2022-09-01 14:44] paulgessinger opened #1481 "Monitor Floating Point Exceptions in CI"
Currently, we don't systematically monitor FPEs in our CI runs. ATLAS does this, and it would be beneficial to have this in our CI.

@stephenswat is this something that you could look into potentially?

[2022-09-01 14:53] stephenswat commented on #1481
Sure, I will take a look.

[2022-09-01 15:12] paulgessinger opened #1482 "Optionally have the vertex finding recalculate perigee parameters relative to consistent reference"

[2022-09-01 16:29] timadye opened #1484 "bug: interpolation out of bounds with ATLAS B-field map"
Using the propagator with the ATLAS B-field map can give error messages:
[code]
This can give a *lot* of messages: ~259 `MagneticFieldError`s per ttbar+μ=200 event, each of which produces 2 errors, and 4 warnings (1.6 GB logfile for 1000 events)!

This error is due to `InterpolatedBFieldMap::getField()` called for a position outside the mapped ATLAS B-field
* The ATLAS B-field is mapped in (-10000

[2022-09-01 16:36] paulgessinger commented on #1484
I think the underlying issue is that the propagation even gets to `z=54450`. This is outside of the bounds of the tracking geometry, so is presumably a navigation / propagation failure.

[2022-09-01 16:41] andiwand commented on #1484
since it happens in `TrackFinding` I assume it is due to CKF? I think the CKF does not use the end of world aborter and that might be the reason. the problem in the CKF is that you cannot use classic aborters because they would quite all branches at once. so I think this would be an additional step inside the actor? no clue tho how the particle sneaked through the geometry and where the navigator

[2022-09-01 16:44] paulgessinger commented on #1484
That's possible yeah. I guess you're right that `EndOfWorld` can't be used directly, that's a good point.

It might have slipped through beampipe, but I guess the normal abort mechanism would have / should have caught it in this case.

[2022-09-02 13:15] robertlangenberg commented on #1456
Not allowing smaller radii is sensible, as otherwise the particle would not escape the detector (i.e. reach rMax). Of course, it should have been checked for in the code. Thank you for notifying us!

[2022-09-02 14:08] #1456 closed

[2022-09-05 10:52] benjaminhuth opened #1491 "Bug: documentation has no API section anymore on https://acts.readthedocs.io"
The documentation on https://acts.readthedocs.io seems not to have an API-section anymore. May this be related to #1429 @paulgessinger ?

[2022-09-05 11:09] paulgessinger commented on #1491
Hmpf, probably. I thought I tested this.

[2022-09-05 14:53] #1491 closed

[2022-09-11 14:31] rubihason opened #1506 "Error while i run ActsExampleAdaptiveMultiVertexFinder"
Hi!
My main goal is to create tracks and vertexes based on real particle information from Pythia and by using ACTS to reconstruct tracks and vertexes. when i try to use ActsExampleAdaptiveMultiVertexFinder  i get error : terminate called after throwing an instance of 'boost::wrapexcept<boost::bad_any_cast>'
  what():  boost::bad_any_cast: failed conversion using boost::any_cast

How can i fix this

[2022-09-12 07:33] paulgessinger commented on #1506
Hey @rubihason, thanks for creating an issue.
I think that's a bug in how the options are (not) setup. I created a PR with a fix: https://github.com/acts-project/acts/pull/1508

[2022-09-14 06:57] paulgessinger opened #1516 "EDM Memory usage"
The peak memory consumption of the track state EDM strongly increases when pileup and even complexity is increased. For ttbar events at $\mu=200$ from Pythia8, it can go up to a few gigabytes per event, which is suboptimal.

This issue tracks progress to improve and optimize the memory consumption.

## Associated PRs:

- #1507
  This helps centralize the `MultiTrajectory` usage: a single instance

[2022-09-14 14:30] tboldagh opened #1522 "Separate context and config information in SeedFinderConfig"
In the SeedFinder integration in Athena
https://acode-browser1.usatlas.bnl.gov/lxr/source/athena/Tracking/Acts/ActsTrkTools/ActsTrkSeedingTool/src/SeedingTool.cxx
we need to copy construct the config object over and over because the config mixes actual configuration and more of context information.

Separating the two would allow us to reuse SeedFinderConfig object and since it will be made only o

[2022-09-19 15:13] tboldagh commented on #1522
Hi Experts, I have some spare cycles and can do the required changes. How does the idea sound?

[2022-09-19 15:47] LuisFelipeCoelho commented on #1522
The idea sounds good to me.

FYI: @robertlangenberg

[2022-09-19 21:04] #1506 closed

[2022-09-20 08:58] tboldagh commented on #1522
So I had a look. Whereas the beam spot position update is kind of expected update, how realistic is to change magnetic field when processing events? Outside of LHC experiments say.

[2022-09-20 12:15] tboldagh commented on #1522
See the set of proposed changes:
https://github.com/acts-project/acts/compare/main...tboldagh:acts:refactor-seed-finder-config-and-context?expand=1

[2022-09-20 12:55] LuisFelipeCoelho commented on #1522
I agree with the changes

[2022-09-20 15:06] LuisFelipeCoelho commented on #1522
@robertlangenberg, do you know why Seedfinder is not capitalised?

[2022-09-21 08:13] robertlangenberg commented on #1522
That was a simple oversight, I have no objection against renaming :)

[2022-09-21 14:02] Lucas-Borgna opened #1544 "Add Primary Vertex Label to tracks"
Adding new feature that gives a label to tracks that indicate if they originate from the primary hard scattering vertex or if they came from a pileup. This is not tagetted for a particular release or milestone.

The changes should be contained within [TrackFitterPerformanceWriter.cpp](https://github.com/acts-project/acts/blob/main/Examples/Io/Performance/ActsExamples/Io/Performance/TrackFitterPerf

[2022-09-26 16:22] CarloVarni opened #1557 "Bug: SeedfinderOrthogonal in Acts Core uses ActsExamples::SimSpacePoint"
Looking at the code for the Orthogonal Seeding in Acts Core that was introduced with https://github.com/acts-project/acts/pull/904 by @stephenswat, it looks like it uses `ActsExamples::SimSpacePoint`: https://github.com/acts-project/acts/blob/main/Core/include/Acts/Seeding/SeedFinderOrthogonal.ipp#L509

[code]

As far as I can see `ActsExamples::SimSpacePoint` is defined in the ActsExamples folder

[2022-09-28 20:02] asalzburger commented on #1522
Yes, let us rename - I always disliked the `Seedfinder` spelling.

[2022-09-30 09:39] #1557 closed

[2022-10-03 12:42] andiwand commented on #1385
https://github.com/acts-project/acts/pull/1454 fixes the problem but will lead to

[code]

for stopped particles.

[2022-10-04 05:41] HadrienG2 opened #1571 "ACTS_SETUP_ACTSVG does not seem to do anything"
PR #1360 added a CMake option called ACTS_SETUP_ACTSVG that serves no apparent purpose, in the sense that the only hit when searching for it in the upstream acts and actsvg repos is its declaration.

Judging by the differing naming conventions in the two repos, I suspect this might be a leftover from a past development stage. If so, it might be safe to just delete it, but I wanted to check out bef

[2022-10-05 08:32] #1571 closed

[2022-10-05 16:20] Corentin-Allaire commented on #1253
I just retried this and it seem to be fixed somehow...
@plariono could you also try ? (using the propagation.py for example ?) If it also work for you I guess we can resolve this

[2022-10-06 10:06] andiwand opened #1578 "Segfault for ODD+Pythia8+Geant4"
@benjaminhuth pointed out that ODD+Pythia8+Geant4 will segfault in full chain

I just verified this. See attached files for more information.

[segfault.txt](https://github.com/acts-project/acts/files/9723819/segfault.txt)
[full_chain.txt](https://github.com/acts-project/acts/files/9723821/full_chain.txt)

[2022-10-06 10:30] paulgessinger commented on #1578
Hm, could be the two interfere?

[2022-10-06 10:35] asalzburger commented on #1578
Is this executed in single thread ?

[2022-10-06 10:36] asalzburger commented on #1578
No good ``numThreads=-1`` - this would need Geant4MT.

[2022-10-06 10:47] benjaminhuth commented on #1578
For me this crashes with one thread as well

[2022-10-06 10:51] asalzburger commented on #1578
Is that with the same error / segfault ?

[2022-10-06 11:09] benjaminhuth commented on #1578
Hmm it looks a bit different to be honest, but couldn't check in detail for no.
I attache my gdb backtrace, maybe this gives a hint.

[backtrace.txt](https://github.com/acts-project/acts/files/9724203/backtrace.txt)

[2022-10-11 08:58] paulgessinger commented on #1484
Ok coming back from this: should we discuss this in the developers meeting to try to agree on a solution?

I personally think we should stick to explicit warnings and extend the magnetic field map(s) where this occurs. At the very least we should make this configurable and default to an explicit error.

[2022-10-11 09:30] andiwand commented on #1484
So I think this issue is related to what I tried to fix here https://github.com/acts-project/acts/pull/1454. Currently CKF does not support standard aborters and will propagate particles much further than necessary.

[2022-10-11 09:34] plariono commented on #1253
@Corentin-Allaire Yes, also for me the error disappeared.

[2022-10-11 10:33] paulgessinger commented on #1253
Ok then let's tentatively close. Feel free to reopen if the issue pops up again.

[2022-10-11 10:33] #1253 closed

[2022-10-11 16:42] Corentin-Allaire commented on #1578
As we discussed during today's meeting I tried to replace the ODD by the GDLM implementation of Alice_v3 and it ran through with just a few warning.
So the issue is either with the ODD itself or the ```DDG4DetectorConstruction```...

[2022-10-11 16:52] timadye commented on #1484
I see #1454 has been merged. Thanks!
Unfortunately I get as many
```TrackFinding   ERROR     Step failed with MagneticFieldError:1: Interpolation out of bounds was requested```
errors as before.

[2022-10-12 08:42] paulgessinger commented on #1484
Ok. Could you try to get a verbose navigation output when the error occurs? This would confirm if this is in fact due to a navigation failure.

[2022-10-12 09:27] rubihason opened #1594 "output of ActsExampleAdaptiveMultiVertexFinder"
hello,
I was running the example and everything was fine, but the only output is the running time.
there is any possible way to output the data of the vertex, like position or energy and etc?
root or CSV format?
![Acts](https://user-images.githubusercontent.com/111228683/195305245-7bd95bdd-ed94-40e2-8e01-7c18b2678695.jpg)

[2022-10-12 09:36] andiwand commented on #1484
interesting. when I saw `getField({-2849, -2486, 54450})` I thought these errors could get caught by the path limit aborter. maybe we would also need an end of world aborter in the CKF?

[2022-10-13 08:25] paulgessinger commented on #1594
Hey @rubihason! There is indeed the possibility to write information in at least ROOT format (not sure we have CSV for the vertices). The executable here likely has options that control the output.

However, these executable examples are deprecated, so you should consider switching to the python based examples.

[2022-10-13 09:15] benjaminhuth opened #1596 "Navigator: Resolving surfaces/layers/boundaries with bending tracks"
**Problem:**
I recently had a problem with the navigation, when experimented with a toy detector with alot of surfaces.

The problem was that resolving layers/surfaces/boundaries is done via straight line intersection. With a large geometry and/or very bending tracks this can become a problem (see e.g. the following sketch for my case with the forward-backward pass of a fitter)

![image_2022_10_12

[2022-10-13 09:19] paulgessinger commented on #1596
First of all sorry to @pbutti for not realizing this was the same issue!

I think the pragmatic solution before the updated layer-less navigation is to add the full mode, off by default.

[2022-10-13 09:31] benjaminhuth commented on #1596
And we should add a Unit-Test that checks this, to make sure this is cached if the navigation code changes.

[2022-10-13 09:35] benjaminhuth commented on #1596
I could investigate this after the GSF thing, that has priority for me now

[2022-10-18 08:00] rubihason commented on #1594
Hey, thanks for helping!
I switched to python and the only script for a vertex is "vertex_fitting".
The only data that I received from this script is this:
![Acts](https://user-images.githubusercontent.com/111228683/196371284-cb56863b-cb70-42e3-8a2d-3566d2481724.jpg)
Maybe have more information about the tracks from each vertex?
Perhaps that are more scripts of vertex?

[2022-10-18 08:43] paulgessinger commented on #1594
About the script: the vertex fitting should also be part of `full_chain_odd.py` and can be configured in the python anywhere else if needed.

Indeed this is only the output used for performance monitoring. There's no coherent output of all the quantities, we only partially have this for particles and tracks. The IO model of the Examples framework is bare-bones.

If you have the need for a particul

[2022-10-18 13:51] benjaminhuth opened #1603 "Particle smearing assertion with Geant4"
When enabling `ACTS_FORCE_ASSERTIONS=ON` and doing some simulation with Geant4 + Particle smearing, this assertion can occur:

![issue](https://user-images.githubusercontent.com/37871400/196447645-41d51a14-c5d6-4f6a-90f9-b7e2f2f65fe2.png)

The reason seems to be that there is this particle with PDG `1000140300` is produced by geant, which as charge `+14` or so, but this does not work with the `Act

[2022-10-20 10:51] rubihason commented on #1594
Hi, i was trying full_chain_odd.py and it ask for DD4hep, I installed DD4hep and he had some problems finding the file.
maybe you know this error?
![Acts](https://user-images.githubusercontent.com/111228683/196929569-560eb290-f79a-4c8d-bd2a-5c0385755dab.jpg)

[2022-10-22 08:18] tboldagh opened #1613 "Uncalibrated and calibrated source links in MultiTrajectory should have symmetric access API"
In MultiTrajecory the SourceLink to calibrated and uncalibrated measurements have slightly asymmetric API.
One access is called `uncalibrated` and another `calibratedSourceLink`
The suggestion if to  replace the former with: `uncalibratedSourceLink`.
It ice be introduced in a non-breaking way.

[2022-10-27 13:33] andiwand commented on #1385
closing as this should be fixed with https://github.com/acts-project/acts/pull/1454

[2022-10-27 13:33] #1385 closed

[2022-11-01 10:24] abidihaider opened #1641 "Error in running the ATLAS ITk example"
I am trying to run the ITk tutorial that @timadye ran in the ACTs workshop in September. The only change I have made is to pull the latest HEAD

When I try to run the full_chain_itk.py script, I run into the following error when the vertexing is configured:

[code]

Let me know if you need any more information

[2022-11-01 11:59] andiwand commented on #1641
just talked to @paulgessinger if we can/should monitor the ITk full chain somehow but the problem is that we need permissions for that in the CI. I also never ran the ITk full chain locally so I fear this will come up again in the future. any ideas how to avoid this in the future? @timadye

[2022-11-01 12:09] timadye commented on #1641
I think it would be good to keep the odd and itk examples in sync, but that means being able to test both. Can you run try to run it locally? Once the `acts-itk` repo is downloaded, it isn't a big deal to test. Or don't you have access to that?

[2022-11-01 12:13] andiwand commented on #1641
I think I have access but never tried it because I haven't been working on the ITk. I will try to set it up

[2022-11-01 12:18] timadye commented on #1641
If you have any trouble, you can find help in my Workshop slides, eg. p5 here:
https://indico.cern.ch/event/1195929/contributions/5036509/attachments/2517451/4328300/tutorial_standalone.pdf

[2022-11-01 14:09] benjaminhuth opened #1643 "Bad physmon results if interactions enabled in Fatras"
Until now, all interactions are disabled by default in Fatras. Enabling them causes quite some bad results in the physmon for some setups (see plots in #1631).
What should be the next steps to investigate this?

[2022-11-01 17:59] #1641 closed

[2022-11-02 10:40] andiwand commented on #1641
okay that was much easier than I feared - I will try to run this from time to time. hopefully I won't break it so easily in the future @timadye

[2022-11-03 14:17] rubihason opened #1647 "Adding DD4hep"
Hello, i was trying to add DD4hep to acts, and I got this error:
[code]

[2022-11-04 14:41] andiwand opened #1657 "Analysis apps return different output with different number of threads while reconstruction"
In https://github.com/acts-project/acts/pull/1654 we observed that the analysis apps will return different outputs if the reconstruction ran on multiple threads. Our suspicion is that the event order will modify the output of the program.

I attached the observed and reference root files below.

[root_files.zip](https://github.com/acts-project/acts/files/9939321/root_files.zip)

[8_Physics perform

[2022-11-07 16:24] asalzburger opened #1659 "Create volume restricted BFieldMap"
As discussed in the context of `FASER2` a convenient volume restricted Bfield map could be very useful.

Possible implementation:

[code]

And then simply do in the `getX(...)` implementations:

[code]

[2022-11-08 16:09] #1647 closed

[2022-11-08 17:42] rubihason opened #1661 "error while i running full_chain_odd.py"
Hello,
I was trying to run the script full_chain_odd in python, and I got this error:
[code]

[2022-11-08 17:43] #1594 closed

[2022-11-08 18:01] paulgessinger commented on #1661
This is likely because you need to initialize and update the ODD repository. You should also double-check that you have git lfs installed.

[2022-11-09 16:59] Maury98 opened #1666 "Bug: GSF crashes with a segmentation error (single electron, ATLAS production)"
I'm currently doing refitting of ATLAS tracks inside Athena (the ATLAS software environment) with the ACTS GSF, so calling the `fit` function of GSF.
On some events, a crash (segmentation fault) occurs just after calling the `fit` function from [GaussianSumFitter.hpp#L139](https://github.com/acts-project/acts/blob/main/Core/include/Acts/TrackFitting/GaussianSumFitter.hpp#L139) and before this func

[2022-11-10 09:54] benjaminhuth commented on #1666
So without a stack trace or verbose log it is difficult to say where the error exactely comes from. That would be the first step. What is the exact issue with the VERBOSE output?

It might be possible that it will be fixed by the large GSF refactor I'm currently doing (#1629). Is it easy possible to compile ACTS with this branch and check if it is still present

[2022-11-10 09:57] Maury98 commented on #1666
I run the Reco_tf.py with those additionnal flags: `--verbose --multithreaded=False --multiprocess=False`.
Here is a link to the log file when running the above command (`Reco_tf.py ...`) with the above mentionned RDO file: https://cernbox.cern.ch/s/ikiPkpvJVFSULGt

[2022-11-10 09:58] Maury98 commented on #1666
Yes, I'm currently looking into compiling and using a custom ACTS build with Athena. I'll try using your refactor/gsf-big-refactoring branch from your fork then

[2022-11-10 10:10] benjaminhuth commented on #1666
Ah here we go:

RAWtoALL 10:44:30 ActsReFitterAlg.ActsKalma...Acts GaussianSum RefitWARNING Did not find forward states on surface vol=21|lay=4|sen=2676

This should be fixed with #1629

[2022-11-11 11:31] #1666 closed

[2022-11-12 17:22] beomki-yeo commented on #1477
Closing the issue as it turned out that I was wrong

[2022-11-12 17:22] #1477 closed

[2022-11-14 17:08] tboldagh commented on #1522
The PR finally addressed this issue entirely. There are small optimisation that I still planned to do but otherwise this ticket can be closed.

[2022-11-14 17:08] #1522 closed

[2022-11-20 16:49] rubihason commented on #1661
Hi, it is still not working.
The file odd-material-maps.root is still 133 bytes. Is there are options to download the file?
I followed this https://acts.readthedocs.io/en/latest/getting_started.html#the-opendatadetector.

[2022-11-21 09:15] paulgessinger commented on #1661
You can download the file from the CERN GitLab directly via the web interface.
This definitely works in a correct git lfs setup, so if it's likely a local issue on your system, that I can't really debug from my end.

[2022-11-23 14:14] tboldagh opened #1690 "Refactor Seeding to avoid repeated Finders instantiations"
At ACTS dev. weekly 22.11.22 we discussed and agreed that SeedFinder(s) should be refactored so that clients (example algorithm in ACTS or ATLAS Athena or ... ) do not need to reinstantiate it for every event.

In practice this means that seed finding method should get part Options object that changes from event to event in the methods that process the data rather than at construction.
Suitable Op

[2022-11-23 17:13] Corentin-Allaire commented on #1578
I have had an other look at this and I just notice something. If I start removing the support from the ODD xml the segfault happen much later so maybe there is something bad with the support surface definition ?

[2022-11-25 08:45] andiwand commented on #1657
it looks like root will produce different histograms when your data is shuffled. our output seems to be equivalent except for the order, which comes from multi threading.

not sure what the solution to this is.
- we could sort the root file before creating the histograms. I had no success sorting the root file in memory tho
- otherwise we have to refactor the analysis scripts which might be a ton

[2022-11-25 09:49] HadrienG2 commented on #1657
That makes sense, floating point summation is not associative so if you do summation in different order, you get slightly different results.

The solution IMO is to only test for bitwise histogram reproducibility when running in sequential mode, and resort to some tolerant approximate comparison in the parallel case (may be a simple matter of checking that bins are within N ulps of the expected re

[2022-11-25 09:56] benjaminhuth commented on #1657
I agree.

I think the purpose of physmon is to check that the general performance of our algorithms is constant (e.g., I would also say it would be good if all that works with a random seed instead of a fixed one). However, if e.g. reordering let these tests fail, we are again close to a bitwise-test, and for that we have the root-hashes.

So I would argue instead of refactoring our tools we shoul

[2022-11-25 10:15] andiwand commented on #1657
I thought in order to decide on the bins it has to do some min/max or sorting of the data but it looks like it doesn't. not sure how this works

so we could also use static binning but not sure how to come up with good values

I agree. I think the histcmp is quite good for that as long as root histograms don't change their binning. the problem is the analysis script which creates a ton of histogra

[2022-11-25 10:23] andiwand commented on #1657
for reference here are the two histograms I saw

single threading

![image](https://user-images.githubusercontent.com/487211/203962222-81508251-1e6a-4927-bb6b-d76841d304f5.png)

multi threading

![image](https://user-images.githubusercontent.com/487211/203962286-e5c4676a-ab98-41cd-be8e-e4347f94bda9.png)

[2022-11-25 11:03] HadrienG2 commented on #1657
It would be nice to have this on a log scale to see the little bins that drive the scale.

[2022-11-25 11:20] andiwand commented on #1657
good idea

![res_eLOC0_prt-mt](https://user-images.githubusercontent.com/487211/203974793-ddbee272-7981-48f6-8238-235f558c7551.png)
![res_eLOC0_prt-st](https://user-images.githubusercontent.com/487211/203974796-dbfdd5f0-7ac0-4ee2-9f8f-fbe7c36324fa.png)

somehow the reason for the different ranges stays hidden

[2022-11-25 11:39] HadrienG2 commented on #1657
Actually those results look significantly different around -100. Maybe you found an actual parallelism bug ?

[2022-11-25 11:42] andiwand commented on #1657
I believe it just looks different because of the binning. I checked the two files with https://github.com/acts-project/acts/blob/main/Examples/Python/tests/helpers/hash_root.py and a custom script and they seem to be identical

[2022-11-25 11:43] HadrienG2 commented on #1657
Ah yes you're right, forgot that binning could be different.

[2022-11-25 11:45] andiwand commented on #1657
it's interesting that there seems to be no data at 350. no clue why or how root comes up with that range. I will check the data with uproot for min max

[2022-11-25 12:25] andiwand commented on #1657
just checked the range of values in this branch `[-116.75067, 117.44283]`

[2022-11-28 14:26] CouthuresJeremy opened #1699 "Optimal seeding parameters for a detector"
Hello,
Would it be possible to add the set of default seeding parameters for each detector in the documentation?
We are interested in studying ODD first:
[https://acts.readthedocs.io/en/latest/getting_started.html#the-opendatadetector](url)
And later we would like to work with ITk and the same question will arise.
@stephenswat

[2022-11-28 14:30] CouthuresJeremy opened #1700 "Detailed timing per event"
Hello,
would it be possible to get the detailed timing per event for each algorithm instead of the total?
@stephenswat @LuisFelipeCoelho

[2022-11-28 15:35] paulgessinger commented on #1700
Did you check `timing.tsv` that gets written when you run `Sequencer`?

[2022-11-29 09:05] CouthuresJeremy commented on #1700
Yes, below is an example of a `timing.tsv` file that I have for 100 events. What we can see is that `time_perevent_s` seems to correspond to `time_total_s / 100`.
[code]
What I would like to have is something like:
[code]
This would allow to plot timing performance as a function of event-specific quantities.

[2022-11-29 09:27] paulgessinger commented on #1700
Ok got it. We could make the Sequencer produce such a format, but I think it should be off by default, as it might produce very large files.

Would you be willing to add this functionality @CouthuresJeremy?

[2022-11-29 09:42] CouthuresJeremy commented on #1700
Yes, it would be better off by default.

After a look at the `Sequencer.cpp`, I honestly don't know how to implement that.
https://github.com/acts-project/acts/blob/d6f93fa9c2100ef5315e20684ce24c7d2798cedd/Examples/Framework/src/Framework/Sequencer.cpp#L1

[2022-11-29 10:22] LuisFelipeCoelho commented on #1699
If I understand correctly, you want a list of the values of the seeding parameters for each detector? or an explanation of what each parameter means?
@paulgessinger and @noemina, do you have an opinion on this topic?

[2022-11-29 15:17] CouthuresJeremy commented on #1699
Yes, a list of the values would be good.

I found the explanation of each one of them in the `SeedFinderConfig.hpp` file.

https://github.com/acts-project/acts/blob/2e7113d43d7c36e4141dc1688c8cb73981ce13c4/Core/include/Acts/Seeding/SeedFinderConfig.hpp#L28-L174