[2020-11-05 14:20] asalzburger commented on #561
I also run the `PropagationTest` through the `TrackML` detector. Approach surfaces e.g. are often only necessary for doing the lookup of the surface candidates, and there's no much else to do.

Before we write lengthy paragraphs, lets make a test version and time it :-)

[2020-11-05 14:28] paulgessinger commented on #561
@msmk, but you should be able to tell **if** a surface has a measurement just from the surface itself. And you can check **if** a surface has material without a location as well.

[2020-11-05 14:31] msmk0 commented on #561
Yes, that is true. As @asalzburger let's time a realistic version.

[2020-11-05 17:27] XiaocongAi commented on #571
@asalzburger Do you mean that the navigator is not aware of those surfaces?

[2020-11-06 16:21] asalzburger opened #576 "Timing optimisations for GenericExtenstion (similar for DenseEnvironmentExtension)"
During the rework of the Stepper/Propagator states, I came across a view optimisations that are cheap and easy to do.

- Cross product in VectorHelpers:

[code]

Eigen's `matrix.colwise().cross(vector)` is way more performant.

- Assignment & creation

[code]

Using a static `FreeMatrix s_freeMatrix = FreeMatrix::Identity()` etc. saves the nulling.

- Also here might be a fast solution via broadca

[2020-11-08 11:01] HadrienG2 opened #578 "Stalebot considered harmful"
stalebot generates a huge amount of automated e-mail traffic under two dubious assumptions:

1. Issues which are not being actively worked on should not be kept open.
2. It is a good idea to regularly reminds developers about stale issues by way of GitHub comments.

---

I think assumption 1 is flawed because...

- Issues record important matters, mostly bugs. Hiding bugs from the open bug list un

[2020-11-08 12:38] paulgessinger commented on #578
I understand your points, but I won't write an equally elaborate response.

I think you're correct that periodically going through issues and re-triaging would suffice, but realistically we do this ~ never, maybe once a year or so. In the absence of this, the issue list, given sufficient size becomes approximately useless. The notification problem we have if **only** that we keep reopening issues

[2020-11-08 12:40] paulgessinger commented on #578
EDIT: One reason why long term issues, or just backlog issues don't work for us is that nobody ever goes through the list and looks at what needs to be done, and then starts working on it. That's just not something that happens, at least that I'm aware of. Most people have a private todo-list, that sometimes spills over into our issues, is what it seems to me.

[2020-11-08 12:42] paulgessinger commented on #578
@HadrienG2 concerning your issue with bug reports: we can add a label that exempts an issue from stale bot. This would address you're (correct) concern that a bug doesn't go away on it's own, therefore the issue should stay open.

[2020-11-08 12:46] paulgessinger commented on #413
I think this has actually been addressed.

[2020-11-08 12:46] #413 closed

[2020-11-09 07:51] msmk0 commented on #578
One option could be to exempt `Bug`-labeled issues from the stale bot?

[2020-11-09 07:52] msmk0 commented on #441
Should still happen.

[2020-11-09 07:52] msmk0 commented on #448
I still need to do this.

[2020-11-09 07:52] msmk0 commented on #388
Work is ongoing.

[2020-11-09 07:54] msmk0 commented on #409
Still needs to be investigated how this affects build- and runtime.

[2020-11-09 07:57] msmk0 commented on #119
The structure of the file format is already implemented by the `GeometryHierarchyMapJsonConverter`. How the information for concrete datatypes is encoded can be clarified later. I will close this for now.

[2020-11-09 07:57] #119 closed

[2020-11-09 07:58] msmk0 commented on #139
Work is ongoing.

[2020-11-09 08:00] msmk0 commented on #146
@XiaocongAi This was fixed in #534, correct?

[2020-11-09 08:14] msmk0 commented on #145
@XiaocongAi This was fixed in #534, correct?

[2020-11-09 08:32] paulgessinger commented on #578
Yeah, see my comment above.

[2020-11-09 08:46] XiaocongAi commented on #145
Exactly!

[2020-11-09 10:10] msmk0 commented on #145
Ok, I will close this issue then.

[2020-11-09 10:10] #145 closed

[2020-11-09 10:11] msmk0 commented on #578
@paulgessinger Apologies for the duplication. Your comment somehow slipped by me.

[2020-11-09 10:25] paulgessinger commented on #578
Let's discuss this in the meeting tomorrow.

[2020-11-09 14:01] osbornjd opened #579 "Fatal Error in local-to-global transformations"
Sometimes when running the `Acts::Propagator`, there are cases where the `CovarianceEngine` throws a fatal error when trying to perform a global to local transformation [here](https://github.com/acts-project/acts/blob/c95a6b10a79036615c5df5838091c3b8e5d6c224/Core/src/Propagator/detail/CovarianceEngine.cpp#L184). This fatal error throws an exception and then immediately stops the code from continui

[2020-11-10 09:33] HadrienG2 commented on #578
@paulgessinger Let me check my understanding of your main points by reformulating (please cross-check for any misunderstanding or forgotten information), and give you some initial replies that we can discuss further in today's meeting...

- You agree that bug reports should be excluded from stalebot auto-closing, but think it's a reasonable measure for other kinds of issues (feature requests, disc

[2020-11-10 14:06] asalzburger opened #581 "bug: problem with some propagations not concluding in the max steps."
PR #390 reveals a problem with some propagations not concluding in the max steps.

@XiaocongAi has seen this as well with fitting - I am not saying this one creates the problem, it probably reveals it better due to the new ErrorCode.

_Originally posted by @asalzburger in https://github.com/acts-project/acts/pull/390#issuecomment-724723322_

[2020-11-10 14:24] paulgessinger commented on #581
Can you elaborate how this is related?

[2020-11-10 14:31] asalzburger commented on #581
Yes, we have a looper:

![Unknown-2](https://user-images.githubusercontent.com/26623879/98687147-b202d380-2369-11eb-9338-1b690e504fed.png)

[2020-11-10 14:32] asalzburger commented on #581
So, the loop protection does not kick in (will check why), and then the propagation runs out of attempts and the PropagationAlgorithm doesn't check for this at all (which is also bad).

[2020-11-10 14:52] asalzburger commented on #581
Ha, looks like the loop protection is too low for this example ....

[code]

The particle is just above threshold is seems ...

[2020-11-10 14:59] asalzburger commented on #581
Fixed by # #582.

[2020-11-10 14:59] #581 closed

[2020-11-10 16:11] asalzburger commented on #545
This is fixed.

[2020-11-10 16:11] #545 closed

[2020-11-10 16:13] asalzburger commented on #483
I see, I will assign to me.

[2020-11-10 16:14] asalzburger commented on #36
I could not reproduce this in a simple test last week on master.

[2020-11-10 16:18] asalzburger commented on #117
This was closed by #82

[2020-11-10 16:18] #117 closed

[2020-11-10 16:19] asalzburger commented on #454
Will check.

[2020-11-10 16:21] asalzburger commented on #522
We should make a testbed and see what the vertexing says then.

[2020-11-10 16:25] FabianKlimpel commented on #36
Does it mean that the performance is going up when you set it to 0?

[2020-11-10 16:25] asalzburger commented on #388
This is awaiting the EDM rework.

[2020-11-10 16:27] asalzburger commented on #36
No, I do not see the a significant reduction when I set `D(3,7) = 0`.

Anyhow, I saw quite some timing issues with the `EigenStepper`, it's currently significantly slower than the AtlasStepper.

[2020-11-10 16:30] #397 closed

[2020-11-10 16:32] asalzburger commented on #490
@XiaocongAi has @pbutti and he will find some time in the next weeks to work on this.

[2020-11-10 16:33] asalzburger commented on #508
This is handled with #521

[2020-11-10 16:35] asalzburger commented on #430
We will join this with the #509

[2020-11-10 16:37] asalzburger commented on #509
WE have still a similar request with #430. Probably we can join these two issues and define a feature request (as discussed in the developer meeting).

[2020-11-10 16:38] asalzburger commented on #488
This would need the implementation of a decorator for the AlignedDetector. I assign this to @Corentin-Allaire.

[2020-11-10 16:40] asalzburger commented on #417
As discussed int he meeting, we can close this for the moment.

[2020-11-10 16:40] #417 closed

[2020-11-10 16:41] asalzburger commented on #159
This is being worked on. #388 will address a lot of this.

[2020-11-10 16:42] HadrienG2 commented on #165
Blocked on EDM rework and Stepper rework.

[2020-11-10 16:46] robertlangenberg commented on #43
work in progress

[2020-11-10 16:46] asalzburger commented on #55
This can be closed the reworked Digitization from #388 will address this.

[2020-11-10 16:46] #55 closed

[2020-11-10 16:46] #24 closed

[2020-11-10 16:49] HadrienG2 commented on #207
Whoops, another valid bug that was auto-closed without being resolved (AFAIK).

[2020-11-10 16:52] HadrienG2 commented on #486
As far as I know, this problem is still present.

[2020-11-10 16:54] HadrienG2 commented on #485
As far as I know, this is still an issue.

[2020-11-10 16:54] HadrienG2 commented on #484
As far as I know, this is still an issue.

[2020-11-10 16:56] HadrienG2 commented on #155
I have this on my medium-term TODO list.

[2020-11-10 16:57] Corentin-Allaire commented on #207
We should try to bring up next week during the meeting. I think it might be related to G4 directly but I am not too sure.

[2020-11-10 16:58] HadrienG2 commented on #157
Still blocked on #155.

[2020-11-10 20:26] paulgessinger commented on #36
Hm, so last time I had tested this on my end, `D(3,7) = 0` had *good* performance, and `!= 0` had *bad* performance. Do we think that right now this might be masked by something else worsening propagator performance?

[2020-11-11 03:44] whit2333 commented on #509
Well, I think the answer to my question is that the shapes do nothing in the dd4hep plugin. I think they are only to color the different detector regions red, green, and blue like in figure above.

Is this correct? If so please feel free to close the comment.

[2020-11-11 03:47] whit2333 commented on #456
@msmk0 Outside of Fatras, is there another library that provides the PDG particle codes that is maintained? Do you have any recommendations?

Thanks.

[2020-11-11 06:44] FabianKlimpel commented on #36
The issues @asalzburger found were there for a long time already and are not related to this issue.
But the latest changes in the stepper (#569) give us an opportunity to change it easily in the near future (i.e. after #572). If all matrix and vector elements are accessed by the bound or free enum then re-defining the enum would allow us to move this particular index to another entry in the matrix

[2020-11-11 07:07] HadrienG2 commented on #36
@asalzburger Just out of curiosity, did you check with and without covariance transport enabled? When I last checked, without covariance transport the speed of the two steppers was comparable, and it was covariance transport specifically which seemed to need some work in the `EigenStepper`.

[2020-11-11 07:57] msmk0 commented on #456
I do not really know. Typically, the PDG values are set e.g. by the generators and then passed through.

[2020-11-11 08:01] msmk0 commented on #456
To generate the particles tables within `ActsFatras`, I used the [particle](https://pypi.org/project/particle/) Python package. That is a nice (non-C++) package to access particle information.

[2020-11-11 08:26] paulgessinger commented on #36
Ok, so we have two issues:

1. `D(3,7) != 0` makes `EigenStepper` slow
2. `EigenStepper` is slow generally

Can you confirm this?

[2020-11-11 08:28] asalzburger commented on #36
As I said, I could not easily reproduce the point 1. - but timing is always tricky to do.

For 2. the splitting of the Jacobian calculation into different functions has probably created an unneccessary overhead in creation of matrices, which I can partly reduce when concentrating the math back into one function.

[2020-11-11 08:32] paulgessinger commented on #36
But you had reproduced as per you [comment back on GitLab](https://gitlab.cern.ch/acts/acts-core/-/issues/653#note_2946398) (also posted here in my name due to the migration). So it might have gone away or be masked by number 2.

[2020-11-11 08:39] asalzburger commented on #36
I know, I tried setting the component to 0 last week and it did not show up (at least not this significantly), I will have to redo the tests, but as @FabianKlimpel said correctly, the reordering of the components would be much easier when #572 and #569 are both in.

[2020-11-11 08:48] paulgessinger commented on #36
Ok, that's perfectly fine! I just wanted to know what the current understanding / situation is.

[2020-11-11 10:41] msmk0 commented on #207
I am not sure that we should even try to make the Geant4 modules thread-safe. Maybe we can enforce that the Geant4 tools only run single-threaded.

[2020-11-11 12:44] #508 closed

[2020-11-11 13:23] asalzburger opened #584 "Feature: Vectorize the planar surface intersections"
Currently, when running the `ActsExamplePropagation`, we spend 15-20 percent of time in finding the local surface candidates on a layer:

[code]

within this, a significant part of the time is spent in intersecting planar surface candidates returned by the layer.
For the Generic detector, e.g. these are either 6 (end cap) or 9 (barrel: hit bin + all neighbours).

![Unknown-3](https://user-images.g

[2020-11-11 13:52] asalzburger commented on #584
This can then be expanded to the intersections in the propagator, however, there different surface types have to be handled.

[2020-11-13 08:13] asalzburger commented on #36
Hi, I ran the KF_filter test with and without the component set to zero:

* `D(3,7)` set to 0:

[code]

* `D(3,7)` as spelled outL

[code]

[2020-11-16 15:24] Corentin-Allaire commented on #488
I think the decorator is implemented for the AlignedDetector (as far as I can tell).
The problematic any_cast appear to be in the implementation of the transform method of the AlignedDetectorElement :
`inline const Acts::Transform3D& AlignedDetectorElement::transform(
    const Acts::GeometryContext& gctx) const {
  // Check if a different transform than the nominal exists
  if (m_alignedTransform

[2020-11-17 16:29] osbornjd commented on #579
Updating this issue with the slides that I showed in today's developer meeting. The issue is that (if I understood correctly) in the path limit aborter logic the aborter can be triggered without flagging that the target surface is not set. Thus, the aborter is triggered, signaling that the target surface has been reached, but (in some cases) the target surface has not actually been reached and thu

[2020-11-17 16:46] #469 closed

[2020-11-18 10:28] asalzburger commented on #488
Hi Corentin, I see the issue: probably the JsonConverter has to swallow a `GeomentryContext` when being called?
That should fix the issue, right?

[2020-11-18 10:41] Corentin-Allaire commented on #488
That would definitely solve this yes. I was just wondering if the default GeometryContext is supposed to be usable or not because I think it might also be used in the code in other places.

[2020-11-18 10:47] asalzburger commented on #488
The design decision was that we carry the context through, and then it can be `static_cast<>`'ed at no cost at the consumer. So, I guess the default context has to be the default context of the dedicated detector.

[2020-11-18 10:55] Corentin-Allaire commented on #488
OK, thanks ! I will open a PR to fix the issue with the converter and then have a look if similar issue are present elsewhere.

[2020-11-20 08:46] jadz1 opened #596 "Bug (Major): Problem with CKF, drop in efficiency, high values of chi2"
Hello,
After I generate a sample (ttbar or ParticleGun), and do the simulation step with a Generic detector (TrackML-like), I do the reconstruction using CKF, and I get an efficiency versus eta that has two very deep drops in it (around |η|~2.5). This issue appears when using ParticleGun or Pythia8. You can see an example in this plot here in the case of a muon PG with 1000 events.

￼
![Pasted Gra

[2020-11-22 10:40] #185 closed

[2020-11-22 10:40] #48 closed

[2020-11-23 12:05] asalzburger commented on #488
Closed by #594.

[2020-11-23 12:05] #488 closed

[2020-11-25 03:35] whit2333 commented on #456
@msmk0 Thanks!

[2020-11-30 13:53] osbornjd commented on #579
@asalzburger do you have an estimate of when you might be able to looking at this? Just curious as we'd like to update our Acts version, but only after this is in.

[2020-12-01 13:28] msmk0 opened #607 "Old parameter definitions file are still available"
The `Utilities/ParameterDefinitions.hpp` file is still available but should have been removed in #590.

[2020-12-01 16:39] #607 closed

[2020-12-01 16:44] asalzburger commented on #579
I will put it on my list for Thursday, so I hope we can check/update this by the end of the week.

[2020-12-01 16:58] HadrienG2 commented on #482
In today's meeting, we discussed whether we could resolve this problem by just making all errors fatal, all the time, via the usual mechanisms like throwing exceptions.

Unfortunately, in regular operation we do want some errors to be non-fatal (e.g. propagation of a "pathological" particle), and some errors to be fatal. Whereas in CI, we probably want all errors to be fatal, because we can just c

[2020-12-01 17:13] XiaocongAi commented on #596
Hi @jadz1 , thank your for those checks. As we discussed privately, we can probably play with the measurement resolution, the seed resolution and the detector a bit. We are currently changing the inputs of CKF to use more dedicated truth smearing to mimic the measurements. With that change and the Open Data Detector,  we might have a better understanding of the reason for this issue.

[2020-12-02 08:13] paulgessinger commented on #482
This could just be a preprocessor define like `ACTS_FAIL_ON_ERROR` maybe?

[2020-12-02 11:01] HadrienG2 commented on #482
It would be unset by default, set on CI builds, and trigger throwing an exception in circumstances where errors would normally be logged but ignored ?

[2020-12-02 11:17] paulgessinger commented on #482
Yeah, basically redefine `ACTS_ERROR` to throw if `#ifdef ACTS_FAIL_ON_ERROR` is what I thought.

[2020-12-04 16:43] msmk0 commented on #146
@XiaocongAi Could you clarify whether this was fixed in #534?

[2020-12-07 08:02] msmk0 commented on #561
Work is ongoing e.g. in #577 .

[2020-12-07 08:08] #415 closed

[2020-12-10 14:52] #350 closed

[2020-12-11 08:15] #448 closed

[2020-12-14 09:05] #441 closed

[2020-12-15 12:56] #236 closed

[2020-12-15 16:34] robertlangenberg commented on #578
Will go over stale issues regularly

[2020-12-15 16:34] #578 closed

[2020-12-15 16:39] #544 closed

[2020-12-15 16:42] #509 closed

[2020-12-15 16:42] robertlangenberg commented on #495
@asalzburger ping!

[2020-12-15 16:45] XiaocongAi commented on #490
This is handled in #621 .

[2020-12-15 16:51] paulgessinger commented on #430
Closed in favor of trying the discussion Github feature: #630

[2020-12-15 16:51] #430 closed

[2020-12-15 16:56] #379 closed

[2020-12-15 17:11] #531 closed

[2020-12-15 17:14] robertlangenberg commented on #409
performance tests TBD in the beginning of 2021 to make a decision

[2020-12-15 17:48] msmk0 commented on #194
We are currently designing the necessary interfaces similar to what is proposed in #606 .

[2020-12-15 19:29] osbornjd commented on #579
@asalzburger is there any update on the timescale for this?

[2020-12-17 12:35] andriish opened #635 "Build instructions and the minimal required versions for the dependencies"
Hi all,

there are two minor issues related to the documentation.

- Would you consider putting in the `README.md`  the build instructions for the LCG releases?

 - Also, in addition to the C++ standard support requirement, it could make sense to specify the minimal required versions for cmake, eigen and boost.

Best regards,
Andrii

[2020-12-17 13:41] msmk0 commented on #635
Hi @andriish,

thanks for bringing this up. The `README.md` is intentionally kept as short as it is. The full documentation is available at https://acts.readthedocs.io, which should be linked both in the `README.md` and on the Github page. Please let me know if that is not the case or if it is not clear where to look.

The full documentation contains both the specific versions required as well as

[2020-12-17 13:43] msmk0 commented on #635
P.S. I would prefer not to additional information and the version requirements to the `README.md`. Since then, there are two different places which **will** lead to inconsistencies over time.

[2020-12-17 13:52] andriish commented on #635
Hi @msmk0 ,

ok, I see. Thanks for pointing to the docs. That solves the issue.
A very minor thing then is that  LCG95 has cmake 3.11 which doesn't support -B -S  options mentioned in the docs.

Best regards,
Andrii

[2020-12-17 23:14] gagnonlg opened #636 "Bug: Truth tracking example broken by recent commit"
Commit 95b21bcc2cfdcdeafb6784e6020122048d5a4ba5 introduced the following lines in Core/include/Acts/Propagator/Navigator.hpp:

[code]

While running the [RecTruthTracks example](https://acts.readthedocs.io/en/latest/howto/run_truth_tracking.html ), the code segfaults at the `auto layerID =
      state.navigation.navLayerIter->object->geometryId().layer();` line. Poking around in gdb, it seems that

[2020-12-18 08:08] msmk0 commented on #635
I am aware. We have recently moved to LCG97/98 and deprecated support for LCG95/96. The documentation needs to be updated.

[2020-12-18 08:09] Corentin-Allaire commented on #636
Hi, I will have a look this morning.

[2020-12-18 09:54] Corentin-Allaire commented on #636
@gagnonlg I don't have Pythia installed locally, could you send me directly your input files for  ActsExampleTruthTracksGeneric ?

[2020-12-18 16:52] Corentin-Allaire commented on #636
This should be fixed by #640 but I cannot test it. Could someone try it ?

[2020-12-18 17:39] gagnonlg commented on #636
Hello @Corentin-Allaire,

Thanks for the prompt response.

I will try the fix later today and get back to you. Meanwhile, I attach one of the pythia input files ([test-data.tar.gz](https://github.com/acts-project/acts/files/5717207/test-data.tar.gz)) which should be sufficient to trigger the bug.

[2020-12-18 17:42] asalzburger commented on #636
Thanks, appreciated.

[2020-12-18 19:19] Corentin-Allaire commented on #636
Thanks ! I will probably not have the time tonight but tomorrow morning I can try to look at the bug in more detail.

[2020-12-18 20:49] gagnonlg commented on #636
@Corentin-Allaire I cab confirm that #640 fixes the problem on my end, thanks!

[2021-01-03 09:37] HadrienG2 commented on #482
I intend to get back to this after going through the holiday's usual pile of emergencies.

[2021-01-04 08:04] msmk0 commented on #146
@XiaocongAi Could you check that this is fixed #534 ?

[2021-01-04 10:12] msmk0 opened #642 "Bump CI container images to v9"
The CI configuration uses inconsistent container image tags. They should all use the most recent version `v9`.

_Originally posted by @asalzburger in https://github.com/acts-project/acts/issues/628#issuecomment-753874664_

[2021-01-04 13:11] #642 closed

[2021-01-05 16:23] #576 closed

[2021-01-05 16:32] robertlangenberg commented on #157
@HadrienG2 working on it

[2021-01-05 16:33] robertlangenberg commented on #138
@asalzburger working on it

[2021-01-05 16:35] #434 closed

[2021-01-05 17:05] msmk0 opened #646 "Install custom CMake find modules"
Some of the optional dependencies do not provide CMake config files and are instead found using custom CMake find modules. When installing Acts these custom CMake find modules must be installed as well. Otherwise, using some plugins from an Acts installation (e.g. Onnx or Sycl) will break due to missing dependencies.

_Originally posted by @msmk0 in https://github.com/acts-project/acts/issues/637#

[2021-01-06 08:08] #456 closed

[2021-01-06 08:11] asalzburger opened #647 "fix: avoid double-static cast"
[code]

_Originally posted by @FabianKlimpel in https://github.com/acts-project/acts/pull/638#discussion_r552395121_

[2021-01-07 11:01] benjaminhuth commented on #646
I have quickly tested some things and found a relatively easy way to do this (though I'm not sure if this is "idiomatic cmake")

In `cmake/ActsCreatePackageConfig.cmake` I added

[code]

and in `cmake/ActsConfig.cmake.in` I added

[code]

This installs e.g. the `FindOnnxRuntime.cmake` to `CMAKE_INSTALL_PREFIX/lib64/cmake/thirdparty`, and adds this to `CMAKE_MODULE_PATH` when using `find_package(Ac

[2021-01-07 12:38] #635 closed

[2021-01-07 12:42] msmk0 commented on #646
@benjaminhuth That looks like the right way to do it. I have seen this solution before in other packages.

To avoid clashes with other packages, the module should be installed to `${install_package_config_dir}/Modules` which would translate to `.../lib64/cmake/Acts/Modules`.

Please go ahead and open a PR for this.

[2021-01-07 12:58] osbornjd opened #648 "Propagator Options for IVF"
It is unclear how/if the Iterative Vertex Finder can take modified propagator options and implement them. After discussing with Bastian, he suggested opening an issue for further development and/or discussion on the topic. There were some situations where I was playing around with the IVF that creating modified propagator options and passing them to the IVF would have been useful.

[2021-01-08 09:17] #450 closed

[2021-01-08 09:17] #410 closed

[2021-01-08 09:21] #646 closed

[2021-01-09 17:23] #547 closed

[2021-01-09 20:10] #43 closed

[2021-01-13 21:30] whit2333 commented on #363
@asalzburger Did this ever get implemented?

[2021-01-14 09:40] asalzburger commented on #363
The first part will be contained in #652, which will allow to use an arbitrary segmentation based on a `BinUtility` for planar surfaces.

Also, we have discussed yesterday coincidently the format for the `json` file for loading different digitisation parameters for various detector regions, but this will only come in a follow-up PR.

[2021-01-19 15:45] XiaocongAi commented on #568
Right, I think we don't have to worry about too much about this singularity issue, which happens only when the track direction has a `theta` at exactly `0`. This is very very unlikely to happen. If it really happens, the track reco will just fail.

The parametrization with the local direction angles might help, but it is not very necessary and we don't have the manpower for this moment.

Hence, I

[2021-01-19 15:45] #568 closed

[2021-01-19 16:27] #584 closed

[2021-01-21 05:06] whit2333 opened #659 "ERROR TGeoTrd2 -> PlaneSurface: only works with (x/X)(z/Z) and (y/Y)(z/Z)."
Hi,
Got the error:
[code]
What does this mean and how is it supposed to be fixed? Sorry I am a bit confused as to the notation and cannot seem to find anything in the documentation.

Thanks

[2021-01-21 11:57] msmk0 opened #661 "Failing documentation build"
Some recent changes have broken the documentation build as can be seen e.g. in the [current master branch](https://github.com/acts-project/acts/runs/1740565809) or in this [pull request](https://github.com/acts-project/acts/pull/651/checks?check_run_id=1741520178).

This seems to appear for the first with the recent changes to [`BinningData`](https://github.com/acts-project/acts/pull/657) so @asal

[2021-01-21 12:15] paulgessinger commented on #661
Did you see my comment on mattermost?

[2021-01-21 12:26] msmk0 commented on #661
No, I did not.

[2021-01-21 12:34] paulgessinger commented on #661
It worked in @asalzburger's PR before merging. So it can't really be related to the changes. I diffed the python dependencies we install for the doc build, and between the successful run on the PR and the failing run on master, breathe bumped from `4.26.0` to `4.26.1`. I would think that's the culprit.

[2021-01-21 14:22] msmk0 commented on #661
Thanks for looking into this into more detail. Lets fix the versions in the `docs/requirements.txt` file as an intermediate step then.

[2021-01-21 20:05] whit2333 commented on #659
@asalzburger I have tried adding `layerExtension->addType("axes", "definitions", "YZX");` in the dd4hep detector construction but it doesn't seem to register.

[2021-01-21 20:08] asalzburger commented on #659
Is that a layer or a sensitive volume? It has to be at the right level attached.

What this steers is the translation between conventions from TGeo and Acts::TrapezoidBounds with respecting the righthanded frame definition.

[2021-01-21 20:12] asalzburger commented on #659
The notion is: XZ - X axis stays X axis, Z axis becomes new Y axis (resulting new Z axis is a cross product). If the axis is not capitalized it means that it is taken pointing the opposite direction.

xZ would then translate into negative X becomes new X, Z becomes new Y, new Z is again done by cross product.

[2021-01-21 20:20] whit2333 commented on #659
Does it need to be associated with sensitive volume?

[2021-01-21 20:26] asalzburger commented on #659
Indeed, if the trd is the sensitive volume then yes.

[2021-01-21 20:27] whit2333 commented on #659
Thanks! Also worth pointing out for others that the construction can be done like this: `Acts::ActsExtension("XZY")` which is nice.

[2021-01-21 20:27] #659 closed

[2021-01-22 03:23] whit2333 commented on #659
Hi @asalzburger,

I have another question for you. I hope you don't mind.

[code]
I have no idea how to fix this. It is in a barrel detector, there are no overlaps the sensitive elements of each layer are contained within the cylinder layer  volume. I am confused by the error message because it it is not clear there is a problem with the layer/module geometry.

Do all the layers need to be in a la

[2021-01-22 19:20] whit2333 opened #668 "Geometry Surface Bug"
Hello @asalzburger ,

I am getting the following warning using the DD4hep geometry plugin.

[code]
The thing that sticks out to me is that last line. It is not clear to me what the volume/layer problem is other than the "-45" which I do not know the origins of. If I understand this

Here is the Acts surfaces exported as .obj for just the barrel (which doesn't have the problem above).
![Screenshot_

[2021-01-22 19:48] asalzburger commented on #668
That should work though, any chance I can get the root file & setup to try it out? I do not understand the estimated z boundary - that does not make sense.

[2021-01-22 19:52] asalzburger commented on #668
To answer the question: there can not be overlaps in the cylinders at all. However, when I look at this, one should be able to create a setup that works.

[2021-01-22 19:55] asalzburger commented on #668
The Acts:TrackingGeometry relies on the fact that the volumes completely attach, because the boundary surfaces of the volumes act as portals into the next (that's how we avoid navigation searches). In this case you could try to shrink the envelope of the outer discs a bit.

[2021-01-25 16:13] osbornjd opened #669 "2D r-z Magnetic Field Map Improperly Read"
When sPHENIX runs Acts with a constant 1.4 T magnetic field, we get a reasonably good momentum resolution; when trying to run the same thing with our field map, the tracking resolution degrades significantly. We use essentially the same code as [GeometryExampleBase](https://github.com/acts-project/acts/blob/4bd3a88df4f0926593ab1401c0041bb6123bf045/Examples/Run/Common/src/GeometryExampleBase.cpp#L3

[2021-01-25 18:21] whit2333 commented on #668
@asalzburger, I am confused by your statement. The layer geometries should or shouldn't touch?

[2021-01-25 18:54] whit2333 commented on #668
@asalzburger ,

If I remove a barrel layer and turn on the corresponding endcap layer (and nudge back 1cm so there is no overlap in the z direction), then I can make these:

Note that there are 5 layers of barrel/endcap.

2 layers endcap, 4 barrel:
![image](https://user-images.githubusercontent.com/2065918/105751358-85436e80-5f0b-11eb-8cd7-77a51d6d7ab3.png)

3 layers endcap, 3 barrel:
![image](htt

[2021-01-25 21:38] whit2333 commented on #668
Here is where these warnings are printed:
https://github.com/acts-project/acts/blob/master/Core/src/Geometry/CylinderVolumeHelper.cpp#L550

[2021-01-26 00:08] whit2333 commented on #668
If you want to try something out, we have a pretty robust CI setup: https://eicweb.phy.anl.gov/EIC/detectors/topside
the detector constructors are in src:
- https://eicweb.phy.anl.gov/EIC/detectors/topside/-/blob/acts_v4/src/SiTrackerEndcap_geo.cpp
- https://eicweb.phy.anl.gov/EIC/detectors/topside/-/blob/acts_v4/src/SiTrackerBarrel_geo.cpp
- https://eicweb.phy.anl.gov/EIC/detectors/topside/-/blob

[2021-01-26 13:25] asalzburger commented on #669
Thanks @osbornjd - is there any chance you can fill the MagneticField into xyz map? We have done quite some tests with the ATLAS based solenoid, but that's in xyz, so I wonder if the interpolation in r/phi is probably off?

[2021-01-26 18:21] osbornjd commented on #579
@asalzburger any update on this?

[2021-01-27 14:23] SpencJ95 opened #677 "[Feature] - BinAdjustment.hpp not yet implemented for rectangular planar surfaces"
Label    - Feature

BinAdjustment.hpp is implemented only for cylindrical surfaces with cylinder and radial bounds. For material mapping with the FASER detector in calypso we also need to support rectangular bounds for planar surfaces. I am requesting that the code be modified to accomplish this.

[2021-01-28 03:34] hrzhao76 opened #678 "Broken vertexing examples"
ACTS Version: Release 4.1

Build Environment: lxplus with `CI/setup_cvmfs_lcg98.sh`

### AMVF

Command:

[code]

Log:

[code]

What I can see is:

1. Step failed: EigenStepperError:3

   This line prompts the error: https://github.com/acts-project/acts/blob/master/Core/include/Acts/Vertexing/ImpactPointEstimator.ipp#L163

   The secDerivative turns out to be < 0, which should be > 0

2. Error in v

[2021-01-28 05:51] baschlag commented on #678
Hi. Can you please give the issue a more accurate name? It's the vertexing examples that are not working. Thanks

[2021-01-28 08:20] Corentin-Allaire commented on #636
This was resolved with #640

[2021-01-28 08:20] #636 closed

[2021-01-28 14:17] Corentin-Allaire commented on #539
I was having a look at the Geantino recording to do some clean-up and I notice that in the SteppingAction still had commented code related to Geant4 full recording that was originally supposed to be split from the material mapping stepping action. @msmk0 you meantion in issue #111 that this would be needed soon, is it still the case ? If it is I can try to implement this as part of this issue and

[2021-01-28 20:11] whit2333 commented on #668
@asalzburger Have you seen anything in the code that is causing problems?

[2021-01-28 20:15] asalzburger commented on #668
Did not get around yet to this, as I am finishing the segmentation PR - will go through tomorrow though.

[2021-01-30 00:16] whit2333 opened #683 "Visualizing Layer Bounds?"
Hello,

Is there a way to visualize the layer bounds or volumes? I can visualize the surfaces following the examples (via .obj -> freecad) but I think I have a layer geometry issue that would be easier to understand if I could see the layer bounds.

[2021-01-30 07:08] asalzburger commented on #683
Indeed, there are several possibilities.

What version are you running?
I am not sure they are added to the obj viewer per default, but it's a three line change I can do quickly.

The other option is to run the propagation example and log every surface to be written out, then the root output has them via the approach flag.

A third version (new in v5) is to dump the geometry into a JSON file and l

[2021-01-31 04:06] whit2333 commented on #683
v4.1.0.  I was in the process of upgrading to version 4!! :)

[2021-02-01 07:48] HadrienG2 commented on #164
I think #670 is meant to fix this ?

[2021-02-01 08:08] paulgessinger commented on #164
Ah year I think so. I had forgotten that this issue existed. I think your assessment was almost right, I believe the context needs to be written on every event, but should only change when we switch IOVs.

Let's close this then.

[2021-02-01 08:08] #164 closed

[2021-02-01 08:15] HadrienG2 commented on #482
Design question: Should the "FATAL" logging level trigger program failure even in normal builds?

The advantage is that it makes sure that FATAL messages are actually always fatal, as opposed to only being fatal if the caller remembers to throw an exception / return an error output and bubble it all the way up the call chain. The drawback is that it prevents multiple messages to be printed on fail

[2021-02-01 08:45] HadrienG2 commented on #482
Second design question: How should I handle the amusing interaction between this and log filtering? I can think of a few strategies:

1. Always fail on error, even if no output is printed.
    - Pro: Only strategy that is consistent with both fail-on-error and logging level settings.
    - Con: Unexplained crashes are bad, the exception payload message should at least warn about this behavior and

[2021-02-01 09:08] paulgessinger commented on #482
I also think option 2 or 4 are the way to go. I'm not sure I would set this at logger level, but rather globally, and I think we should make this a compile time option. Thoughts?

[2021-02-01 09:44] HadrienG2 commented on #482
I agree, what I currently envision is to have something like this, adjusted via CMake...

[code]

The advantage of having this be a log level rather than an on/off switch that makes ACTS_ERROR and above throw an exception, is that without extra support infrastructure we can selectively turn on and off exception throwing in response to ACTS_WARNING, which I expect to be more controversial (it will

[2021-02-01 10:26] msmk0 commented on #539
Yes, I think this still needs to be done.

[2021-02-01 12:05] HadrienG2 commented on #482
Ok, actually the "option 4" of bombing when logs are filtered incorrectly is not as hard as I thought. As long as everyone uses the DefaultFilterPolicy and the DefaultPrintPolicy, adjusting those two should be all that's needed to get the desired behavior.

[2021-02-01 13:07] #194 closed

[2021-02-01 16:23] HadrienG2 commented on #579
As further motivation for fixing this, I discovered in the process of implementing #482 that we do also get those sort of issues in the AtlasStepper unit tests already...

However, I'm surprised that @osbornjd observes an exception here, because ACTS_FATAL does not throw exceptions (yet). Which is precisely why the issue in the AtlasStepper unit test was not seen before.

[2021-02-01 16:51] osbornjd commented on #579
The exception is caught on the sPHENIX end, which means that somehow the ACTS_FATAL is throwing/doing something that the sPHENIX code doesn't like and interprets as an exception being thrown. If the ACTS_FATAL only returns an error that can be caught, then it would be very puzzling why an exception is caught since our code just looks like this:

[code]

where the result that is obtained from `prop

[2021-02-01 17:56] HadrienG2 commented on #579
I just went through the entire Logger implementation as part of implementing #687, so I'm quite sure that ACTS_FATAL is not special in any way, at least if you use the default Acts logger as opposed to plugging into an sPHENIX-specific logging mechanism. Therefore, I suspect something else must be happening here.

If you have a build with debug symbols handy, running it through GDB with `catch thr

[2021-02-01 20:28] whit2333 commented on #668
I am still confused about the requirements for the tracking geometry caused by (I think) the combination of navigation requirements and current plugin implementation limitations.

Should a `CutoutCylinderVolumeBounds` be used instead of `CylinderVolumeBounds`?
What is the general strategy between the Cylinder-`VolumeBounds`, `VolumeBuilder`, `VolumeHelper`, and `Layer` classes?

Also, do you have

[2021-02-01 20:53] asalzburger commented on #668
@whit2333 - shall we schedule a call for the coming days? I think we should go through the requirement. I can find an evening spot as well.

[2021-02-02 07:48] hrzhao76 commented on #678
@baschlag @msmk0

Dear developers,
I tested old versions, 1.1 and 1.2 on lxplus with `CI/setup_lcg96.sh`
Here is some feedback from my side:

### V1.1
I just run a simple command to generate 10 events with PU 50:
[code]
the last part of the log file:
[code]
it's wired that 0 vertices are found in events..

### V1.2
I use the same command:
[code]

This time only 1 vertex is successfully reconstruct

[2021-02-02 23:19] whit2333 commented on #668
@asalzburger Sure. I sent you an email.

[2021-02-04 17:55] HadrienG2 commented on #157
Still blocked on #155, but the good news is, #155 itself is getting closer.

[2021-02-04 19:12] asalzburger commented on #138
This is actually closed.

[2021-02-05 08:20] Corentin-Allaire opened #697 "Bad any cast with the ActsExampleGeometryDD4hep"
Using the `ActsExampleGeometryDD4hep` result in a boost::bad_any_cast. I also tried to test it with `ActsExampleGeometryGeneric` and also encountered a boost::bad_any_cast.

Example command : `./../build/bin/ActsExampleGeometryDD4hep -n1 -j1 --mat-output-file geometry-map  --dd4hep-input ../Examples/Detectors/DD4hepDetector/compact/OpenDataDetector/OpenDataDetector.xml`

[2021-02-05 08:23] asalzburger commented on #138
#663 fixes this.

[2021-02-05 08:23] #138 closed

[2021-02-05 17:23] asalzburger commented on #697
Hi, there was a missing ` | Obj` in the geometryOptions definition, it should be fixed with PR #699.

[2021-02-08 16:39] #189 closed

[2021-02-09 06:48] #482 closed

[2021-02-09 13:58] HadrienG2 opened #707 "Geometry examples behave badly when `--events` is not specified"
Basically, the examples will run for an indefinitely long time, and fill up your storage with billions of copies of the geometry if any kind of file output was enabled.

This is the result of an interaction between two bits of programmer cleverness:

- `Sequencer::Config::events` defaults to `SIZE_MAX` when `--events` is not specified, which is meant to ensure that the number of iterations to only

[2021-02-09 15:51] HadrienG2 commented on #697
Doesn't seem to be fixed: https://github.com/acts-project/acts/pull/706/checks?check_run_id=1864050040 .

[2021-02-09 15:52] HadrienG2 commented on #697
The strange thing is, the exact same sequence of commands works just fine on my local machine. So it seems dd4hep version dependent.

[2021-02-09 16:04] paulgessinger commented on #697
No the problem is that we're not building DD4hep with `DDDetector`, but we need that.

[2021-02-09 16:06] #409 closed

[2021-02-09 16:10] asalzburger commented on #579
There still must be some underlying problem in the local to global transformation, right?

[2021-02-09 16:27] robertlangenberg commented on #505
We're aware of the problem but won't fix as it can be solved by recompiling ROOT with C++17. We'll try to have CMake warn about the issue and add it to the documentation

[2021-02-09 16:27] #505 closed

[2021-02-09 17:23] osbornjd commented on #669
@asalzburger So that this is documented with this issue, here's a summary of my test and current problem so far.

To create the XYZ field, I take our 2D rz field map and use the sPHENIX field converting module (that is used to feed the field into GEANT) to create a new tree in xyz coordinates. The field converting module gets the (Bx,By,Bz) from an arbitrary (x,y,z) space point. I loop over the en

[2021-02-09 17:34] HadrienG2 commented on #155
#706 is a significant step towards this.

[2021-02-09 18:48] osbornjd commented on #669
If I change the relevant section in `BFieldMapUtils.cpp` to the following:

[code]

Then I get a working tracking chain, contrary to the plots which I showed at the beginning of this issue. Although this "hack" is inherently wrong (since it is just setting some arbitrary bins that Acts is grabbing to the last B field value), I can get our code to run and I think this shows that there is some inter

[2021-02-10 09:54] msmk0 commented on #707
The `SIZE_MAX` bit was me. This is another example of trying to be clever and the cleverness biting you later on. Lesson to myself: do not try to be clever. `std::optional<size_t>` is probably the right way to go.

In my opinion, every example should use the sequencer.

[2021-02-10 18:28] HadrienG2 opened #710 "ActsExamplePropagationEmpty does not complete with default parameters"
By default, this example is configured with a maximal step size of 3m and a detector half-length of 10km (!), which means that propagation will abort with an error due to reaching the max step count (1000 steps) before reaching the end of the detector.

Which parameter would you prefer me to tune to fix that? Detector half-length or maximal step size?

[2021-02-13 02:42] gagnonlg opened #712 "ActsExampleCKFTracksDD4hep is broken"
The CKF tracking example is broken when using the DD4hep entry point.

In `Examples/Run/Reconstruction/Common/RecCKFTracks.cpp`, the initial space point configuration hardcodes the generic detector volume ids which are different for e.g. the OpenData detector.:

[code]

This behaviour was introduced by #621.

[2021-02-13 18:56] #377 closed

[2021-02-15 19:56] gagnonlg commented on #712
As a workaround, this example can be run with  "--ckf-truth-seeds" when not using the generic detector.

[2021-02-16 15:05] #363 closed

[2021-02-16 15:06] #683 closed

[2021-02-16 15:07] #668 closed

[2021-02-16 16:14] #697 closed

[2021-02-17 15:55] #678 closed

[2021-02-18 06:50] FabianKlimpel opened #717 "Invariant masses in Bethe-Heitler process occasionally too large"
In some cases the momentum vectors of the electron and the photon are off the exact by a small amount. This leads to an increase in the invariant mass. As the invariant mass of the initial state is `m_e`, the difference becomes too large. This affects the corresponding unit test thresholds.
After a first look, the deviation does not occur exclusively for certain particle parameters (phi, theta, p)

[2021-02-23 15:14] osbornjd commented on #579
Just to confirm, I have checked that somehow there is an error caught within Acts, i.e. the propagator call:
[code]
is never returned. So somehow this FATAL log is printed but doesn't do anything (since the log itself isn't special), but it is symptomatic of some crash that occurs further down the line after the FATAL log is printed.

[2021-02-25 10:50] paulgessinger opened #725 "Use type traits for Fatras interface detection"
I think this could be done using the type traits logic that I added for our custom concepts, and might be more concise.

_Originally posted by @paulgessinger in https://github.com/acts-project/acts/pull/719#discussion_r581919156_

[2021-03-01 07:27] HadrienG2 opened #730 "ActsSimGeantinoRecordingDD4hep is too verbose"
Anyone who has ever run the `ActsSimGeantinoRecordingDD4hep` example with default parameters + OpenDataDetector input can attest that it is a remarkably effective way of losing your terminal history, unless you have set up your terminal for very large / unlimited buffering and made sure it's actually good enough at scrolling into a very long history.

Indeed, that example produces no less than 116

[2021-03-01 07:38] HadrienG2 commented on #730
Upon further investigation, DD4hep handles log levels here quite a bit differently from what I expected and what we do. Basically, they log everything at the same log level (unless specific debug flags are tweaked), and the log level control of `Geant4Converter` only serves to state what debug level all output messages will share.

In that case, I think we will want to either make that `VERBOSE` a

[2021-03-01 09:14] HadrienG2 commented on #730
So, DD4hep does allow us to plug their logging into our logger, but it may not be cheap. Not sure if that matters for logging though : if code is bound by logging performance, it's likely spamming stdout/stderr way too much for its own good... But here goes.

---

Basically, the interface that DD4hep expects is an extended form of printf's signature:

[code]

...where...

- `par` is user-customiza

[2021-03-01 09:33] HadrienG2 commented on #730
So, DD4hep does allow us to plug their logging into our logger, but it may not be cheap. Not sure if that matters for logging though : if code is bound by logging performance, it's likely spamming stdout/stderr way too much for its own good... But here goes.

---

Basically, the interface that DD4hep expects is an extended form of printf's signature:

[code]

...where...

- `par` is user-customiza

[2021-03-01 09:38] asalzburger commented on #730
Tagging @Corentin-Allaire here and @niermann999 - they might be able to help.

[2021-03-01 10:36] Corentin-Allaire commented on #730
I had a look at this and at PR #731 and I think just changing the dd4hep log level is the is the best way to do it. For me, trying to use the Acts logger in DD4Hep is clearly not worth it. On top of that I am pretty sure I only looked at that part of the log once or twice to debug something so it is really not something critical. Maybe in your PR you could add and option in DD4HepDectorOption to c

[2021-03-01 10:49] HadrienG2 commented on #730
Thanks for the input @Corentin-Allaire!

In the DD4hep detector options, we actually already have a `dd4hep-loglevel` setting which is meant to set the level of output verbosity on the Acts side. Given the name of this setting, it should probably control the verbosity of DD4hep itself as well.

Since DD4hep's log level is a global variable, I cannot exactly match the Acts semantics there, but prob

[2021-03-01 13:13] HadrienG2 opened #733 "Material mapping scripts seem out of date"
Our [material mapping tutorial](https://acts.readthedocs.io/en/latest/howto/run_material_mapping.html) suggests using the scripts Examples/Scripts/MaterialMaping/writeMapConfig.py and configureMap.py on the JSON files produced by the Geometry examples when run in an appropriate configuration.

Unfortunately, however, it looks like the script and the examples' output data format went out of sync, r

[2021-03-01 13:14] HadrienG2 commented on #733
@Corentin-Allaire I think this one's for you :)

[2021-03-01 13:22] Corentin-Allaire commented on #733
That should be easy to fix. The "2." was there before we started using the `nlohmann::ordered_json` which force the ordering of the item in the json file. Let me have a look quickly at this.

[2021-03-01 13:36] paulgessinger opened #735 "Do not hard-code the B Field type in VertexFitterAlgorithm"
VertexFitterAlgorithm hard-codes the B field to be constant. It should use the B field configured through the options instead.

This came up in #675.

[2021-03-01 15:17] Corentin-Allaire commented on #733
I solve this issue in #736, @HadrienG2 do you want to have a look ?

[2021-03-02 07:53] HadrienG2 commented on #157
Alright, I'm finally bringing this back for propagation! Once that's done, it should be relatively easy to adapt it for other examples that emit ROOT files.

Right now, I have a setup that works well on most Propagation examples, but fails for the PropagationPayload example specifically. This might be a genuine failure indicating a thread-safety problem in the PayloadDetector. But getting back int

[2021-03-02 14:13] osbornjd commented on #579
I traced through the Acts code to understand what is going on. We are using version 1.1 as we've been waiting for this bug to be fixed before updating, but it may have already been fixed in a previous unrelated PR (or this bug was never marked as possibly fixed).

In v1.1, the propagator can seg fault [here](https://github.com/acts-project/acts/blob/f6ebeb9a28297ba8c54fd08b700057dd4ff2a311/Core/sr

[2021-03-02 14:39] paulgessinger commented on #579
Hm, the `lpResult.value()` just aborts in the error case, so the `operator[]` access should never happen I believe.

I honestly think the error should be handled further up the call chain, and these functions should return a result as well.

[2021-03-02 14:43] osbornjd commented on #579
You're right that the operator `[eBoundLoc0/1]` access should never happen, which means I think they just remain as instantiated as 0. That means the only "flag" for an error in the current version is the FATAL log, which is not easy to detect as you mention.

[2021-03-02 14:45] paulgessinger commented on #579
Ok. I think this function should in turn use `Result` to let the error bubble up if it encounters one.

[2021-03-02 17:04] paulgessinger commented on #579
@osbornjd is it sufficient if the error propagation is fixed on master, or do you need this backported to a specific version?

[2021-03-02 17:19] osbornjd commented on #579
@paulgessinger master is fine. We are running on v1.1 so we are quite old at this point and probably need to update anyway.

In principle, I could fix up our v1.1 with something similar to your PR to master, but it seems like a recipe for possible issues down the road if we are using a "in house edited" version of Acts rather than a version that is released by the development team.

[2021-03-02 17:58] paulgessinger commented on #579
Sounds good.

[2021-03-02 18:02] osbornjd commented on #579
BTW, if you are curious to debug the actual problem, I don't think I'm doing anything fancy. All I do is take a set of track parameters and run the propagator to an arbitrary cylindrical surface that I create. In other words, it is just :

[code]

[2021-03-03 08:06] #733 closed

[2021-03-03 15:11] #730 closed

[2021-03-04 08:13] paulgessinger commented on #579
@FabianKlimpel mentions the same or a similar error can show up in one of the integration tests if the parameters are chosen (in)correctly. Can you help reproduce this decoupled from @osbornjd's setup?

[2021-03-04 08:14] paulgessinger commented on #579
@asalzburger said that he could imagine it's because of inconsistent tolerances between to-surface-propagation and free-to-bound conversion. I faintly remember we had ruled this out as the culprit, however. Does anyone

[2021-03-04 08:14] paulgessinger commented on #579
I will also look into the `AtlasStepper` test to see if it reproduces.

[2021-03-04 15:56] #735 closed

[2021-03-05 12:58] #146 closed

[2021-03-05 16:43] osbornjd commented on #579
I think we had discussed this in one of the developer meetings when I first brought this bug up. I think Andi had suggested that the tolerance for the conversion be a settable parameter/argument, such that one could "dictate" what is acceptable and what is not.

[2021-03-06 17:47] #449 closed

[2021-03-06 17:47] #323 closed

[2021-03-08 15:27] #648 closed

[2021-03-09 16:21] robertlangenberg commented on #561
being worked on !744

[2021-03-09 16:23] Corentin-Allaire commented on #677
Fixed in #705

[2021-03-09 16:23] #677 closed

[2021-03-09 16:30] robertlangenberg commented on #490
fixed in #621

[2021-03-14 14:44] #563 closed

[2021-03-17 09:59] HadrienG2 commented on #155
Since acts v6, we also have ActsExampleDigitizationGeneric to take care of here.

[2021-03-17 14:54] #712 closed

[2021-03-18 08:26] paulgessinger opened #752 "BoundingBox tests fail on double precision"
This error showed up in various cases when the floating point type was made globally configurable.

See #743, #156

/cc @asalzburger

[2021-03-18 08:31] paulgessinger commented on #710
@asalzburger do you have thoughts on this?

[2021-03-18 08:32] paulgessinger commented on #139
Is this addressed, @asalzburger ?

[2021-03-18 08:34] paulgessinger commented on #471
@cgleggett how much work would it be to confirm that this is still showing up? I made some changes in #673, #666 and #675, which might have fixed this.

[2021-03-18 08:37] paulgessinger commented on #669
Maybe this is just an *off by one* error? The field grid uses the (IIRC) lower left bin edge as the grid point, maybe there was some confusion here.

[2021-03-18 08:40] paulgessinger commented on #661
I reported this at https://github.com/michaeljones/breathe/issues/624, see https://github.com/pybind/pybind11/pull/2828 for a possible workaround.

[2021-03-19 04:40] cgleggett commented on #471
I just tried with clang 12.0.0-rc3 from the llvm repo, and clang 13.0.0 from intel's dpcpp/llvm repo, and they both work fine.

I will close this.

[2021-03-19 04:40] #471 closed

[2021-03-19 17:51] gagnonlg opened #755 "Bug: some instances of std::optional are dereferenced without checking if they hold a value"
While investigating what happens with bound parameters when their covariance matrices are std::nullopt, we have found instances where the optional values are unconditionally dereferenced which is undefined behavior if the optional does not hold anything.

See attached file for a list of potential instances of this problem in the case of BoundTrackParameter::covariance(). Note that some of those ma

[2021-03-19 17:52] gagnonlg commented on #755
Forgot to attach the file: [opt_deref.txt](https://github.com/acts-project/acts/files/6173206/opt_deref.txt)

[2021-03-19 17:55] paulgessinger commented on #755
Good job. I think most of the unit tests can just get a quick `BOOST_CHECK(opt)` inserted to make it safe. The few other spots could have explicit errors or an `assert` instead.

[2021-03-20 21:52] #495 closed

[2021-03-20 21:52] #564 closed

[2021-03-23 18:12] cgleggett opened #757 "SingleBoundTrackParameters.hpp: why is charge() constexpr?"
When trying to compile acts with hipSycl, I encountered the following [issue](https://github.com/illuhad/hipSYCL/issues/501).

does `SingleBoundTrackParameters::charge()` in `Core/include/Acts/EventData/SingleBoundTrackParameters.hpp` need to be constexpr, especially since `get()` isn't?

The same applies to `Core/include/Acts/EventData/SingleFreeTrackParameters.hpp`

certainly there are no issues

[2021-03-24 12:39] paulgessinger commented on #757
I think it's `constexpr` because it can be for CPU compilation. I don't think it has to be `constexpr`, so we could probably drop it if need be.

Is `constexpr` a general problem in this respect, or is it a specific problem in this specific function?

If it's the latter, we might have to think of a more robust way to use/not use `constexpr` depending on the environment.

[2021-03-24 15:29] cgleggett commented on #757
These were the only places that this cropped up when I was compiling with hipSYCL. There may be others that were hidden by other problems that I haven't yet resolved....

From what Aksel wrote in the linked issue, `constexpr` is an issue in code that executes on GPUs if it calls a function that is not `constexpr`, so that there's a `__host__` vs `__host__ __device__` mismatch.

[2021-03-30 15:15] asalzburger commented on #388
Only one issue open

[2021-04-01 00:08] CarloVarni opened #764 "Bug: MagField with 0 z-component causes vector::_M_default_append when Acts::SpacePointGridCreator::createGrid is called"
While studying the seeding algorithm in ActsExamples I entered a magnetic filed with 0 as z-component and this resulted in a `vector::_M_default_append` error message.

The error arises in Acts::SpacePointGridCreator::createGrid (see https://github.com/acts-project/acts/blob/master/Core/include/Acts/Seeding/SpacePointGrid.ipp#L15). In here there is no protection against such a case and several div

[2021-04-01 07:34] paulgessinger commented on #764
/cc @robertlangenberg

[2021-04-01 07:36] paulgessinger commented on #764
I **think** the seed finding implementation assumes a non-zero B field a long the z-axis, as it bases most of it's calculations on an assumed helix trajectory. If that is the case, I don't think we can do much better than checking for this and throwing a more informative error.

[2021-04-01 07:39] paulgessinger commented on #757
I see. I don't think there is particular harm in removing `constexpr` here. I can't imagine it has significant performance impact.

[2021-04-01 07:42] HadrienG2 commented on #757
FWIW, `constexpr` has no performance impact per se. That would be C++20's `consteval`.

What `constexpr` was meant to do is only to force you to only use the language subset that **can** be evaluated at compile time, if the compiler feels like doing so. And it arguably fails at even that...

[2021-04-01 09:33] HadrienG2 commented on #157
I've started work on the compareRootFiles rework, but then got sidetracked by other things like AIDAinnova preparation so it'll take more time than I hoped to finish.

[2021-04-01 11:14] robertlangenberg commented on #764
The seeding doesn't actually require a magnetic field, but since you specifically mention 0 field only along the z component: the seeding algorithm will NOT work with (significant) magnetic field along any other axis BUT the z axis, if you do have magnetic field along a different axis you will have to rotate the space.

The SpacePointGridCreator is a helper not really related to the seeding algori

[2021-04-02 18:10] #539 closed

[2021-04-06 06:13] HadrienG2 commented on #155
By the way, for anyone interested in helping out (myself, I would tend to put priority on #157 since this is a part that only I can take care of)...

The CI routine for running examples is located in https://github.com/acts-project/acts/blob/master/CI/run_examples.sh . You can see that bash functions and variables are used to reduce redundancy when running multiple similar examples, please follow

[2021-04-06 06:26] HadrienG2 commented on #207
I can confirm that this is still a problem as of master@5038ab6070b8eb89966a80127816bb961c40c8c4 .

Here, the problem is most likely that somehow, some thread-unsafe code gets run outside of the mutex that we set up for Geant4 code. To resolve this, we must identify the two pieces of code that race against each other, and lock the one that evaded the mutex appropriately.

[2021-04-06 06:30] HadrienG2 commented on #710
I confirm that this is still present as of master 5038ab6070b8eb89966a80127816bb961c40c8c4 .

[2021-04-06 06:48] HadrienG2 commented on #707
This is still around as of master 5038ab6070b8eb89966a80127816bb961c40c8c4 .

[2021-04-06 06:58] HadrienG2 commented on #486
The problem is still present as of master 5038ab6070b8eb89966a80127816bb961c40c8c4 .

I adjusted the reproducer CLI to set up an event count, confirming along the way that this is not a duplicate of #707 .

Here's a GDB backtrace after the example has been running for a few minutes, which I found quite interesting:

[code]

It seems that the example hangs as it is in the process of closing the ROO

[2021-04-06 08:25] HadrienG2 commented on #486
...yes, it does eventually complete, it just takes 23 minutes to do so which is quite ridiculous. I'll see if a bit of profiling provides any clues about what's going on.

[2021-04-06 10:17] HadrienG2 commented on #486
...and the profiler confirms that indeed, ROOT seems to have a hard time deleting a TH2D (or perhaps many of those?) : https://share.firefox.dev/3s08dFC .

[2021-04-06 10:30] HadrienG2 commented on #484
A subset of this issue has been taken care of in #685 ! :tada: With this PR, the examples should not provide options for nonexistent output file formats.

Other aforementioned issues remain, however:

- [ ] The `--output-xyz` options are sometimes used to emit different kinds of output (e.g. geometry vs material), sometimes depending on the value of unrelated options. There should be a way to adju

[2021-04-06 10:32] HadrienG2 commented on #485
As of master 5038ab6070b8eb89966a80127816bb961c40c8c4 , the `--output-dir` option is still inconsistently handled across and sometimes even within examples.

[2021-04-06 10:35] HadrienG2 commented on #483
This seems resolved as of master 5038ab6070b8eb89966a80127816bb961c40c8c4 ! :tada:

At least the original reproducer does not work anymore, after adjusting it to the new CLI flag syntax.

[2021-04-06 10:35] #483 closed

[2021-04-06 11:05] HadrienG2 commented on #486
The [source code](https://github.com/acts-project/acts/blob/5038ab6070b8eb89966a80127816bb961c40c8c4/Examples/Io/Root/src/RootMaterialWriter.cpp#L48) confirms that the problem is that there are lots of histograms around. 6 per surface without binned material and 11 per surface with binned material, to be precise.

Here are the possible actions that I can think of:

- [ ] Find a way to manage mater

[2021-04-06 11:50] paulgessinger commented on #486
Like I said on mattermost, `boost-histogram` would be nice because it wouldn't require an additional dependency or plugin.

[2021-04-07 07:08] #757 closed

[2021-04-13 15:15] #490 closed

[2021-04-13 18:18] gagnonlg commented on #755
Tentatively fixed by #771 .

@paulgessinger I'm only seeing now that you had self-assigned this one, I hope I didn't overstep!

[2021-04-14 09:34] robertlangenberg commented on #579
Exception is now thrown, underlying floating point issue to be analyzed

[2021-04-14 12:35] baschlag opened #774 "Bug - Segfault in CsvSimHitReader"
When running the [TruthTrackingExample](https://github.com/acts-project/acts/blob/master/Examples/Run/Reconstruction/Common/RecTruthTracks.cpp), the CsvSimHitReader randomly segfaults when calling the ```adopt_sequence``` function in this line (as already discussed with @XiaocongAi ):

https://github.com/acts-project/acts/blob/master/Examples/Io/Csv/src/CsvSimHitReader.cpp#L85

This is a blocker f

[2021-04-15 07:12] baschlag commented on #774
Here are the steps that eventually lead to the segfault:
Event gen:
[code]
Simulation
[code]

Truth tracking example that leads to the segfault:
[code]

[2021-04-15 07:14] baschlag commented on #774
FYI @asalzburger @paulgessinger

[2021-04-15 07:23] baschlag opened #775 "Bug - KalmanFitterError in TruthTrackingExample"
Running ```ActsExampleTruthTracksGeneric``` on 500 mu=200 ttbar events yields more than 200 of these errors with current master:
[code]

Here is the entire chain to reproduce these errors
- Event gen:
[code]
- Simulation:
[code]

- Truth tracking example with errors:
[code]

[2021-04-17 14:58] paulgessinger commented on #752
Still need to look into this

[2021-04-23 16:01] paulgessinger opened #781 "Encapsulate CKF measurement lookup"
Currently, the CKF explicitly converts a `std::vector<source_link_t>` into a `std::unordered_map<GeometryIdentifier, std::vector<source_link_t>>`. For integration with experiment-specific software, this forced conversion might be undesirable.

We should replace this with a struct that is supplied as a template parameter than can perform a lookup like `GeometryIdentifier` -> set of `source_link_t`.

[2021-04-26 14:50] Corentin-Allaire opened #782 "Improvement: Consider removing cache-less magnetic field overloads"
Currently the `MagneticFieldProvider` define two pure virtual method to access the magnetic field without using the cache : `getField(const Vector3& position)` and `getFieldGradient(const Vector3& position, ActsMatrix<3, 3>& derivative)`. We should consider removing those as accessing the field without cache is not always possible (for example it is not possible in for the ATLASMagneticFieldWrappe

[2021-04-27 07:35] #755 closed

[2021-04-27 10:52] asalzburger opened #784 "bug: solenoid magnetic field (defaults) in Examples looks corrupt"
When running with the new `bf-solenoid` option I get many errors like this:

[code]
I am running with this option:
[code]

None of these warnings appear either with the constant field nor with the ATLAS magnetic field map.

[2021-04-28 08:33] asalzburger commented on #775
I could reproduce this and identified (on single muons) all of those failure as outside eta particles ...

[2021-05-02 17:11] HadrienG2 commented on #157
Same status as before: blocked on more urgent things.

[2021-05-03 12:58] paulgessinger commented on #784
This seems to only occur if the log level is not `DEBUG`. Suboptimal...

[2021-05-04 08:49] #764 closed

[2021-05-05 07:04] #707 closed

[2021-05-10 08:13] paulgessinger opened #797 "Doc build fails"
Example: https://github.com/acts-project/acts/runs/2543473634?check_suite_focus=true

[2021-05-10 09:38] baschlag commented on #561
Reopening since I guess this is still WIP, isn't it? In fact, I'm still waiting for this feature to implement my generic track linearizer on top of it. Any news here on the current status?

[2021-05-10 10:56] #797 closed

[2021-05-10 17:13] #725 closed

[2021-05-18 13:31] Corentin-Allaire opened #806 "bug: Incorrect covariance for the KalmanFitter result when using too precise input covariance"
When using the KalmanFitter the Perigee covariance obtain as a result of the fit is incorrect if the covariance of the input parameters is "too good" (same order as the expected result ?).

I notice this issue when implementing a refitting algorithm in athena using the ActsKalmanFitter that refit ATLAS track. When reffiting the  the input parameters correspond to the parameters of the input tracks

[2021-05-24 11:12] paulgessinger commented on #781
Bad bot

[2021-05-28 08:45] paulgessinger commented on #782
Looking at this now. One thing I noticed is that this removes most of the functionality of the B field access example:

https://github.com/acts-project/acts/blob/main/Examples/Run/MagneticField/BFieldAccessExample.cpp#L61-L69

Right now this checks how many mismatches there are (but it's not a unit test). I guess this example can still serve to show how to use the B field, but this functionality w

[2021-05-28 10:48] paulgessinger commented on #784
For reference, I think I can reproduce this with

[code]

[2021-05-28 12:57] paulgessinger commented on #784
This is WEIRD as heck. When I run

[code]

the final bit of output looks like this:

[code]

i.e. no error, although there is a navigation failure that causes the aborter to fire and terminate the propagation after 181 steps.

If I comment out [this line](https://github.com/acts-project/acts/blob/main/Core/include/Acts/Propagator/Propagator.ipp#L49),

[code]

the output looks like this:

[code]

i

[2021-05-28 14:43] HadrienG2 commented on #784
I saw this sort of things happen multiple times before, and each time it was a symptom of undefined behavior in the code. For example...

- If the code does out of bounds writes on a stack variable, then the addition of a print statement can affect the stack layout, and thus the appearance or disappearance of the bug's symptoms.
- If the code violates strict aliasing rules by e.g. casting `float*`

[2021-05-29 10:09] paulgessinger commented on #784
I ran a valgrind memcheck job yesterday (haven't looked at the results yet), that might shine some light on this. I guess this will tell me about unitialized memory, but corrupt stack access or strict aliasing problems might be hard to find.

The only case I can think of where we do any reinterpretation at all is the opaque B field cache type, but there I'm specifically using `char` in order to no

[2021-05-29 10:23] paulgessinger commented on #784
After having another look at the strict aliasing rules, maybe the B field cache is in fact in violation, therefore causing UB. If that's the case, that might be it. Will investigate on monday.

[2021-05-29 11:50] HadrienG2 commented on #784
Note that my list above was not exhaustive (only those case I personally experienced where printf + UB can mix weirdly), and you may also want to try out things like compiler sanitizers (ASan, UBSan...) that check for a lot more forms of C/++ UB than I can conveniently fit in a Github comment.

These two blog posts on such tools and their limitations may come in handy along the way:

- https://blo

[2021-05-31 15:18] paulgessinger commented on #784
Ok, I'm digging deeper.

1. I haven't been able to reproduce the error with `-O0`.
2. I found an unitialized value [here](https://github.com/acts-project/acts/blob/main/Core/include/Acts/MagneticField/InterpolatedBFieldMap.hpp#L154-L164):
[code]
   Changing this to
[code]
   suppresses the error. The reason is (I think) because `nCorners != cornerIndices.size()` at all times. If `cornerIndices.siz

[2021-05-31 15:37] paulgessinger commented on #784
Ok, follow up, the reason for the index mismatch is that `closestPointsIndices` does not return indices for neighbors which are out of bounds of the grid. The question then is what we do in this case? I'm tempted to actually go for `Vector3{0, 0, 0}` meaning zero field outside of the B field map. Do you have an opinion @asalzburger?

[2021-05-31 16:36] paulgessinger opened #821 "How do we do B field interpolation?"
Right now, `Grid` is used to store and retrieve B field values to interpolate between. `Grid` can be queried for neighbor indices for a given position, and will only return indices that corresponds to cells that exist, i.e. no neighbors that would be behind the edge of the map.

Both `Grid`'s internal `interpolate` method as well as `FieldCell`, however, assume that there will always be a full set

[2021-06-01 06:26] whit2333 opened #822 "Feat: Radial bounds in DD4hep plugin"
See [this pull request](https://github.com/acts-project/acts/pull/820) for some background.

For some reason the positive endcap rmin is not set correctly. It should be 22 below but it is not set as the value but the envelope.
I think it is related to the rather confusing use of [envelope and extent](https://github.com/acts-project/acts/blob/main/Core/include/Acts/Geometry/ProtoLayer.hpp#L31) in `

[2021-06-01 07:24] paulgessinger commented on #822
Are the extents auto-determined here and that's what's failing here?

IIRC `ProtoLayer::measure` is responsible for trying to automatically determine the extent from the contained surfaces and the envelopes are (should be) a configuration parameter.

[2021-06-01 07:28] paulgessinger commented on #822
Ok, the spot where you insert the extent addition shouldn't have to set up the extent anymore, I think. [This line](https://github.com/acts-project/acts/blob/main/Plugins/DD4hep/src/DD4hepLayerBuilder.cpp#L79) calls the `ProtoLayer` constructor with a vector of sensitive surfaces which calls `ProtoLayer::measure`.

The log output mentions there only being one sensitive surface. Can you help me und

[2021-06-01 13:46] HadrienG2 opened #823 "Make examples Sequencer work with newer versions of TBB (2021.x)"
The examples' Sequencer uses the `tbb::task_scheduler_init` API, which has been deprecated for a while and has been fully removed in newer TBB 2021.x versions. We should investigate what the replacement is and change the Sequencer's code so that it works with newer TBB. Let's cross fingers that we won't need an ifdef mess to stay compatible with older TBB...

[2021-06-01 14:20] paulgessinger commented on #784
Annoyingly, the uninitialized value does not suppress the error for me anymore today, on the same hardware and same settings. So back to square one.

[2021-06-01 15:14] HadrienG2 commented on #821
I agree with your choices. If it doesn't introduce unsufferable overhead in this performance-critical part, proper error reporting is best. If it does introduce overhead, then returning nonsensical values is fine, since this code path should never be hit by non-buggy clients anyway.

[2021-06-01 15:32] whit2333 commented on #822
@paulgessinger it is this line in the log that is the problem:
[code]
I believe the `0 (-22)` should be `22 (-0)`.

If you look closely [at this output](https://github.com/acts-project/acts/files/6565683/output2.txt) you will see the two endcaps:

[code]
This makes sense.
Then...
[code]
The two endcaps should be the same (mirrored) but the positive endcap has a problem. It is setting R min to 0 wh

[2021-06-01 16:09] asalzburger commented on #822
I see, there's probably a bug in there, as the extend evaluation tries to guarantee that the extremes at pi, 0, 2pi are evaluated, probably that's what the flipping kills ...

[2021-06-01 16:24] whit2333 commented on #822
@asalzburger What is the difference between the `extent` and the `envelopes` of the ProtoLayer?

[2021-06-01 16:56] asalzburger commented on #822
The envelope is an additional clearing around the outermost values, e.g 1mm.
The extend should estimate the actual space that is occupied by this shape - the clearing (envelope) is then added to it.

[2021-06-01 17:06] whit2333 commented on #822
@asalzburger thanks. I think as @paulgessinger suggested, there might be a problem with `ProtoLayer::measure` which leads me to
`Acts::Extent Acts::Polyhedron::extent(const Transform3& transform) const`.

Are there any assumptions that go into [evaluating this line](https://github.com/acts-project/acts/blob/main/Core/src/Geometry/Polyhedron.cpp#L61)?

[2021-06-01 18:37] asalzburger commented on #822
Mmm, this line tries to estimate if the generated mesh (polygon) covers the origin of the surface and then forces the min radius to be 0, but if you have a disc (ring) structure it should actually find out that the origin is never covered, so the mesh generation might have a bug due to the pi flip.

Once it's set to 0, I agree the envelope should (must) be ignored.

Btw, the same code (generating

[2021-06-02 06:59] asalzburger commented on #822
So, summarising, we have two independent problems:
 * the envelope should not be applied on r if that's already 0
 * the r_min estimation of the flipped disk is wrong (likely due to phi flip)

[2021-06-02 08:14] paulgessinger commented on #821
I need to add a loop (very likely unrolled) that does one `<` comparison between the local indices and the maximum number of indices. So the overhead should be negligible I think. I need to change all the interfaces to return our `Result` object though, but that should be ok I believe.

[2021-06-02 08:52] HadrienG2 commented on #821
Note that if Result is too costly, exceptions are another error reporting possibility that lies somewhere inbetween Result and silly output on the performance vs correctness continuum.

[2021-06-02 09:07] paulgessinger commented on #821
I would prefer `Result` because it forces clients to handle errors.

[2021-06-02 09:27] asalzburger commented on #822
Divide and conquer:
 * I think you already started to work on a PR that omits the envelope in case r_min = 0, I think that's well justified, so you can just go ahead and submit this PR

 * I will tackle the r_min estimation with another PR, as I said, it should be possible to even display what's going on. Can you - just for me being able to make a mock-up, either:
     * `->Print()` of the `TGeo`

[2021-06-02 12:42] #782 closed

[2021-06-02 12:53] paulgessinger commented on #784
I opened #825. Note that doesn't fix the actual error we see here, it fixes the fact that this error sometimes shows up and sometimes doesn't (in my testing).

The reason why the navigation fails in the way seen here still needs to be investigated.

[2021-06-02 13:20] paulgessinger commented on #784
Preliminary update on this: it seems like the navigation loses the target boundary

[code]

at `(-46.4909 -176.181  1984.21)`, direction: `(-0.0580775 -0.0848079   0.994703)`.
The navigation then retries all boundary surfaces which are

- The cylinder from above at `0,0,0` and radius `182.2`, whose intersection just became invalid (over the limit)
- The inner cylinder at `0,0,0`, and radius `20.4`

[2021-06-02 14:27] HadrienG2 commented on #157
Still waiting for its turn, slowly rising to the top of the work stack...

[2021-06-02 14:47] paulgessinger commented on #784
Ok it seems to me that this is a simple overstepping error:
[code]

The propagation oversteps to `-0.1188337` while the overstepping limit is `-0.1`, so the boundary becomes invalid, and the navigator cannot recover.

@asalzburger since you are most familiar with the overstepping logic, is this expected to happen from time to time, and can we tolerate it?

[2021-06-04 12:57] paulgessinger opened #831 "Set RPATH on executables when installed"
Currently it seems like we don't, but we really should.

[2021-06-07 07:38] #831 closed

[2021-06-07 14:40] HadrienG2 commented on #823
The best solution is probably to use a `tbb::task_arena` instead, which [has been supported pretty much forever](https://software.intel.com/content/www/us/en/develop/articles/intel-threading-building-blocks-release-notes.html) and provides a locally scoped variant of the concurrency-limiting features of `tbb::task_scheduler_init`. Will do.

[2021-06-08 07:47] #823 closed

[2021-06-09 07:20] paulgessinger opened #838 "Optimize heap allocations in CKF"
Eventually I suppose this vector should go into the state or something like that, so we can avoid having to reallocate this every time.

_Originally posted by @paulgessinger in https://github.com/acts-project/acts/pull/830#r648033503_

[2021-06-09 15:12] baschlag commented on #561
Hi @asalzburger, I haven't been following the status of this work in the last months. Is there any update regarding the rework? I still like to implement the generic track linearizer on top of it.
Cheers

[2021-06-15 01:07] #579 closed

[2021-06-15 21:14] #821 closed

[2021-06-20 06:07] HadrienG2 opened #847 "SolenoidField benchmark goes out of bounds and crashes"
Since out-of-bounds B field queries are now an error, the SolenoidField benchmark should stop doing that. Otherwise, this will happen:

[code]

[2021-06-20 06:09] HadrienG2 commented on #157
With health issues now also getting in the way, it's fair to say that I just won't get this done anytime soon. So let's at least remove one little source of hurt in my life by preventing the stalebot from periodically reminding me about it.

[2021-06-20 06:09] #157 closed

[2021-06-20 06:09] HadrienG2 commented on #155
I don't manage to move forward on this, so let's unassign myself.

[2021-06-22 15:03] paulgessinger opened #850 "PLY output is bugged (at least for AnnulusBounds)"
There is one extra vertex at the module center.

[2021-06-22 15:45] paulgessinger opened #851 "Layer binning is broken for AnnulusBounds"
`AnnulusBounds` strike again. `Surface::binningPosition` is used to fill the layer bin structure.

Currently, `DiscSurface` does

[code]

This calls `DiscBounds::binning`, which is implemented (I think correctly) for `AnnulusBounds`, but **only if `bValue == binR`**. This should likely be `bValue == binR || bValue == binPhi`.

[2021-06-24 07:18] #847 closed

[2021-06-24 12:27] #851 closed

[2021-06-24 22:32] whit2333 opened #857 "KalmanFilter failed: KalmanFitterError:5"
Error:5 is KalmanFitterError::NoMeasurementFound. The output below shows the measurement are there. I am not sure how to proceed with debugging this?

[code]

Using acts version 8.3.0

[2021-06-25 18:29] whit2333 commented on #857
OK. Is there a way to turn on the verbosity of the KalmanFitter?

[2021-06-25 19:24] whit2333 commented on #857
@XiaocongAi I think I see the problem with the local coordinate system. Not sure where this is documented. I remember @asalzburger mentioning it a some point.

Here is an example output:
[code]

I do not understand any of the z values after the first hit.  They should be zero.

[2021-06-25 20:13] whit2333 opened #860 "Missing tracking geometry"
The endcaps are missing from the tracking geometry when I look at the output in cad (via obj writing).

![image](https://user-images.githubusercontent.com/2065918/123480015-5bc86500-d5c7-11eb-8757-9f51c0f0bf28.png)

Here is the full geometry:
https://eic.phy.anl.gov/geoviewer/index.htm?nobrowser&file=https://eicweb.phy.anl.gov/api/v4/projects/473/jobs/artifacts/master/raw/geo/detector_geo.root?job

[2021-06-27 20:30] paulgessinger commented on #860
Looks to me like it picks up on the endcap volumes at least since the log ends with
[code]

Maybe it's not adding the sensors inside these volumes? The log says

[code]

a number of times, though off the top of my head, I wouldn't know why that would happen.

Any idea @asalzburger ?

[2021-06-27 20:33] paulgessinger commented on #822
@asalzburger @whit2333 is this still a problem after #829 and #820?

[2021-06-27 20:34] paulgessinger commented on #784
As the error due to out of bounds interpolation is gone now, and the other error seems unrelated to the magnetic field, I'm closing this.

[2021-06-27 20:34] #784 closed

[2021-06-28 21:49] whit2333 commented on #822
I think so. When I realized that my "simplified disk geometry" was the source of the problems I switched the geometry construction. However, I am still having endcap geometry problems (see #860). Not sure if any of this is related.

[2021-06-29 15:28] paulgessinger commented on #207
As discussed in the meeting today, we will add a flag to the algorithms indicating whether they can run MT. The sequencer will check all algorithms before running and refuse to run in MT in this case.

[2021-06-29 15:29] robertlangenberg commented on #454
@asalzburger offered to take a look

[2021-06-29 15:45] #159 closed

[2021-06-30 11:24] paulgessinger commented on #207
@HadrienG2 It seems I am not actually able to reproduce this failure. I run:

[code]

which should result in the crash described here, right? Looking at `htop`, the mutex seems to visible in the form of very low CPU usage across threads. Could this depend on the G4 version, and potentially be fixed upstream?

[2021-06-30 11:39] paulgessinger commented on #661
This might be fixed by https://github.com/doxygen/doxygen/pull/8466, which is merged but waiting to be included in a release.

[2021-06-30 11:56] HadrienG2 commented on #207
Interesting ! Let me cross-check if it still fails on my side...

[2021-06-30 12:43] Corentin-Allaire commented on #486
So I had a look and I think the main issue here is trying to use the material writer in a context it is not made for. The writer works fine when writing material map : geometry with few surface (~100) and a lot of material bin (~10000 per surface). This is because, for each surface, to write the binned surface material it need 5 TH1 (information of the binning) and 6 TH2 (material bin).

But when

[2021-06-30 14:20] HadrienG2 commented on #207
...how unfortunate, it's still failing with a similar command line on my side:

[code]

Here's the set of dependencies that I built acts against:

[code]

[2021-06-30 18:36] paulgessinger commented on #207
Ok then I'll probably have to try to do a spack build I guess. Still possible that it is affected by the G4 version I guess.

[2021-06-30 18:37] #661 closed

[2021-06-30 18:40] #180 closed

[2021-07-01 08:53] andriish commented on #505
https://github.com/root-project/root/pull/8108   -- one should be able to compile with ROOT and higher c++ standard now

Also, in the most recent systems like Fedora with gcc11 ROOT is compiled with C++17.

[2021-07-01 09:19] paulgessinger commented on #505
Ah I hadn't seen this. Pretty nice!

[2021-07-01 11:22] paulgessinger commented on #207
Hm, I'm not able to run the spack build @HadrienG2 used to reproduce. He mentioned @Corentin-Allaire
might have encountered this somewhere, too. Do you remember where and in which environment?

[2021-07-05 10:13] Corentin-Allaire commented on #207
Hi, I also tested the geantino example locally but I also can't reproduce this error either. I am not sure it is related to the G4 version because if I look at the dependency in Hadrien's build it uses G4 10.7.1 which is also the version I use. In the past I always used this in single thread mode so I couldn't tell you if that error was there in the past or not, sorry...

[2021-07-06 14:31] asalzburger commented on #860
Hi, apologies - I did not have time to start investigating this yet.

Indeed, what @paulgessinger is pointing out is worrisome, if there are no senstive surfaces found, then they will not appear here. I will try to reproduce this in the next days.

[2021-07-06 14:32] asalzburger commented on #857
What is the local coordinate system in this case?

Or, differently asked: what is the underlying surface type where these measurements should be placed on?

[2021-07-06 15:10] #504 closed

[2021-07-06 15:13] asalzburger commented on #860
This could be a missing `ActsExtension`

[2021-07-06 15:16] paulgessinger commented on #207
As discussed in the meeting, we will close this for now. If someone runs into this again, and can therefore reproduce it, we will reopen.

[2021-07-06 15:16] #207 closed

[2021-07-06 15:17] #806 closed

[2021-07-06 18:08] whit2333 commented on #857
This is the barrel tracker modules as shown  in: https://github.com/acts-project/acts/issues/860

[2021-07-06 18:09] whit2333 commented on #860
@asalzburger  you can see the implementation here:
https://eicweb.phy.anl.gov/EIC/detectors/athena/-/blob/master/src/TrapEndcapTracker_geo.cpp#L197

[2021-07-06 18:13] whit2333 commented on #857
@asalzburger The implementation for the barrel tracker can be found here:
https://eicweb.phy.anl.gov/EIC/detectors/athena/-/blob/master/src/BarrelTrackerWithFrame_geo.cpp

[2021-07-07 07:02] asalzburger commented on #774
Is closed.

[2021-07-07 07:02] #774 closed

[2021-07-07 12:02] paulgessinger opened #869 "Digitization is not thread-safe / reproducable"
Working on #845 I noticed that the seeding algorithm produces a varying number of seeds from a fixed number of space points if run with multiple threads.

Single threaded, I see
[code]
every single time.

With 2 threads already I get:
[code]

Are we aware of this, and if so is this expected / understood?

[2021-07-07 12:02] paulgessinger commented on #869
@asalzburger @robertlangenberg @XiaocongAi

[2021-07-08 23:28] gagnonlg opened #870 "Automatic build of non-system boost?"
Users have reported to me that our minimal boost version breaks the promise of minimal dependencies. For instance when building Acts on top of a base centos8 image (which only have Boost 1.66) one has to go through the trouble of installing another boost version in parallel, which depending on the environment can be non-trivial.

I know of other floss projects that simply bundle the right Boost ve

[2021-07-09 07:52] paulgessinger commented on #870
Yeah, I've kind of ran into this in a few cases, like on CentOS8. It is really annoying. Aside from the source code size, my other concern is that a full boost build takes quite some time. We don't need a full build, of course, but it might also be problematic to have a custom half-built version somewhere.

Probably still a good idea though.

[2021-07-09 08:09] paulgessinger commented on #870
The other perspective is: how many boost components to we actually use in core and the plugins. As far as I can tell, it's

[code]
and
[code]

`boost::hana` is used for the measurement type generator, but is header-only. The elliptical integrals are used only for the solenoid field, and I think are also header-only. `small_vector` can probably be replaced, but I believe is also header-only. The st

[2021-07-09 19:16] gagnonlg commented on #870
I just had a brief look at how boost is built, it seems like their bootstrap.sh script allows fine-grained control of which parts of the libraries actually get built. So it seems to me that a combination of ExternalProject (on the cmake side) and building only what we want would cover both the header-only and library dependencies with minimal fuss.

To cover the header-only case properly, I think

[2021-07-12 16:03] paulgessinger opened #874 "Geant4 actions are duplicated"
We have duplicate classes like `PrimaryActionGenerator`, one in Geant4 and one in Geant4HepMC3 examples. Is this on purpose/necessary?

[2021-07-13 08:26] paulgessinger opened #875 "Sphinx 4.1.0 breaks our docs build"
Not sure what to do about it yet, I'm locking the versions again for now.

See [this job](https://github.com/acts-project/acts/runs/3047806606):

[code]

[2021-07-13 08:30] paulgessinger commented on #875
I'm attaching the logs here, because they will eventually expire on the CI job itself.

[docs.zip](https://github.com/acts-project/acts/files/6807175/docs.zip)

[2021-07-13 15:59] paulgessinger opened #877 "HepMC3 Reader/Writer broken (?)"
I'm trying to run the HepMC3 writer and reader. I can write out events from a particle gun fine (ostensibly), but reading them in again I get
[code]

where in fact the file contains the line `V -1 1 []`, and the parser apparently does not like it.

Do we have any idea on this? @FabianKlimpel maybe?

[2021-07-13 17:06] andriish commented on #877
Hi @paulgessinger ,

I will have a look. But could you, please, provide a simple reproducer? I mean a code that creates the file with `V -1 1 []`?

Best regards,

Andrii

[2021-07-14 12:50] paulgessinger commented on #877
Hey @andriish.

On the current `main` (803bd93e724a94099f3812fb036fc36242e61a97), you need to build ACTS with the examples. You then need to run

[code]

which will generate a bunch of files in a subfolder `csv`.

Then you run

[code]

which will create `.hepmc3` files in a folder `hepmc3`.

Running
[code]
then gives me

[code]

Let me know if you can reproduce with this.

[2021-07-14 22:44] whit2333 commented on #860
@asalzburger and @paulgessinger, do you have any idea what happened to the endcaps?

[2021-07-15 10:48] paulgessinger opened #881 "JsonMaterialWriter performs it's writes in the destructor"
I understand why this is done, but it is likely not a great situation. I think writing should occur at the end of `Sequencer::run` and not when the sequencer is deallocated.

I propose we either:

1. Refactor `JsonMaterialWriter` (and consequently `MaterialMapping`) so that it can become an `IWriter`, that gets an `endRun` call when the event loop finishes.
2. Add functionality to `Sequencer` such

[2021-07-15 20:12] #874 closed

[2021-07-16 07:52] whit2333 commented on #860
I found the reason why the endcaps were missing. The module DD4hep::DetElement's parent was not the layer DetElement (ie it was a sibling to the layer). Changing this, I found some other issues which were fixed.
See here for details: https://eicweb.phy.anl.gov/EIC/detectors/athena/-/merge_requests/88

Now the only question is why I have to separate the barrel/endcap sub-assemblies (eg the vertex b

[2021-07-16 12:49] paulgessinger opened #883 "GeometryExample SEGFAULTs when using JSON writers"
I noticed the geometry example SEGFAULTs when you enable both `JsonSurfacesWriter` and `JsonMaterialWriter`.

On `main` (`e47dc58cc7d8718d2cb0da412b76699a9c50e0a1`)

[code]
crashes with a SEGFAULT in [MaterialMapJsonConverter](https://github.com/acts-project/acts/blob/main/Plugins/Json/src/MaterialMapJsonConverter.cpp#L326):
[code]

Using GDB, it seems it crashes when trying to execute `ssf->geome

[2021-07-16 16:59] Corentin-Allaire commented on #883
Hi @paulgessinger, I am in vacation this week and next week so I will have a look at this (and the other issue you opened on the jsonwriting) when I am back (the 26/07). I agree with you this is kind of scary. One thing, if you have the time/opportunity (if not I will take care of it myself when I am back) :  if you invert the order of the `JsonMaterialWriter` and the `JsonSurfaceWriter` in `Geome

[2021-07-16 21:26] andriish opened #885 "cmake does not check for libexpat"
After a sucessful cmake configuration I see
[code]

Best regards,

Andrii

[2021-07-16 21:30] andriish opened #886 "cmake searches for boost in config mode"
I have a properly installed boost-1.75 in Fedora35/rawhide, but cmake searches boost in CONFIG mode and cannot find it.

removal of 'CONFIG' fixes the issue.

Best regards,

Andrii

[2021-07-16 21:40] andriish opened #887 "Suppression of warnings about possibly uninitialized values is required."
The amount of warnings issued during the compilation is not very large, but each warning is long and the output is completely unreadable
[code]
CXX:  gcc version 11.1.1 20210531 (Red Hat 11.1.1-3) (GCC)
with standard flags.

Best regards,

Andrii

[2021-07-16 22:15] andriish opened #888 "libActsExamplesPropagation.so is not installed"
[code]
The library is built
[code]
Best regards,

Andrii

[2021-07-16 22:22] gagnonlg commented on #888
Yes, I also ran into this issue while testing #871. I did a "drive-by" fix in that PR, so this will be fixed when we merge it, likely next week.

c.f. https://github.com/acts-project/acts/pull/871/files#diff-c836dbccb05d4a6ec0ed43b0dfcc94f1c56e339e1b2aa1904b9d66de2651520a

[2021-07-17 09:37] andriish commented on #877
Hi @paulgessinger ,

I run Fedora Rawhide with all default boost, root, eigen, gcc, HepMC3, cmake, tbb, libexpat and so on
From the non-default repos I use
DD4hep 1.16.1, geant 10.7.2, clhep 2.4.4.2, PTL 1.0.2
Everything compiles fine (modulo #887 #886 #885 #888 ), but while running the suggested executable

[code]
 I see this error:

[code]

I don't think this is actually related to the problems

[2021-07-19 09:18] paulgessinger commented on #877
This is a DD4hep error. Most likely you have to `source /path/to/dd4hep/bin/thisdd4hep.sh`, or set up `LD_LIBRARY_PATH`. Unfortunately, this is out of our control.

[2021-07-19 09:18] paulgessinger commented on #887
I've been seeing this as well on GCC11. I think this is a false-positive, but I'm not sure yet.

[2021-07-19 09:19] paulgessinger commented on #885
This is a second order dependency we have through DD4hep I think. I'd be hesitant to add a check in ACTS' cmake configuration for this, since we don't depend on `libexpat` ourselves.

[2021-07-19 09:20] paulgessinger commented on #888
Ah, my bad, I changed the propagation example from an interface to a shared lib and forgot to add an install directive.

[2021-07-19 09:22] paulgessinger commented on #887
@benjaminhuth could you take a look at this?

[2021-07-19 09:46] paulgessinger commented on #869
Steps to reproduce on `main` (b14a419):

`cd` to your build directory, I'm assuming it's `<repo_root>/build`

[code]

[code]

[code]

To see it, you'll likely have to also pass `-l0` for verbose logging. If I run the above example with `|grep Created` I get this:

[code]

i.e. sometimes it creates 4 track seeds from 5 SPs, and sometimes it's 5 track seeds.

[2021-07-19 10:00] paulgessinger commented on #883
Hey @Corentin-Allaire. No worries, whenever you're back is soon enough!

It seems to me like swapping the two writers indeed works, i.e. it doesn't SEGFAULT its seems.

[2021-07-19 10:13] andriish commented on #877
Hi @paulgessinger ,

All the binaries and libraries are in the default location,

So these should be in the $PATH.

Will tell you what will ahppen with the second attempt.

Best regards,

Andrii

[2021-07-19 10:14] paulgessinger commented on #877
DD4hep does fancy lookup of symbols via `dlopen`, so they don't necessarily have to respect any default environment variables and so on. I believe they do the lookup in `LD_LIBRARY_PATH`, however.

[2021-07-19 10:59] asalzburger commented on #860
Thanks @whit2333 - I had a chat with the `DD4hep` and I think we have to do some cleanup of this module.

Here's a few things:
- [ ] currently if you want to use ACTS with DD4Hep - your factories become dependent on ACTS, this should/will be solved by running the ACTS decoration as a DD4hep plugin
- [ ] there's still quite some assumption on how a geometry can look like for the parser to understan

[2021-07-19 12:00] benjaminhuth commented on #887
The warning seems to disappear when providing the default arguments in `StepperExtensionList.hpp:115`, such as:

[code]

Even if this does not explain really why these warnings occur, this would be an easy fix...

[2021-07-19 13:59] paulgessinger commented on #869
After some digging, it seems like it's actually the digitization that is doing something weird here. The spacepoints hitting the SeedingAlgorithm are slightly different *sometimes*, and this seems to result in the different number of seeds.

e.g.:

[code]

This is with a specified random number seed, so I would think the digitization and hit smearing should be deterministic, shouldn't it?

@asalzb

[2021-07-19 14:07] robertlangenberg commented on #869
Just to specify: the space points were differently smeared when running multi threaded, with a single thread they are stable - on ONE machine. Paul had different smearing on the thread ripper/centOS than I had on macOS even in single threaded mode.

[2021-07-19 19:02] whit2333 commented on #860
@asalzburger, thanks for the info. This all sounds great!

I have a question/comments about the first item:
Do you plan on implementing what looks to be called a dd4hep "surface installer plugin"? I would suggest that ACTS take advantage of the dd4hep surfaces which can explicitly define a coordinate system (u,v,n) in the detector construction. The third item in your list would put dd4hep and acts

[2021-07-19 19:24] whit2333 commented on #860
@asalzburger,
To follow up with the problem we are having: https://eicweb.phy.anl.gov/EIC/detectors/athena/-/issues/50

The first of the errors there look [like this:](https://eicweb.phy.anl.gov/EIC/detectors/athena/-/jobs/152248#L1500)
[code]

After this [we get the error](https://eicweb.phy.anl.gov/EIC/detectors/athena/-/jobs/152248#L1703):
[code]

[2021-07-19 19:39] whit2333 commented on #860
OK. I found the cause: the endcap layer surfaces were overlapping.  @asalzburger, Is this the layer concept that will be removed in the future?

[2021-07-19 20:32] whit2333 commented on #860
I will close the issue since I think it is fixed now.

[2021-07-19 20:32] #860 closed

[2021-07-20 15:24] paulgessinger commented on #717
For some reason I'm unable to assign @benjaminhuth

[2021-07-20 15:27] asalzburger commented on #717
Ok, no worries, I assign to myself fo book keeping.

[2021-07-20 16:07] robertlangenberg commented on #596
@XiaocongAi, you mentioned this has probably already been resolved some weeks ago?

[2021-07-26 09:01] #885 closed

[2021-07-27 07:31] #883 closed

[2021-07-27 09:38] paulgessinger opened #899 "Material mapping example is broken"
I believe #892 breaks the material mapping example for the ODD as described in our [docs](https://acts.readthedocs.io/en/latest/howto/run_material_mapping.html)

Before this change, this

[code]

works, after it, I get this:

[code]

@Corentin-Allaire, @asalzburger any immediate ideas why/what to look for? Otherwise I'll start digging.

[2021-07-27 09:42] paulgessinger commented on #899
Ah, I think it was just an outdated geometry map.

[2021-07-27 14:58] paulgessinger commented on #899
Ok, I think the geometry map JSON file in the ODD directory under `thirdparty` is out of date as of #892. I can generate one from the geometry example binary, but I think that contains more details than what is currently stored in that map.

@asalzburger can you advise how to recreate this file?

[2021-07-27 15:04] #870 closed

[2021-07-27 15:04] #888 closed

[2021-07-28 06:57] paulgessinger commented on #838
I started looking into this.

[2021-07-28 16:33] andriish commented on #877
Hi @paulgessinger,

yes, DD4hep has a complicated structure of paths, so I've compiled it from the sources.
After that it seems to work. Now I stuck at
[code]
Geant crashes because of NPD.  But I suspect that actually  some Geant4 variables are not set and the whole setup fails to find Geant4 particle data or something similar.
I run
[code]
and I expect the first two lines would set all the variab

[2021-07-29 07:09] paulgessinger commented on #877
The error looks to me like you might have to source `/path/to/g4/bin/geant.sh`for the variables to be available. Can you try that?

[2021-07-29 12:22] andriish commented on #877
Hi @paulgessinger ,

I did that and also was able to execute a standalone Geant4 example in that environment. The example has succesfully printed
particle definitions. So now I think the variables are fine. And, actually, the particle definitions are succesfully printed earlier in the run.

Also, I've attempted to do
[code]

already in the constructor
[code]

and got crash.

Could you, please try

[2021-07-29 13:14] paulgessinger commented on #877
I'm not sure which standalone Geant4 example you mean.

Only the `ActsExampleEventRecording` will print HepMC3 output. Did you try to run this, and that is what fails now?

[2021-07-29 13:25] andriish commented on #877
Sorry for not being clear. An example from Geant4. Just to test that the Geant4 installation is fine. It is.

Yes, I run ActsExampleEventRecording and get SIGSEGV that is traced to Geant4.

[2021-07-29 14:27] paulgessinger commented on #877
I just built G4 10.7 and checked, and I do not get a SIGSEGV.

Can you post the exact error you get? Did you build DD4hep against the same G4 version?

[2021-08-02 08:25] Corentin-Allaire opened #906 "Kalman Filtter doesn't account properly for the material in the smoothing"
When using the Kalman Filtter, the material between the target surface (eg: the perigee) and the first measurement is not accounted for in the smoothing. It is however still accounted for in the filtering step. This means that if material is mapped onto a beam pipe (or any kind of passive surface before the first measurement) then the covariance matrix is going to be too small since this material

[2021-08-02 14:25] paulgessinger commented on #886
I've looked into this a bit. It seems Fedora packages do not generally provide `XConfig.cmake` files. This means a ton of manual massaging to get cmake to find packages. I was unable to even build DD4hep without massive effort, configuration of it alongside ROOT and Geant4 turned out to be very complicated.

If there are no objections, I would tend to just not support Fedora, as we don't want to s

[2021-08-02 15:04] paulgessinger commented on #887
Ah, I think I just noticed what this is. The default declaration is:

[code]

`Vector3D` is in fact uninitialized, as far as I understand it, and that's what GCC10 complains about here. I guess this didn't cause problems because for `i==0` the extensions do not use `kprev` but I suppose it's safer to just initialize the default.

[2021-08-02 15:30] andriish commented on #886
Hi @paulgessinger ,

eh,  I'm confused. There is no need to provide anything. FindBoost is in cmake since a very long time
https://cmake.org/cmake/help/latest/module/FindBoost.html
Neither Fedora nor other distributions with *modern* cmake should use config mode.
Things work fine w/o the CONFIG keyword, which does not appear anywhere in the cmake documentation for FindBoost.

DD4hep, Geant4 and ro

[2021-08-02 16:19] paulgessinger commented on #886
I tried Geant4 and ROOT from RPMSphere, both of which appear broken. DD4hep needs G4 and ROOT, that's where I have trouble. I don't have experience with Fedora, and don't have time right now to build both from source.

Cmake CONFIG mode supersedes MODULE mode, so modern packages should migrate towards shipping with `XConfig.cmake`, so that downstream projects don't need to ship with a `FindX.cmake

[2021-08-02 16:21] paulgessinger commented on #886
Anyway, I can merge a fix for Boost, but it seems like a Fedora build without dependencies built from source won't work anyway, so I'm not sure it's worth it.

[2021-08-02 16:32] paulgessinger commented on #886
Ah, btw, looking at the CMake documentation you linked, it says all the way below that newer versions of Boost do ship with `BoostConfig.cmake`, and `FindBoost.cmake` will actually first look for the config file.

[2021-08-02 16:46] andriish commented on #886
Hi @paulgessinger ,

That might be the case. My understanding is that  CONFIG should not be used in any case as you've correctly mentioned

w/o any keywords. But w/o any keywords the FindBoost will work also if `BoostConfig.cmake` is not found.

[2021-08-02 21:06] benjaminhuth commented on #887
Ahh... The Eigen documentation also mentions that the default constructor leaves the values uninitialized. In fact I encountered this behaviour several times, but it is still a bit counter-intuitive...

[2021-08-03 06:55] #887 closed

[2021-08-03 07:44] andriish commented on #877
The exact error & output from gdb are listed above.
But I will try to rebuild geant4 from sources and post it here.

[2021-08-03 10:38] XiaocongAi commented on #775
I'm not sure which PR fixed this issue, but it seems this issue is not there any more. For example, I have rerun the examples and just saw 7 `KalmanFitterError:5` out of 100 ttbar mu = 200 events, which is reasonable. So I think we could close this issue now.

[2021-08-03 10:38] #775 closed

[2021-08-03 10:45] andriish commented on #877
Did everything from scratch. Same story.

[code]
DD4HEP and Geant4 build from sources

Please see attached the scripts used to build everything. The instructions are in the readme.

The scripts should be portable across major modern Linux distros.

[ALL.zip](https://github.com/acts-project/acts/files/6923481/ALL.zip)

[2021-08-03 10:48] paulgessinger commented on #877
Just to be sure, can you try running `ActsExampleEventRecording` with `-j1` and see if it still segfaults?

[2021-08-03 11:00] andriish commented on #877
Eh, hm.
It does not. and I get a lot of proper HepMC3 events.  --->

The bug is elsewhere.

But now you have an environment to reproduce the *other* bug.

[2021-08-03 11:03] paulgessinger commented on #877
It might be related to #207, which we hadn't been able to reproduce reliably.

[2021-08-03 11:20] andriish commented on #877
Hi @paulgessinger ,

Hopefully, now you can.

If you are actually can reproduce what I see with the scripts I've prepared that makes sense to open a new issue.

Concerning this one -- if there are no reproducers, this one can be closed as well.

Best regards,

Andrii

[2021-08-03 11:35] paulgessinger commented on #877
Can you send me some of the HepMC3 files you get?

[2021-08-03 11:46] paulgessinger commented on #877
Thanks @andriish.

All of the 5 files you sent me contain the problematic lines:

[code]

Does your previous statement mean this is valid HepMC3 data?

[2021-08-03 11:54] andriish commented on #877
Ok. Now it is interesting.

[2021-08-03 13:53] #596 closed

[2021-08-03 14:04] XiaocongAi commented on #571
With the recent test using 100 ttbar events (mu = 200) with the GenericDetector, const B field and using smeared starting parmeters, the efficiency drop at phi=+/-pi/2 is not obvious any more as below:
![image](https://user-images.githubusercontent.com/30073719/128028262-16dfa704-7b78-4c77-b920-f78ad515d107.png)

NB: The efficiency fluctuation in the above plot is probably related with the cut of

[2021-08-03 14:04] #571 closed

[2021-08-03 14:58] andriish commented on #877
Hi @paulgessinger @FabianKlimpel ,

1)

No. But the concept is that writers are more permissible than writers. The logic is that one can write a poem in some foreign language, but if the written text makes sense is checked on reading. In HepMC3 this behaviour is especially useful for debug -- to see that the events are wrong one should print/write them in some way.

2)
My idea was to check that th

[2021-08-03 15:52] #850 closed

[2021-08-03 15:53] #710 closed

[2021-08-03 19:05] andriish commented on #877
Ok, it seems the algorithm from @FabianKlimpel is fine per se, but lacked the cleanup in the end.
And that is not a "quick and dirty" fix. As far as I remember the algorithm was creating a dummy vertex for each "new" particle, so the cleanup is need by design.

Best regards,

Andrii

[2021-08-04 04:10] beomki-yeo opened #913 "ActsExampleParticleGun does not produce the particles over 2^16"
For example, if I run the following command:

[code]

The number of output particles is limited to 2^16. Is it because the numerical limit of `size_t` is 2^16?

[2021-08-04 11:35] paulgessinger opened #914 "RootNuclearInteractionParametersWriter SEGFAULTs"
After fixing #877 via #911, I observe the RootNuclearInteractionParametersWriter failing with a SEGFAULT.

Opening this for reference.

[2021-08-04 11:53] andriish commented on #914
Hi @paulgessinger ,

if you have a reproducible environment, list of commands and a stacktrace that would be great.
I could have a look and help to fix it while Fabian is busy with other things.

Best regards,

Andrii

[2021-08-04 14:21] #877 closed

[2021-08-04 14:29] #869 closed

[2021-08-04 15:16] kkrizka opened #926 "CKF Misses Hits in Seed's Volume"
While working on the ACTS tracking for the Muon Colllider, I noticed that the fitted tracks only had one hit in the vertex detector. The one hit corresponded to the layer for which the seed parameters fed to CKF corresponds to. I believe I managed to reproduce this in ACTS v10.0.0 just by following the example commands for the Generic detector.

Is this expected or am I just misinterpreting the re

[2021-08-04 15:38] paulgessinger commented on #914
I get the problem when running

[code]

after the preparatory commands from #877, which produces the files in `hepmc3`.

Thanks for looking into this.

[2021-08-04 19:50] andriish commented on #914
Well, the fix seems to be obvious after looking at stacktrace.
Also: multithreading seems to be a problem here as well.

[2021-08-04 19:53] andriish commented on #886
Hi @paulgessinger ,

would you merge #909 ? This would reduce the build script @ Fedora by 1 line....

Andrii

[2021-08-04 19:55] gagnonlg commented on #886
@andriish I will have a look at #909 later today

[2021-08-06 00:29] gagnonlg commented on #886
@andriish @paulgessinger I just looked into this a bit. There is this variable: https://cmake.org/cmake/help/v3.15/variable/CMAKE_FIND_PACKAGE_PREFER_CONFIG.html

Presumably setting it to TRUE causes find_package to use CONFIG mode even when not specified, but falls back to the find* behavior if that does not work. Naively this seems to be exactly what we need.

@andriish can you try setting this

[2021-08-06 06:20] andriish commented on #886
No special variableas or version bumps  are needed. The stock FindBoost has desired behaviour, see cmake docs. Just merge #909.

[2021-08-06 07:15] paulgessinger commented on #886
@gagnonlg I think `CMAKE_FIND_PACKAGE_PREFER_CONFIG` is actually what we want, yeah. The only potential problem with CMake 3.15 is that our currently lowest "supported" LCG version is 97apython3, which ships with CMake 3.14.3.

I guess we could think about dropping LCG97apython3 though, and then we're free to bump and do this.

[2021-08-06 11:47] andriish commented on #886
https://cmake.org/cmake/help/v3.14/module/FindBoost.html

[code]
So #909 has the desired behaviour for the supported versions and does the job.

Moreover, I don't even know (because there are no docs!) on the interaction between `CMAKE_FIND_PACKAGE_PREFER_CONFIG` and `Boost_NO_BOOST_CMAKE`.

Best regards,

Andrii

[2021-08-06 12:11] andriish commented on #886
For FindBoost

" " means "search in CONFIG mode and then in MODULE"

 "CONFIG" means "search only in CONFIG mode"

For all supported versions.

Hopefully this is a good explantion.

Best regards,

Andrii

[2021-08-06 12:32] robertlangenberg commented on #886
I agree CMAKE_FIND_PACKAGE_PREFER_CONFIG is the way to go. Before dropping LCG97apython3 we should at least discuss in the Tuesday meeting if someone thinks this should still be supported, and we should probably wait until @asalzburger is back.

@andriish @paulgessinger There seems to be some confusion, if CONFIG mode is the recommended way and FindX is deprecated, we should focus on supporting CO

[2021-08-06 12:56] andriish commented on #886
Where exactly?  What do you mean exactly?

?

Now I'm really confused. Could you, please, give some reference to the documentation? Other wise your claims look completely unsupported.

Best regards,

Andrii

[2021-08-06 16:10] paulgessinger opened #934 "Is the AMVF slow?"
@baschlag and I were just looking at some timing numbers for the AMVF example in main, and with the default cuts of pt>500MeV, |d0|<4mm and |eta|<2.5, the AMVF has to think about 6-10 seconds before coming up with vertices.

This feels slow, especially in comparison with what @baschlag observed when testing performance within ATLAS.

Maybe this is a configuration issue, in that the Pythia-generate

[2021-08-06 16:56] gagnonlg commented on #886
@andriish as far as I can tell the Boost_NO_BOOST_CMAKE option is not a cmake env var that can be set with -D and we don't use it in our configuration so the point is moot. The CMAKE_FIND_PACKAGE_PREFER_CONFIG variable should do exactly what you want and future-proof our build configuration in the event that FindBoost.cmake is deprecated (I could not find any official word on this but discussion o

[2021-08-06 19:53] andriish commented on #886
Hi @gagnonlg ,

this issue is not a big deal at all and I'm not using acts at all and I don't like discussions for the sake of discussions, but
for me that is interesting that we have completely different understanding of  the same, very clear documentation of cmake.

It is. The docs say exactly that. But if you don't trust the official docs, look how people use it https://www.google.com/search?q=

[2021-08-06 19:59] gagnonlg commented on #886
Hi @andriish, thanks for the clarification. I probably misunderstood what Boost_NO_BOOST_CMAKE does, it does nothing in my installation and cmake points it out to me but I think that's because I use the boost-provided config, not findboost.

The main advantage I see of doing CMAKE_FIND_PACKAGE_PREFER_CONFIG is that in the event that one has a boost installation that supplies a cmake configuration

[2021-08-06 21:19] andriish commented on #886
I do!  And that is the default behaviour if the 'CONFIG' keyword is NOT present in the call.

My understanding is that

#909  will work as follows:
   cmake <3.14
    - FindBoost.cmake is present and used
    - load boost-provided config if found, otherwise do the search in  boring way
   3.14<cmake<3.X
    - FindBoost.cmake is present and used
    - load boost-provided config if found, otherwise

[2021-08-08 18:00] #561 closed

[2021-08-10 15:10] #914 closed

[2021-08-11 08:58] paulgessinger commented on #913
I opened a PR #939 to address this. With that, the particle gun example should now also warn about too large input values for nvertex and nparticles.

[2021-08-11 18:12] gagnonlg commented on #886
Hi @andriish , thanks for the write up. I'm not a cmake expert at all, and I actually thought that CONFIG and "Module" modes were mutually exclusive for find_package, but I've re-read the documentation and it seems like the option I'm proposing only switch the order of preference of the two. Seems to me like this is too small an improvement to justify dropping cmake <3.15, at least for the time be

[2021-08-12 06:52] paulgessinger commented on #886
Ok

[2021-08-12 06:58] #886 closed

[2021-08-12 17:23] whit2333 opened #942 "[bug] Off axis endcap with dd4hep plugin."
Hello,

I get the following error when the "layer" volume associated with an "endcap" is offset from the z axis:

[code]

I think we have hit the limit of the imposed barrel-endcap construction paradigm in the dd4hep plugin. The detector in this case is a far forward detector without a corresponding negative endcap. (Perhaps this endcap pair requirement should be the first to go in upgrading the d

[2021-08-16 13:40] osbornjd opened #944 "Debug Information in Acts Seeder"
The current implementation of the Acts seeding algorithm has no debug or verbose statements that could be turned on with the Acts logging functionality. It would be useful, for e.g. debugging when no seeds are found, if there were some options for understanding what the seeding algorithm is doing with the input that is provided to it, e.g. with some logging statements.

[2021-08-16 15:32] #913 closed

[2021-08-17 09:35] robertlangenberg opened #946 "Reasonable default configurations?"
The configuration in the example do not correspond to the detector used, the efficiency is not very good when it should be (nearly) 100%.

Similarly, the default-smearing-config-generic.json allows for 10 standard deviations in some volumes, not sure if that is a typo too. Also, not all volumes are configured (assuming the volumes are numbered 1,2,3...).

Since Acts users tend to run the examples

[2021-08-17 10:47] paulgessinger commented on #946
See #945

[2021-08-17 11:21] robertlangenberg commented on #946
@paulgessinger yes #945 resolves the overly convoluted configuration, but doesn't make the values sensible. I'll edit the issue to only mention the flawed default configuration.

[2021-08-17 16:07] stephenswat opened #948 "Enabling hit smearing reduces number of selected truth particles"
I have noticed some interesting behaviour in the interaction between the truth particle selection and the hit smearing, but I do not have the requisite knowledge to comment on whether this is actually a bug or not - so any input would be appreciated.

When running one of the seeding examples on an event with 4000 truth particles, the number of selected truth particles depends on whether hit smeari

[2021-08-17 16:07] stephenswat commented on #948
Pinging @robertlangenberg who was witness to this and told me it was unexpected. :innocent:

[2021-08-17 17:39] gagnonlg commented on #948
I'm not a seeding expert but looking quickly at the seeding example code, it uses a measurement<->particle map which is filled by the selected digitization algorithm. I'm guessing the simple smearer for some reason fails to do its job for some of the hits, and looking at that source code I see that it does not log any message in that case...

However, the way the digitization is configured is a li

[2021-08-17 17:43] gagnonlg commented on #946
About the volume ids, according to my notes at build level 3 for the generic detector we have:
[code]

[2021-08-17 17:48] gagnonlg commented on #946
For the smearing widths it seems like I set them to the pixel widths I got from https://arxiv.org/pdf/1904.06778.pdf. Reflecting back on this, you are right that it's much too wide as only ~66% of the hits would be recorded by the pixel they really crossed...

[2021-08-17 18:00] gagnonlg commented on #946
Looking at https://atlas.web.cern.ch/Atlas/GROUPS/PHYSICS/PUBNOTES/ATL-PHYS-PUB-2018-002/, Fig 11 a & b, For the ATLAS ID barrel it's closer to width/5

[2021-08-17 18:48] whit2333 commented on #875
@paulgessinger ,

Is there still a doxygen build for the docs? I have always found sphinx/RTDs style good for manuals but not able to match doxygen for code documentation.

For example, the current documentation doesn't have documentation for the main dd4hep plugin function
`convertDD4hepDetector`.

[2021-08-18 07:51] paulgessinger commented on #875
We run doxygen but only pull in the information into sphinx. Theoretically, everything that doxygen saw should be in there. I faintly remember there was a problem with doxygen processing the plugins, so I believe none of the plugins are visible there. I'll have look if I can fix this.

[2021-08-18 11:14] paulgessinger commented on #875
It seems this issue will be fixed in https://github.com/michaeljones/breathe/pull/711, allowing is to bump sphinx.

[2021-08-19 01:30] #857 closed

[2021-08-19 18:39] whit2333 commented on #942
@asalzburger is this a known limitation?

[2021-08-19 22:25] gagnonlg opened #955 "Retire the SmearingAlgorithm digitization"
[I'm filing this issue just so that I don't forget to do this reasonably soon.]

The SmearingAlgorithm is superseded by the DigitizationAlgorithm, which can do both geometric and smearing digitization. In a future PR, let's remove the SmearingAlgorithm altogether. At the same time this should simplify somewhat the digitization configuration code as it will only have to care about a single version

[2021-08-19 22:30] gagnonlg commented on #139
I think #663 mostly takes care of this. The configuration format and algorithm (DigitizationAlgorithm) allows to do everything asked for in the checklist, so we can close this one.

[2021-08-19 22:30] #139 closed

[2021-08-19 22:32] gagnonlg commented on #946
I will go ahead and self-assign this. @robertlangenberg, do you agree that width/5 is a sensible default for the resolution?

[2021-08-19 22:33] gagnonlg commented on #926
#946 may be relevant

[2021-08-20 08:05] paulgessinger commented on #955
I think if we get rid of the SmearingAlgorithm, and the DigitizationAlgorithm is steered by a config file, we should just get rid of the command line options that were used to configure the smearing algorithm.

My only sort-of gripe with the configurations is that they are very poorly documented overall, and also not really human-writeable. Any idea on what to do about this? I was playing around w

[2021-08-20 08:40] paulgessinger commented on #942
This looks like a failure in the binning. This is a bit weird since the bin lookup should be safe, i.e. it shouldn't try to get bin number 7 when there are only 6 bins. Maybe the binning logic makes some wrong assumptions when the layers are not (approximately) on axis?
Would it be very difficult for you to run this through a debugger to find out where exactly it's doing the out-of-bounds access h

[2021-08-20 08:43] robertlangenberg commented on #946
I would have to guess, but if you read up on it, it should be fine? @asalzburger what do you think?

[2021-08-20 22:12] whit2333 commented on #942
@paulgessinger is the binning a feature that is used for tracking or is it just used for hit/channel generation? For our purposes, AFAIK, we only need "surfaces" and "volumes". We construct the covariance matrix using information from dd4hep's segmentation.

Perhaps, it is just confusion on my part regarding the jargon.

[2021-08-21 09:25] paulgessinger commented on #942
The binning that this is referring to here is the layer binning which is used to lookup sensor surfaces for an intersection with the layer surface during navigation. In theory a single bin can be used here, which will slow down navigation a bit because a larger number of sensors have to be tried.

[2021-08-22 22:53] XiaocongAi commented on #926
Hi @kkrizka , thank you for the detailed info. I could repeat this issue successfully. I guess this might be related to the way how the navigator works, i.e. if the starting parameters is on a pixel layer, the navigator will skip the searching for additional layers in this volume hence the other pixel layers will never be walked through. That's probably why we see that the search for measurements

[2021-08-23 19:28] whit2333 commented on #942
Good to know. Thanks.

[2021-08-24 15:25] gagnonlg commented on #946
Let's use width/sqrt(12) as discussed in today's dev meeting

[2021-08-24 15:26] paulgessinger commented on #942
Is there any way you could provide more information on the geometry construction. It's pretty difficult to diagnose what might be root problem here with just this log. Can you provide the full log file again, I think the one you linked might have expired, or are otherwise inaccessible to me.

Could you also briefly describe the endcap geometry again to me? Are the disks all off-axis? How many sens

[2021-08-24 15:31] paulgessinger commented on #955
As discussed in the Meeting today, we will remove the `SmearingAlgorithm`

[2021-08-24 15:47] gagnonlg commented on #955
One of thing I liked about the cli switches was that you could easily "bootstrap" a json config by starting out with the cli switches and adding --dump-digi-config-file and work with the resulting .json. Maybe instead of removing wholesale we could strip it down to a "configuration helper" or something. Otherwise I think our only option is to properly document the .json format that we use. Thought

[2021-08-24 15:56] paulgessinger commented on #955
I think I would probably tend towards properly documenting the JSON format and possibly refactoring it to be a bit more *human-writable*.

On way to do this, possibly, would be to use the JSON-schema I mentioned above to properly *define* the format, and then use something like HJSON, or even YAML to make the format less tedious. I'm not quite convinced of this approach, though.

[2021-08-24 16:59] #946 closed

[2021-08-25 11:21] #906 closed

[2021-08-26 11:59] paulgessinger opened #961 "Navigation failures during CKF execution"
@plariono observed a number of navigation warnings/failures (see [mattermost](https://mattermost.web.cern.ch/acts/pl/m1exs41q5fywdriyqj7wtdqu1o)) when running the CKF. @XiaocongAi confirmed this has been observed in the past, so likely is not specific to @plariono's configuration.

Log file is [here](https://cernbox.cern.ch/index.php/s/iJKE3oLMRUyPrvr) might expire though, a relevant section is th

[2021-09-02 13:47] paulgessinger opened #980 "Geantino recording broken?"
After #962 was merged, I get a large number of warnings like

[code]
which I think makes the G4 primary generation not do anything. Is this expected or a bug @asalzburger? I think this only occurs when running with multiple threads.

[2021-09-02 14:02] asalzburger commented on #980
No, this is certainly a bug, I've tested it though, but not after the merge - I will have a look!

[2021-09-02 14:07] paulgessinger commented on #980
Hm, I also find that with `-j1` the output root file looks garbled. For instance, `v_eta` does not seem to be correctly populated at all.

[2021-09-03 05:04] asalzburger commented on #899
Hi, the ODD material mapping runs actually without the JSON config, as the protomaterial is already constructed by DD4hep translation.

[2021-09-03 07:16] paulgessinger commented on #899
I see, but it didn't use to, as per our docs. So should we then just adapt the docs to remove the input arguments there?

[2021-09-03 07:30] asalzburger commented on #899
Sure, we need to fix this, as beam pipe, PST and Solenoid are not invisible anymore, they config file needs updating.
We probably should have both options in the docs.

[2021-09-03 07:51] paulgessinger commented on #899
Wait I thought you said above we didn't need the config file anymore?

[2021-09-03 07:54] asalzburger commented on #899
Both options are (and always have) been there - the DD4hep plug-in lets you define the proto material through the xml - but also you can load a JSON (as you would do for geometries that do not offer the xml capabilities).

[2021-09-03 08:50] asalzburger commented on #980
I *think* we need to restrict this example to `-j1` due to the RunManager::GetEventID() static instance.

[2021-09-03 09:07] asalzburger commented on #980
First fix should be there:
- [ ] https://github.com/acts-project/acts/pull/981
- [ ] Second needs a bit more thinking if this is possible

[2021-09-03 09:46] paulgessinger commented on #980
Can we not use `thread_local` to communicate which thread is handling each event? I **think** we could simplify the entire `EventRegistry` to have a single instance of a `thread_local` object with pointers to the event store and so on. This automatically makes sure each thread has it's own copy, and we could get rid of the map and therefore event id as a key entirely.

[2021-09-04 00:57] beomki-yeo opened #982 "[Bug] float custom scalar type for acts does not work"
Acts does not compile with `-DACTS_CUSTOM_SCALARTYPE=float`

Following is the error message but I am pretty sure it is a tip of iceberg (I also got huge amount of warning messages from convesion double->float)
[code]

[2021-09-06 08:33] asalzburger commented on #982
Hi,

thanks @beomki-yeo - the custom scalar is a bit post-fitted, we did have everything on `double` at the beginning, it might need a good amount of work, cleanup to to have it fully worked through.

If we think that's a good idea (and needed), we should start a campaign going through the code and clearing it out.

And have a CI test that checks that no new PR breaks it.

[2021-09-06 16:49] beomki-yeo commented on #982
Looks like it would be a super heavy job - We may try to handle the issue when we migrate traccc into acts core in the future

[2021-09-08 15:39] kkrizka commented on #926
Hi @asalzburger, any idea what could be wrong? To me, this seems like a serious bug in ACTS.

[2021-09-09 15:32] gagnonlg commented on #926
Added the "Impact - Major" label, to hopefully attract more attention to this issue

[2021-09-10 09:45] plariono opened #984 "Segmentation violation in TruthTrackingTGeo"
Hello, I'm facing a segmentation violation when running the TruthTrackingTGeo example with standard smearing configuration.
I was not able to identify the reason from the ERROR, DEBUG log level options.  The VERBOSE log shows that the error likely occurs in the RootTrajectoryFinder (breaks after finding 4 particles while 10 particles were generated per event).

Do you have an idea what can cause t

[2021-09-10 13:32] paulgessinger commented on #984
Hey @plariono,

1. Does the SEGFAULT occur if you run with a single thread (`-j1`)?
2. Have you tried (or can you try) running with Debug (`-O0 -g`) and gdb to see if it tells you where the SEGFAULT happens?

[2021-09-10 14:04] plariono commented on #984
Hi @paulgessinger,

Yes it occurs with a single thread as well.

Will try, thank you.

[2021-09-13 07:40] asalzburger commented on #984
Hi,

I have reproduced that - and I could find a partial fix.

I will leave it to @XiaocongAi though to fix this properly.

Both, the `TrackSummary` writer and the `TrackStates` writer get tracks with malformed track-tip indices (it is indeed the max value of `unsigned int`).

I hacked that in both modules by introducing an artificial cut-off, but we should not *deploy* this fix, but rather fix th

[2021-09-13 08:14] plariono commented on #984
Hi @asalzburger,

Thank you for the temporary fix.

Best regards,
Pavel

[2021-09-13 08:18] asalzburger commented on #984
I am actually running some more tests, probably I can find the underlying issue.

[2021-09-13 20:01] stephenswat opened #988 "Should seed finding tools have a higher-level interface?"
The seed finding interface (see [Seedfinder.hpp](https://github.com/acts-project/acts/blob/main/Core/include/Acts/Seeding/Seedfinder.hpp)) is currently defined as a single method, which is given as:

[code]

To me, this seems like a sub-optimal way to interface with the seed finding code. I say that because this interface seems to follow the binning model, where space points are divided into botto

[2021-09-14 15:47] asalzburger commented on #926
This looks like a navigation problem - @XiaocongAi will provide some more information.

[2021-09-15 12:52] XiaocongAi commented on #926
Hi @asalzburger , I made a summary of the issue with an example here:
[NavigationIssue.pdf](https://github.com/acts-project/acts/files/7170147/NavigationIssue.pdf)

Could you have a look to see how we can fix the issue?

[2021-09-16 07:22] asalzburger commented on #926
Excellent @XiaocongAi  - I will get right onto it.

[2021-09-16 12:13] asalzburger commented on #984
It look like this is an issue when the track fit is not working correctly, why the trackTip then becomes `numeric_limits<unsigned int>::max()` I don't know.

[2021-09-16 14:40] asalzburger commented on #926
[code]

[2021-09-16 14:40] asalzburger commented on #926
Thanks @XiaocongAi - I will give it a try.

[2021-09-17 07:36] asalzburger opened #994 "Wrong state flag (or output) in CKF"
While debugging #926 I saw the following:

[code]

As this is a passive/approach surface this should not be a "Hole track state" but a "Material track state" - I suppose just the screen output is not correct?

[2021-09-17 07:39] asalzburger commented on #926
Alright, I can reproduce the problem:

[code]

The navigation is finished with layer 2 in volume 8 and jumps directly to the boundaries ... bad .

[2021-09-17 08:08] asalzburger commented on #926
More diagnostics:

The starting layer is correctly handled, however, since there was a fast navigation initialisation - the `navLayer` vector is empty - and hence the target mode is automatically set to `targetBoundaries`. A simple check on the `startLayer` condition could fix this indeed.

[2021-09-17 08:56] asalzburger commented on #926
Looks like this did the trick:

[code]

[2021-09-17 09:01] asalzburger commented on #926
Hi @kkrizka and @XiaocongAi - see my proposed fix for this issue - could you please confirm/cross-check that this does indeed address the issue?

[2021-09-17 14:07] kkrizka commented on #926
HI @asalzburger and @XiaocongAi ,

Thank you very much for looking into this and providing a fix!

I also confirm that the proposed fix seems to work. Here is the hits per track plot from my original report with the fix applied. Around 4 hits in volume 8 on average = looks good.

![avghitspervolume](https://user-images.githubusercontent.com/177068/133796323-c381c9e2-99ed-4807-8f60-12f6022900d5.png

[2021-09-17 14:20] asalzburger commented on #926
Ok, waiting for @XiaocongAi 's approval - then we can merge that in.

[2021-09-17 22:12] #926 closed

[2021-09-20 13:58] #984 closed

[2021-09-20 13:59] #961 closed

[2021-09-20 21:03] XiaocongAi commented on #994
Closed by PR #996.

[2021-09-20 21:03] #994 closed

[2021-09-21 15:32] paulgessinger commented on #980
I'll try out the `thread_local` approach.

[2021-09-21 15:38] #486 closed

[2021-09-21 16:23] robertlangenberg commented on #988
Hi Stephen, this makes total sense to me, let me just add:

The interface was originally "feed in one (middle) space point (and bin finders), get all seeds for this (middle) space point back", but it turned out to be very slow, probably because I passed stuff by value instead of by reference and other such embarrassing performance no-nos. The reason for both the "middle bin" and "middle spacepoint

[2021-09-22 07:25] #875 closed

[2021-09-24 07:28] asalzburger opened #1010 "ATLAS ITk chain demonstrator"
With #999 being merged after CI finishes, we should have everything in hand to establish a first ITk chain demonstrator in `ActsExamples`.

Here's what I think is needed and particle missing, please tick the boxes/comment

- [ ] split configuration for the modules (@niermann999)
- [ ] material map, recorded in Athena, mapped in `ActsExamples) (@Corentin-Allaire)
- [ ] digitisation configuration sm

[2021-09-24 07:36] paulgessinger commented on #1010
🥳

[2021-09-24 08:08] Corentin-Allaire commented on #1010
I don't think it would work to just transfert the map, for it to work the geometry Id would need to be exactly the same in both and I am not sure that is the case. Recording the material in athena then mapping it in Acts is much saffer and not too complicated (we just need to reformat the root file).

[2021-09-24 08:16] noemina commented on #1010
FYI: also the athena ITk Tracking geometry has been implemented in master and the material has been mapped. We can start comparing the configurations.

[2021-09-24 08:44] paulgessinger commented on #1010
That's exactly what I was thinking.

[2021-09-24 08:46] noemina commented on #1010
Reading the map is not what we should do, I agree, but remapping the same geantino steps on the ACTS tracking geometry (of course implementing the mapping procedure or using the same as done in ACTS standalone) is something we could do in athena as well, right?

[2021-09-24 08:52] Corentin-Allaire commented on #1010
Yeah, we will do the mapping separately in both Athena and Standalone but we can use the same material step as input and the same binning. The issue is that due to the way we automatically associate Id to layer and volumes the Id might slightly differ between Athena and Standalone so we cannot directly use the same map file but with some slight adjustment of the config file we could do the exact s

[2021-09-24 09:05] paulgessinger commented on #1010
I think eventually, we will have to map onto the ACTS-ITk tracking geometry in Athena directly, without going through the standalone, because the material maps will not be compatible due to the geometry ids, yes. But with the tooling that @noemina has set up for the Athena-only material mapping now, it shouldn't be too hard to supply an algorithm that does the mapping.

[2021-09-24 09:09] Corentin-Allaire commented on #1010
Sorry maybe I was not clear we have everything needed to map the material onto the ACTS-ITk tracking geometry in Athena right now, I think by next week I will have it. Then we can redo it in standalone if needed.

[2021-09-24 11:51] niermann999 commented on #1010
I opened a merge request for the splitting configuration on gitlab

[2021-09-27 16:04] #155 closed

[2021-09-27 16:04] #484 closed

[2021-09-27 16:04] #485 closed

[2021-09-28 13:37] XiaocongAi opened #1017 "Material effects in backward propagation"
In current `PointwiseMaterialInteraction::updateState` method, we add noise to the track parameters covariance in forward propagation and remove the noise in backward propagation (`NoiseUpdateMode`).

I'm not sure if this is accurate. At least the KF backward filtering will have lots of negative covariance and give biased pull if we remove noise in the backward propagation.

If we change this to a

[2021-09-30 09:58] plariono commented on #980
For me it doesn't work with the output below. When I revert to commit #950 it works fine.

[code]

[2021-09-30 11:10] paulgessinger commented on #980
Hey @plariono, that looks like a linking problem. I think what might be happening is  that the `GeantinoRecording` executable got renamed to `ActsExampleMaterialRecordingX`, so you're executing the old executable that likely hasn't been rebuilt in a while. Now apparently with #950 applied, you get a linking error from that old executable with the newly built shared libraries.

Long story short: ca

[2021-09-30 12:17] plariono commented on #980
Hi @paulgessinger, oh I see. I've run `ActsExampleMaterialRecordingGdml` and get the warning that you reported for all or nearly all events.

[2021-09-30 12:30] paulgessinger commented on #980
Hm @plariono. This behavior was fixed for me with #1006. Is that included in the branch you're testing?

[2021-09-30 12:53] plariono commented on #980
@paulgessinger Indeed #1006 was not included. With the up-to-date version I get this:

[code]

[2021-09-30 13:21] paulgessinger commented on #980
Ok that's odd. I must admit I haven't tested the GDML detector construction so it's possible there's a bug there.

[2021-10-04 07:06] paulgessinger opened #1024 "Material recording does not produce NEVENTS x NTRACKSPEREVENT material tracks"

[2021-10-10 19:35] XiaocongAi opened #1036 "Improvement: Estimate track parameters from seed at perigee surface"
Currently, the `estimateTrackParamsFromSeed` estimate the track parameters at the bottom space point for a seed. However, it's better to do the estimation at the beam line, say a perigee surface is specified as the reference surface of the estimated track parameters.

This requires some adaption of the calculation in this method [here](https://github.com/acts-project/acts/blob/main/Core/include/Ac

[2021-10-20 16:07] LuisFelipeCoelho opened #1045 "Just to make it a little easier to read, this should do the same thing:"
I changed it to:

 size_t phiBinLocalIndex =
            1 + (phiBin + phiBinIndex + (maxPhiBin - 1)) % (maxPhiBin)

in order to get the last bin right.

[code]

[2021-10-20 16:08] #1045 closed

[2021-10-21 18:44] paulgessinger opened #1049 "Digitization example with particle reading not reproducible"
The output of the digitization example seems to change between runs when running with multiple threads.

[2021-10-22 12:27] plariono opened #1050 "Bug? in ActsExampleFatrasTGeo event processing with Pythia input"
I've spotted an issue of Fatras simulation when processing Pythia events.

I generated 50 pp 14 TeV events as:
[code]

When doing their propagation with ActsExampleFatrasTGeo most events were processed within seconds or faster but then for a few events it took 15/10 mins to process and after that it gets stuck until I stop it manually:

[code]

Events 13 and 14 look similar to other in terms of si

[2021-11-02 13:18] timadye opened #1066 "CMake Python bindings fails when building on different disk"
I build acts on a fast disk, using `cmake -B . -S src` where `src` is a symlink to a different (slower) disk. When I enabled `-DACTS_BUILD_EXAMPLES_PYTHON_BINDINGS=on`, CMake failed with messages:

[code]

It could got it working in `Examples/Python/CMakeLists.txt`:

[code]

If that works just as well, should I submit a PR with this change?

Labels: Bug, Impact - Minor

[2021-11-02 13:26] paulgessinger commented on #1066
Oh I didn't actually know that `CREATE_LINK` creates a hard link by default. So yes, @timadye, by all means please create a PR!

[2021-11-02 23:56] #1024 closed

[2021-11-03 01:01] #1066 closed

[2021-11-05 14:06] plariono opened #1070 "MagneticFieldError: lookup unsuccessful, interpolation out of bounds was requested"
There are several errors appear very frequently when I use the field map in ActsExampleFatrasTGeo and ActsExampleCKFTracksTGeo/ActsExampleTruthTracksTGeo.

All tgeo volumes are well covered by the map, which has dimensions of {-4500; 4500} in Z and {-2000; 2000} in X and Y, which makes 500 mm beyond the outermost volume boundaries.

Nevertheless, when running the ActsExampleFatrasTGeo the followin

[2021-11-05 14:25] plariono commented on #669
In my case it's different, I opened another issue for this: [https://github.com/acts-project/acts/issues/1070](url)

[2021-11-08 14:27] asalzburger opened #1072 "Create CylinderBounds with inclined cut-off"
In order to create Volume shapes needed e.g. for the ATLAS MS coils or the EIC/ATHENA inclined beam pipe cut-out, an addition to the current cylinder bounds for surfaces is needed.

![Screenshot 2021-11-08 at 15 26 51](https://user-images.githubusercontent.com/26623879/140759612-f6fcd7b7-00c6-429e-b965-b21f66e54c90.png)

This should be possible to be done on either side independently, steered by a

[2021-11-09 09:56] paulgessinger opened #1073 "Build seems to fail with Eigen 3.4.0"
[code]

[2021-11-09 16:27] paulgessinger commented on #980
Hey @plariono, did this end up working with GDML?

[2021-11-09 16:29] #1017 closed

[2021-11-09 16:35] paulgessinger commented on #881
I think the actual `JsonMaterialWriter` actually doesn't do that anymore. I think there are other writers that still do, renaming the issue and keeping it open for now.

[2021-11-09 16:39] robertlangenberg commented on #522
Would be inefficient, reopen once it's really needed.

[2021-11-09 16:39] robertlangenberg commented on #388
Has been resolved

[2021-11-09 16:39] #388 closed

[2021-11-09 16:41] robertlangenberg commented on #717
Reduced accuracy not an issue for fastsim

[2021-11-09 16:41] #717 closed

[2021-11-10 03:13] beomki-yeo opened #1075 "Telescope geometry json file for digitization"
I was testing Truthtracking example for telescope geometry and encountered issue that I don't understand.
I got momentum resolution much better than I exapected so I switched the `digi-config-file` with ultra-high standard deviation (1000 mm smearing)

[code]

### ${ACTS_HOME}/Examples/Algorithms/Digitization/share/test.json
[code]

So I expected, with this config file, I should get pretty bad res

[2021-11-10 03:14] beomki-yeo commented on #1075
Here is the full command lines that I used

[code]

[2021-11-10 09:34] plariono commented on #980
Hi @paulgessinger, the ActsExampleMaterialRecordingGdml crashes for me.

[code]

[2021-11-10 09:37] paulgessinger commented on #980
Hm. @noemina indicated yesterday she observed crashes with the GDML loading (with the ITk GDML) as well. I'm not sure what happens here, it looks like it might in fact be during the GDML loading into G4 itself?

[2021-11-10 09:52] noemina commented on #980
The problem I saw was related to the missing world volume in the gdml which was causing a crash the very beginning of the job you want to run. In my case, the gdml was containing a part of the ITk detector without its world volume. This means that the geometry doesn't exist (it is not defined --> segfault) at the center of the detector (if the subdetector is "empty" inside), because there is no wo

[2021-11-10 10:44] plariono commented on #980
Hi @noemina, it seems that I'm also missing the world volume.
I only have the world ref there:
[code]

[2021-11-10 10:49] noemina commented on #980
Hello! Can you try making a "World" volume that contains your "cave"?

[2021-11-10 14:51] plariono commented on #980
I added the world volume and it's not crashing anymore. thank you @noemina

[2021-11-10 15:08] paulgessinger commented on #980
So this is essentially an assumption on our end that there is a "world volume" and if the GDML does not conform to that assumption, it SEGFAULTs?

Is there a way to detect this ahead of time and exit with an error message?

[2021-11-10 15:16] noemina commented on #980
no, the "problem" (if any) is in the assumption from the G4 parser that the world volume is there, as this is how geometries are defined in G4 (you don't expect to have an empty volume in the middle of your detector). In other words, the problem can be translated in the way the geometry is dumped or written in gdml.
In any case, you want to get the world volume when running the geantino step recor

[2021-11-10 16:03] paulgessinger commented on #980
Ok. Then I'm closing this as solved.

[2021-11-10 16:03] #980 closed

[2021-11-10 21:46] gagnonlg commented on #1075
@beomki-yeo what is "${positions}" ?

[2021-11-10 21:50] beomki-yeo commented on #1075
I didn't specifiy it. I just read the csv file and it is {0,0,0}
[code]

[2021-11-10 22:08] gagnonlg commented on #1075
Do you mean, that you just don't include this switch? Or you set it it 0:0:0? The latter is wrong iiiuc, as it configures three layers with same coordinates

[2021-11-10 22:10] beomki-yeo commented on #1075
Oh sorry. I misunderstood your comment: ${position} was 10:20: ... : 230. So 23 layers

[2021-11-10 22:26] beomki-yeo commented on #1075
Let me describe in detail for the simulatio setup

1. number of muons per event = 1
2. number of events = 10000
3. particle = muon
4. energy = 10 GeV
5. eta = 1.6 - 1.65
6. B field = 2 T

And I tested with two different jsons file to plot the residual (qoverp_fitted - qoverp_truth) at the first measurement point

### `test.json` ( 1 m std dev for smearing)
[code]

![image](https://user-images.gith

[2021-11-11 00:28] gagnonlg commented on #1075
I looked at the hit-level resolutions with smearing width = 1000 vs 0.025:
![hit_res_1000](https://user-images.githubusercontent.com/2743680/141215020-da1c195b-e5f0-4c5e-881f-f54052665170.png)
![hit_res_0p025](https://user-images.githubusercontent.com/2743680/141215065-4877d786-b973-4577-9358-451076fca01b.png)

So it's not a problem with the smearing

[2021-11-11 00:41] gagnonlg commented on #1075
Here's a printout of one GainMatrixUpdater step (with the smearing width at 1000):
[code]

Since the gain matrix k equation is:
[code]
i.e., in this case it will be dominated by the inverse of the calibratedCovariance matrix which, as you can see in the printout, is basically == 0. i.e., a very imprecise measurement gives us effectively no constraint.

My guess is that in this case the final param

[2021-11-11 00:43] beomki-yeo commented on #1075
Wuh Thanks a lot for the check!

Do you think it is also OK to edit what's in `ReconstructionBase.cpp` that contains smearing parameters?
[code]

[2021-11-11 00:46] gagnonlg commented on #1075
Sure, that might be a good cross-check to see if playing with these values actually make a difference in the fit or not

[2021-11-11 00:47] beomki-yeo commented on #1075
Great. Let me close the issue

[2021-11-11 00:47] #1075 closed

[2021-11-15 09:18] #1049 closed

[2021-11-16 15:44] paulgessinger opened #1077 "Vertexing triggers propagation warnings frequently"
We noticed in ATLAS recently that the vertexing frequently runs into

[code]

which is triggered [here](https://github.com/acts-project/acts/blob/2dc809f7b3077abf8fd862b41c27e08caedace88/Core/include/Acts/Propagator/Navigator.hpp#L392-L393)

[code]

I think I've observed this in the past also in ACTS standalone vertexing examples, but I'll have to go back and check if I can reproduce.

[2021-11-16 16:37] #934 closed

[2021-11-16 16:41] paulgessinger commented on #982
Discussed in the meeting: unclear if this is a priority right now. Closing and will reopen in case this requirement comes up.

[2021-11-16 16:41] #982 closed

[2021-11-26 09:26] #1073 closed

[2021-11-29 15:06] asalzburger opened #1088 "MaterialMapping logic is flawed"
The logic of assigning material hits to surfaces is flawed (which might have been my mistake even).

Imagine the following setup:

![Screenshot 2021-11-29 at 15 56 33](https://user-images.githubusercontent.com/26623879/143890508-84ace11d-ad2a-46cc-bc08-3f14234dc30f.png)

In this case, the blue recorded material point will be assigned to the dashed line, rather to the closer blue solid one, as only

[2021-11-30 08:16] paulgessinger commented on #1088
Can you help me understand why this is? Why is the solid blue surface *next-to-next* surface here and not *next*?

[2021-11-30 12:44] asalzburger commented on #1088
The problem was the implementation:
- as input you have a list of material steps on the one hand and a list of surfaces on the other
- both of them are ordered (by construction) from the origin

In order not to do searches of every step with every surface, the logic is:
a - start from the first material, find the closest surface (i.e. the next one is further away then the current)
b - then this so

[2021-11-30 16:32] asalzburger commented on #1088
<img width="826" alt="Screenshot 2021-11-30 at 16 57 42" src="https://user-images.githubusercontent.com/26623879/144087970-fcf4aad8-1559-46ee-81ef-3d5dcdc5b641.png">

fixed.

[2021-11-30 16:32] #1088 closed

[2021-11-30 16:34] paulgessinger commented on #1050
@plariono, were you able to narrow down where this originates?

[2021-11-30 16:46] paulgessinger opened #1091 "Vertexing issues observed in python vertexing example"
### TruthVertex Finder + VertexFitterAlgorithm with reconstructed input tracks crashes with a SEGFAULT
This combination doesn't make too much sense I suppose, but right now it gives a hard SEGFAULT.
I think this should work on a technical level. My understanding is that the Truth particles are used for the vertex finding, and then the vertex fit runs on reconstructed tracks. This seems to be fine

[2021-12-03 16:25] paulgessinger opened #1097 "ITk standalone geometry has unsuitable binning"
As @timadye discovered, the ITk standalone geometry exhibits the same issue I (and @noemina) encountered with the ACTS+ITk geometry in Athena: the barrel layers have too many bins.

![image](https://user-images.githubusercontent.com/1058585/144636876-58d780e3-c134-4433-9b9a-7675fa5babc8.png)

As a solution, the TGeo construction that builds the ITk here would need the possibility to override that

[2021-12-03 16:30] paulgessinger commented on #1097
So I think `TGeoLayerBuilder` can in principle be configured to use explicit number of bins: https://github.com/acts-project/acts/blob/main/Plugins/TGeo/include/Acts/Plugins/TGeo/TGeoLayerBuilder.hpp#L67-L70

I'm not sure this is exposed in either the JSON or the python version right now, @niermann999 do you know?

[2021-12-03 16:35] timadye commented on #1097
I can try to add an interface if it isn't there. What values should I set? Eg. what did you use in Athena?

[2021-12-03 16:40] paulgessinger commented on #1097
I actually take a fraction of the number of bins the auto-binner determines: https://gitlab.cern.ch/atlas/athena/-/blob/master/Tracking/Acts/ActsGeometry/src/ActsLayerBuilder.cxx#L288-295

I guess the pragmatic solution is to read off what the auto-binner determines, and then hard code the same fractions?

[2021-12-06 12:30] timadye opened #1098 "python config for example chains"
Discuss the best way to organise the Python in `Examples/Scripts/Python` to allow configuration of various full-chain examples.

Some ideas already in #1093 and #1096. @asalzburger suggested he and I post further ideas as comments, and we can discuss at the dev meeting.

CC @paulgessinger

[2021-12-06 18:07] timadye commented on #1098
Here are some of my thoughts...

Most of the current examples in `Examples/Scripts/Python` seem to be complete examples that run

1. evgen
2. geometry
3. fatras
4. digitization
5. seeding
6. track finding

at least up to the step being tested. I think it would be easier and clearer to have each step defined in a stand-alone routine (in its own `import`) and have the current `runParticleGun`, `runF

[2021-12-07 08:55] paulgessinger commented on #1098
Hey @timadye, thanks for the elaborate proposal.

My worry with liberally using `argparse` is that it kind of brings us all the way back around to what we had (have) with `boost::program_options`, with the same drawbacks (having to put everything into options to be usable, having a bunch of different executables) but in python instead of C++.

I guess my original idea was to have these python scri

[2021-12-07 13:55] asalzburger commented on #1098
Hi @paulgessinger @timadye - this is what I wanted to spark here by asking @timadye to open this issue. I think we should decouple the discussion into two blocks:

1.  The functions that build a job:

Here, I would strongly recommend the possibility of chaining functions together, e .g.

[code]

and successively, digitization and Fatras:

[code]

and
[code]

When these could run in parallel or, as

[2021-12-07 16:10] paulgessinger opened #1100 "Add example (+test) for vertex fitting with constraints"
As discovered by @mesmerisa, the vertex fitting algorithm was supplying constraints in the wrong format. This apparently was never run in any automated tests.

We should add an example that runs in the configuration where this fails, so we can add a test for this.

/cc @asalzburger

[2021-12-07 16:12] paulgessinger commented on #1010
After discussion in the meeting, we're closing this for now.

[2021-12-07 16:22] asalzburger commented on #1098
Suggestion by @paulgessinger

Split into `addParticleGeneration(...)` and a `runParticleGeneration(...)` with the latter to be run in the pytests.

[2021-12-07 16:47] asalzburger commented on #1098
Action items:
 * make a template with `particle_gun` and `digitization`, `fatras`

[2021-12-08 10:53] #1077 closed

[2021-12-08 17:11] wdconinc opened #1106 "Bug: nullptr segv in Navigator::reset"
I am encountering a segfault in Navigator::reset when startLayer is nullptr. It is very likely a symptom of another as-yet-unidentified issue on our side, but nevertheless it may make sense to consider whether this is intended behavior.

Here is the relevant bit in `Navigator::reset`:
[code]
In our case this seems to lead to the following sequence:
1. set all relevant variables to nullptr,
2. `ssu

[2021-12-08 17:12] wdconinc commented on #1106
OT: Bug report checklist asks to label issues, but regular users cannot assign labels. I'd have labeled 'Impact - Minor'.

[2021-12-09 08:30] paulgessinger commented on #1106
Hey @wdconinc, thanks for the bug report. I don't have any immediate ideas why this would occur, I don't think I've ever seen this happen in any other context. Most likely we never run into a case where `reset` is called with an `ssurface` that doesn't have a layer. This is weird though because it seems this simply happens in the CKF when it switches context. I did some changes in the CKF for `v15

[2021-12-09 08:34] paulgessinger commented on #1072
See #1104

[2021-12-09 08:37] asalzburger commented on #1106
Hi,

this looks like a logic bug, there's no guarantee that the startSurface has a layer associated, so it potentially can be unset.
In case of an unset startLayer a global search should termite it, i.e. you search the volume associated to the global position and then the layer according to the position.

[2021-12-09 08:41] asalzburger commented on #1106
Discussing with @paulgessinger - this is in the CKF, so the `ssurface` should indeed have an `associateLayer`, unless it is hidden somewhere, i.e. when the layer is built, is does not appear in the `surfaceArray()` list of surface, which are eventually associated with the layer.

One quick check, can you please dump the `GeometryId` of the start surface?

[2021-12-13 15:29] yslai opened #1111 "Bug: Seeding will go into infinite loop with memory leak in BinnedSPGroup, for very forward detector acceptance and combinations of grid config"
Proposed label: [Bug] [Impact - Major]

Description: Setting the following values will reproduce the bug, as evident by the simple division:

`config.zMin = -2000 * Acts::UnitConstants::mm;`
`config.zMax = 2000 * Acts::UnitConstants::mm;`
`config.cotThetaMax = 27.2899; // eta = 4`
`config.deltaRMax = 160 * Acts::UnitConstants::mm;`

Results in:

`(config.zMax - config.zMin) / zBinSize = 0.91608983

[2021-12-14 09:50] paulgessinger commented on #1070
Hey @plariono, this is with your private TGeo geometry, correct?

[2021-12-14 10:38] plariono commented on #1070
Hi @paulgessinger, yes, but the tracker layers are covered entirely by the map...

[2021-12-14 11:02] paulgessinger commented on #1070
Can you try to get a verbose log of the propagation in a case where the error occurs?

[2021-12-14 13:54] plariono commented on #1070
sure, here is the verbose log for 1 event: https://cernbox.cern.ch/index.php/s/ReDQZI8FHnbOsYv

[2021-12-14 14:27] paulgessinger commented on #1070
Hm. The log contains some confusing lines.

It seems the propagation starts at `z=4060`, pointing towards positive `z`:

[code]

It then tries to find a start volume, and picks the `OuterMostEndcap`, and tries to resolve it's boundaries, with a cylinder cover, and two disks at `z=1322` and `z=4002`. This means the current position is already outside the outermost volume, and is pointing away from

[2021-12-14 16:50] robertlangenberg commented on #36
closed as it could not be reproduced, may take a closer look after investigating potentially related issues

[2021-12-14 16:50] #36 closed

[2021-12-14 19:19] plariono commented on #1070
Thank you @paulgessinger. I've checked the negative direction and it seems to be the same issue also there: https://cernbox.cern.ch/index.php/s/xlQYk5J6G1E0Gnp

Then it picks the "current" volume because the Z=4060 position is within the `OuterMostEndcap` volume.

[2021-12-16 20:22] timadye commented on #1098
I've been implementing this for `particle_gun` and `fatras` ([branch](https://github.com/timadye/acts/tree/pybind4) still under development).

A couple of questions:
1. Should we use `pathlib.Path` to pass `outputDirCsv` and `outputDirRoot`? Currently they are just `str`.
2. Do we need to worry about `RandomNumbers`? If we keep the same structure, `addParticleGun` and `addFatras` each has their ow

[2021-12-17 08:42] paulgessinger commented on #1098
My 2 cents:

1. I like `pathlib.Path`, so I'd be in favor of using that. Ultimately up to you though.
2. I think the `RandomNumbers` instance should be an argument to the `addXYZ` functions, and you pass it in from the outer script? Or am I missing the point.

[2021-12-17 12:59] #1111 closed

[2021-12-23 17:41] timadye commented on #1098
I went with `pathlib.Path`, but put in a conversion for compatibility in case it is passed a `str`.

That's what I did. If you don't pass it in, it makes a new one.

[2022-01-15 21:29] wdconinc commented on #1106
After further investigation (and a holiday break in the middle) and as you already hinted at, this turned out to be due to a remaining `m_geometryId` that was left over in our IndexSourceLink class from before IndexSourceLink was a class in Core. That value of `m_geometryId` was never initialized and therefore led to undefined measurement surfaces.

I appreciate the comments on the performance of

[2022-01-15 21:29] #1106 closed

[2022-01-17 09:46] HadrienG2 opened #1135 "Autodiff plugin is not compatible with current versions of autodiff"
Trying to build the ACTS autodiff plugin against a current version of autodiff will fail because the autodiff 0.6.x release series moved around several headers, including the autodiff/forward.hpp header that the ACTS autodiff plugin relies on.

cc @benjaminhuth

[2022-01-17 10:06] benjaminhuth commented on #1135
I did not follow the developements in the `autodiff` library, but I'll work out a PR to make it compatible again...

[2022-01-18 16:26] paulgessinger commented on #822
@wdconinc volunteered to have a look at this.

[2022-01-19 07:30] #1135 closed

[2022-01-19 22:32] wdconinc commented on #822
This is not something that is affecting us anymore in EIC.

We did move away from simple disks for the endcaps, so I cannot definitely state that the issue is gone. However, from my reading above and correlating with the PRs and our change, it seems all parts are resolved by #829 and #820.

The issue is likely not relevant anymore and can be closed.

[2022-01-19 22:50] gagnonlg opened #1139 "Bug: issue on first build after DD4hep update on system with globaly installed acts"
TLDR; I hit an odd issue after upgrading to DD4hep 1.19 on my system today.  I think it's an issue with the DD4hep's cmake setup, but I'm documenting this here until I have time to look into this again.

Longer summary:

Basically, the build fails with:

[code]
The odd part is that libDDCore.so.1.16 is not present at all on this system. However, as I'm building, there's a previous acts version ins

[2022-01-20 09:13] paulgessinger opened #1140 "bug: Delegate accepts approximate signatures"
@Corentin-Allaire had to find out that

[code]

actually accepts a function with a signature of

[code]

(`MultiTrajectory` by value) which is obviously a problem.

Ideally, Delegate should reject this connection at compile time.

[2022-01-20 14:03] paulgessinger commented on #1139
I think the step that it's failing at is actually during ROOT dictionary generation. What I think is happening here is that a program executes that tries to look up the shared lib using `LD_LIBRARY_PATH` and nothing from CMake like packages that were found and linked. I'm guessing that's why it's looking at `/usr/lib/` and finding something ther.

Can you try sourcing DD4hep's setup file and compi

[2022-01-21 15:53] gagnonlg commented on #1139
Well the weird thing here is that LD_LIBRARY_PATH is set to the directory where the freshly-built .so is located when running listcomponents_dd4hep...

Thanks for the suggestion about the setup file, I'll try that next

[2022-01-21 18:09] #1140 closed

[2022-01-24 19:19] plariono commented on #1070
I had a look again and found in the Fatras example output event#-particles-initial.csv that there are particles with the initial position outside the last tracking layer in Z (4000 mm):

<img width="912" alt="Screenshot 2022-01-24 at 20 02 22" src="https://user-images.githubusercontent.com/26326189/150848772-2c844469-5591-447b-82c8-926c1e46be8f.png">

in some cases they are the results of some pro

[2022-01-25 14:23] timadye opened #1144 "Overlapping volumes exception for ITk geometry"
Since #1090, the current ITk TGeo geometry throws an `invalid_argument` exception:
[code]

This seems to be due to an overlap between volumes at
 * R =  0.0        –   30.4     mm (BeamPipe); and
 * R = 29.8228 – 128.027 mm (barrel InnerPixels)

`TGeoDetector` adds a 1mm envelope to both the beampipe and the pixel inner radius, which is included in the overlap check and the numbers above. Reducing

[2022-01-25 16:58] timadye commented on #1098
Sorry, this is still being worked on in #1128.

[2022-01-25 16:59] plariono commented on #1070
Yes it can be closed, thank you.

[2022-01-25 17:15] #1070 closed

[2022-01-26 12:52] asalzburger commented on #1072
This has been implemented.

[2022-01-26 12:52] #1072 closed

[2022-02-02 18:16] rahmans1 opened #1146 "Cut tube segment dd4hep conversion tests"
Proposed labels: Improvement, Needs Discussion

Proposed next steps on cut tube support that touch the Acts code base:

1) Extend TGeoTubeConversionTests.cpp with a TGeoCtub (like done [here](https://github.com/acts-project/acts/blob/main/Tests/UnitTests/Plugins/TGeo/TGeoTubeConversionTests.cpp#L64) for TGeoTubeSeg), this test will fail until support below is added,

    a) Extend Acts::TGeoSurfac

[2022-02-02 18:35] rahmans1 commented on #1146
Suggestions provided by @wdconinc. Just wanted to make sure that nobody else is actively working or planning to work on it. If not, I will be doing it in this [branch](https://github.com/rahmans1/acts/tree/improvement-cut-tube-support-dd4hep-tests).

[2022-02-03 09:15] paulgessinger commented on #1146
ping @asalzburger

[2022-02-03 10:12] noemina commented on #1144
If I understand correctly, this issue is due to these lines where an envelope in R is configured for the beam-pipe and pixel volumes.

For the beampipe layer builder configuration we add +1 mm on the outer radius:
https://github.com/acts-project/acts/blob/853f9b70551667209ba6b56deaccf111d3fc33a4/Examples/Detectors/TGeoDetector/src/TGeoDetector.cpp#L203-L204

A few lines below this is also configur

[2022-02-07 17:30] rahmans1 commented on #1146
[Incidental questions](https://indico.bnl.gov/event/14769/contributions/60020/attachments/39718/65871/CutTubeActs.pdf) brought up in the ATHENA-ACTS meeting.
1. **Relevant Issue:** Extending Acts::TGeoSurfaceConverter::cylinderComponents and Acts::TGeoSurfaceConverter::discComponents to support TGeoCtub
**Question:** Why is the condition "halfZ>deltaR" used before checking if the shape is TGeoTube

[2022-02-08 12:46] noemina commented on #1144
Ah, comparing with the current implementation in athena, the beampipe radius is set to 23.934 mm, while in the json file we have  29.0 mm. I would suggest we can switch to this value in the json and maintain the generous envelopes then.

[2022-02-08 14:51] timadye opened #1149 "buildITkGeometry in itk.py doesn't produce hits"
I used [`buildITkGeometry`](https://github.com/acts-project/acts/blob/main/Examples/Scripts/Python/itk.py#L97) to create a `TGeoDetector` geometry for the ATLAS ITk. This looks OK, except when used by Fatras, it doesn't generate any hits.

If instead, I specify the geometry definition with
[code]
hits are generated without problem.

I'll continue to try to find a difference in the returned `detect

[2022-02-08 15:35] paulgessinger commented on #1149
I assume aside from the geometry source, it's the exact same script?

[2022-02-08 15:40] timadye commented on #1149
Yes, identical script.

[2022-02-08 17:11] noemina commented on #1144
This is now fixed as the beampipe parameter has been updated in https://gitlab.cern.ch/acts/acts-detector-examples/-/merge_requests/12

[2022-02-08 17:11] #1144 closed

[2022-02-08 17:24] timadye commented on #1144
Hi @noemina,
Thanks for tracking down the best fix!
Just for the record, we also need to fix [itk.py](https://github.com/acts-project/acts/blob/main/Examples/Scripts/Python/itk.py#L119). I tested the fix there too, but am looking at the same code for #1149 so if there's another fix we can do both together if you like.

[2022-02-08 18:40] timadye commented on #1149
Following @paulgessinger's suggestion, I ran a single particle (10 GeV muon, eta=0.5) through the two geometries with verbose logging:

created with `buildITkGeometry`: [fatras_pybind11_config.log](https://github.com/acts-project/acts/files/8026426/fatras_pybind11_config.log)  (no hits created)
created with `tgeo-atlas-itk-hgtd.json`: [fatras_json_config.log](https://github.com/acts-project/acts/f

[2022-02-08 18:45] timadye commented on #1149
I guess the HGTD is being treated as a barrel detector, so the rRange 0-1050mm kicks in straight away. But it has:
[code]

[2022-02-08 18:53] timadye commented on #1149
I found a quick workaround. If I comment out the HGTD `Volume()` from the Python config, I get identical results to the JSON definition.
Obviously that would skip the HGTD for the forward tracks that encounter it, but I'm not so concerned with the HGTD at the moment.

[2022-02-09 09:35] noemina commented on #1144
Yes, I can help you with that!

[2022-02-09 15:33] timadye commented on #1149
Hi @noemina,

To quickly test this out, you can use [`timadye:pybind6`](https://github.com/timadye/acts/tree/pybind6). This has some other changes on top of `acts-project:main`, but also includes the option to create the geometry from JSON so you can compare the two.

There's also a top-level script, [full_chain_itk.py](https://github.com/timadye/acts/blob/pybind6/Examples/Scripts/Python/full_chai

[2022-02-09 19:17] osbornjd opened #1153 "ITk Information expected in TGeo Example"
There is currently ITk information expected in the TGeometry JSON reader for example [here](https://github.com/acts-project/acts/blob/7a4814b4d375db8d43da2637aa773bfeef5c200a/Examples/Detectors/TGeoDetector/include/ActsExamples/TGeoDetector/JsonTGeoDetectorConfig.hpp?_pjax=%23js-repo-pjax-container#L144). Is this intended to be present given that these examples can be used to do the material mappi

[2022-02-10 07:51] paulgessinger commented on #1153
The reason this is there is that we needed specific functionality to enable the ITk geometry. In principle, if the splitting here is disabled, this should be equivalent to the defaults before the introduction of the splitting functionality.

In any case, obviously the standalone example should not be broken by out of the box by the existence of this options.

@niermann999 could you take a look at

[2022-02-10 08:06] paulgessinger commented on #1153
In discussion today, we realized that there is another key `geo-tgeo-cyl-disc-split` that has to be there, but can be safely configured to do nothing.

[2022-02-10 10:32] noemina commented on #1149
Hello @timadye,
I found the problem :)
You misspelled `positive` for the `zRange` definition of the HGTD. As a consequence, the HGTD positive side got extended from `-std::numeric_limits<double>::max()` to `std::numeric_limits<double>::max()`, hence invading the Pixel and Strip volumes. If you fix the line [posted below](https://github.com/timadye/acts/blob/bb44794d0a95fb682aa644e1f8cbfc99522c05a3

[2022-02-10 10:56] paulgessinger commented on #1149
I'm guessing that was on me, actually. My bad.

[2022-02-10 11:17] timadye commented on #1149
Thanks for the fix @noemina! That's excellent.

I'm surprised this didn't flag an error. Is it possible to give an `unexpected keyword argument` error something?

Thanks,
Tim.

[2022-02-10 11:54] niermann999 commented on #1153
This works for me regarding the ITk option. Should I treat the ```geo-tgeo-cyl-disc-split``` the same way?

[2022-02-10 14:27] #1153 closed

[2022-02-10 16:49] #1149 closed

[2022-02-10 17:17] paulgessinger commented on #1144
That'd be great @timadye.

[2022-02-14 09:18] stephenswat opened #1161 "Seed finding C++ example throws exceptions"
As I mentioned briefly in this morning's meeting, the seed finding examples no longer seem to work. There is a `std::length_error` being thrown somewhere. Here's what that looks like:

[code]

Through bisection, I have determined that this error is introduced in c8ef092c4dacb09971bc512701d7d662deede902 from #1038. Before this change, everything works fine, after that the exception is thrown.

Ping

[2022-02-15 16:11] paulgessinger commented on #1050
As discussed in the meeting, @plariono reports this is not reproducible on his end at this point. Closing this for now.

[2022-02-15 16:11] #1050 closed

[2022-02-18 15:46] osbornjd opened #1172 "Seeding grid phi binning has changed"
The seeding algorithm has changed in a nontrivial way in regards to the way that the grid binning is determined. In previous versions, e.g. 1.1, the space point grid binning was determined by the maximum deflection angle as seen [here](https://github.com/acts-project/acts/blob/836fddd02c3eff33825833ff97d6abda5b5c20a0/Core/include/Acts/Seeding/SpacePointGrid.ipp#L37). In the latest version, there a

[2022-02-18 15:52] paulgessinger commented on #1172
This was largely the work of @LuisFelipeCoelho towards making the ACTS seeding perform (or able to be configured to perform) identically to the ATLAS seeding for ITk.

I believe the changes are in fact understood overall (I'll let @LuisFelipeCoelho and @noemina comment on this).

We unfortunately still don't have detailed distribution level physics performance monitoring, but we do have the ROOT h

[2022-02-18 16:53] robertlangenberg commented on #1172
Joe had told me the parameter deltaAngleWithMaxD0 leads to MORE phi-bins, which would be counter-intuitive. it should be less than before. If numPhiNeighbors=1 there shouldn't be an increase in the number of phi-bins if i'm not mistaken

[2022-02-21 09:07] noemina commented on #1172
As you say, the parameter deltaAngleWithMaxD0 leads to a larger expected deflection in phi and should reduce the number of bins. I think is the change in the denominator that increases the number of bins (there was no denominator in the previous version of the code).

In terms of number of bins, the previous value is obtainable if numPhiNeighbors=0, not 1. This has been indeed added to configure c

[2022-02-21 09:33] robertlangenberg commented on #1172
Hi @noemina sorry for having this discussion spread out, I'll try to recap what I said and your response on #1167.
I said

and your response was

On this ticket you say numPhiNeighbors should be 0 to match the previous behavior. If numPhiNeighbors=1 triples the number of phiBins, the phiBins won't cover the full deflection in phi (i.e. we'd have to look at least at 3 neighbors in each direction to

[2022-02-21 10:59] noemina commented on #1172
Hello,
sorry for not being clear. I think we need to consider two things here: number of bins in phi in the grid and how many of those bins we use for the space point search to build seeds. Of course the two things are very much correlated.

If numPhiNeighbors=1, for a given phi bin for the central point, we consider 3 consecutive phi bins for top and bottom SP search (stealing this picture from o

[2022-02-21 12:09] robertlangenberg commented on #1172
Hi, I gave a response on a different ticket, to make it very short: (Nearly) the old behavior is achieved by setting
numPhiNeighbors=0 for the Grid and numPhiNeighbors=1 for the BinFinders. The name of the Grid configuration parameter is probably going to be changed in a future Acts release.

https://github.com/acts-project/acts/pull/1167#issuecomment-1046799086

Please let us know if this fixes t

[2022-02-21 13:06] osbornjd commented on #1172
Hi all, thanks for all the discussion! I think I learned quite a bit and in any case understand better the role of these parameter values. I believe Robert also correctly pointed out here:

that part of my confusion was understanding the relationship between these two variables. I had assumed that there was an expectation that they be the same since they were named the same.

In any case I think t

[2022-02-21 13:06] #1172 closed

[2022-02-25 16:01] timadye commented on #1098
I have opened #1174 to follow the continuing work on this feature.

[2022-03-09 21:26] rahmans1 commented on #1146
4. **Relevant Issue:** Extending Acts::TGeoSurfaceConverter::cylinderComponents and Acts::TGeoSurfaceConverter::discComponents to support TGeoCtub
**Question:** Are tubes with bevel cuts not allowed for discSurfaces? Seems like there is no natural way to extend the unit test for  [disc/endcaps](https://github.com/rahmans1/acts/blob/improvement-cut-tube-support-dd4hep-tests/Tests/UnitTests/Plugins/

[2022-03-10 08:02] paulgessinger commented on #1146
@noraemi do you want to chime in?

[2022-03-10 09:00] noraemi commented on #1146
I didn't extend the RadialBounds to include the bevel as the bevel would be a property of the cylinder and otherwise its just a tilted disc? But if necessary I could add it

[2022-03-10 15:04] rahmans1 commented on #1146
Intuitively speaking, it doesn't make sense for radial bounds to include a bevel. But we can either force it in for consistency. Or an alternative may be to assign a warning to the user that TGeoCtub cannot be used for discs.

[2022-03-22 16:19] paulgessinger opened #1199 "HelpersTests memory consumption"
Following #1184, the build memory consumption of `HelpersTests.cpp` went up by 1.2GB. This could be because of `std::tuple`, or because of the number of instantiations of the multiplication templates.

https://github.com/acts-project/acts/blob/c9a5b5300fcc5c82b1f3c3358ee892411cccf799/Tests/UnitTests/Core/Utilities/HelpersTests.cpp#L158-L198

@stephenswat could you have a look?

[2022-03-23 09:26] paulgessinger commented on #1199
@stephenswat reports it is in fact not the tuple itself but just the number of invocations. You were saying we could maybe cut down the number of different tests?

[2022-03-23 13:40] #1199 closed, assigned to stephenswat

[2022-03-28 17:26] paulgessinger opened #1211 "ci: Coverage job is broken with gcovr >= 5.1"
See #1210

[2022-03-29 07:50] paulgessinger commented on #1211
This is probably related to https://github.com/gcovr/gcovr/issues/588

[2022-03-30 08:44] paulgessinger commented on #1211
A fix has been merged to gcovr main: https://github.com/gcovr/gcovr/pull/592
When that makes it into a release we can update on our end.

[2022-03-30 15:49] paulgessinger opened #1215 "Gain Matrix Update fails sometimes for the ODD"
This looks to me like for some reason the gain matrix contains NaNs in the case of the ODD. This does not occur with the Generic Detector, so my suspicion is that it has something to do with the ODD material.

Should be reproducible by running `CI/physmon/physmon.py` with the python bindings compiled and set up.

This requires (temporarily) disabling the log level failure threshold in the CI for t

[2022-03-30 21:35] gagnonlg opened #1219 "feat: Remove Clusterization.hpp/ipp"
After #1190 is merged, we'll have two competing clusterization implementation. From my benchmarking, it's clear that the current version underperforms : ![test_ACTS](https://user-images.githubusercontent.com/2743680/160934561-7b595c72-887c-4bbf-8dab-de67b11bc0d3.png)

Since it has been in the Core library for a while now, I suggest deprecating the header for a few release cycle (#1190 does that) a

[2022-03-31 08:25] paulgessinger commented on #1219
Sounds like a good idea to me.

[2022-03-31 15:39] CouthuresJeremy opened #1221 "Bug: fatras different particle final states between python and executable"
Hi,
I saw a small difference in the particle final states between python and executable when running fatras.

Here are the args that I used for the executable:
[code]

Here is the python file that I used:
[code]

event000000000-particles_final.csv:
Executable:
[code]
Python:
[code]

First difference that I saw in the logs:
Executable:
[code]
Python:
[code]

Does anyone have an idea of where it mig

[2022-03-31 16:39] paulgessinger commented on #1221
Hey @CouthuresJeremy, thanks for reporting this!

@timadye, does this look like the discrepancy between the two implementations that you observed?

[2022-04-01 11:44] timadye commented on #1221
Hi @CouthuresJeremy,
Thanks for checking this. That is very useful. I didn't do an exact comparison between the C++ and Python implementations, just checking the distributions.
I did do some exact comparisons with some changes in the Python implementation. One oddity that @paulgessinger might have been referring to was including a preselector before the Fatras step. Even with a preselector that sh

[2022-04-01 12:43] CouthuresJeremy commented on #1221
Hi @timadye,
Here are the results that I've got:
With ```ParticleSelector``` in ```fatras.py```:
[code]
Without ```ParticleSelector``` in ```fatras.py```:
[code]
I don't see any difference between those two.

I saw #1174 and I can say that it is very useful for someone who started to use the Python Bindings this week.

[2022-04-01 18:11] timadye commented on #1221
Just to confirm, I see the same effect that @CouthuresJeremy described (using #1174). And using `preselectParticles=False` makes no difference.

Sorry, that doesn't add anything to @CouthuresJeremy's observation.

[2022-04-01 18:16] timadye commented on #1221
One idea...

We have the same input particle, and Fatras makes small changes to the output particile. So I guess it's different multiple scattering or energy loss.

A real difference might be that there is some configuration that isn't being picked up in one or the other.

A spurious difference might be that those effects are calculated in a different order, so the random number generator gives di

[2022-04-04 17:38] timadye commented on #1098
#1174 has been merged, completing this work

[2022-04-04 17:38] #1098 closed

[2022-04-06 09:36] r4lv opened #1225 "feat: Python bindings for Telescope Detector"
Dear all,
I noticed that there are no Python bindings for the Telescope Detector. I'll open a PR shortly.

[2022-04-19 15:04] rahmans1 commented on #1146
Adding an update to this discussion https://indico.bnl.gov/event/15458/contributions/62426/attachments/40571/67801/ACTS%20integration%20for%20B0%20tracker.pdf

[2022-04-22 12:13] #1225 closed

[2022-04-28 19:38] rahmans1 opened #1238 "Bug: Probable Issues in Bevelled Cylinder Implementation"
Relevant Issue: [1104](https://github.com/acts-project/acts/pull/1104) , [1146](https://github.com/acts-project/acts/issues/1146)

The issue is a summary of the probable problems with PR 1104 which implemented the bevelled cylinder surfaces in ACTS. [Slide 8, 9 here.](https://indico.bnl.gov/event/15458/contributions/62426/attachments/40571/67801/ACTS%20integration%20for%20B0%20tracker.pdf)

In [Ac

[2022-04-29 09:52] paulgessinger commented on #1238
FYI: @noraemi

[2022-04-29 18:18] osbornjd opened #1239 "Magnetic Field Storage"
According to @asalzburger the magnetic field is nominally stored in the `Grid` class as a vector of doubles. It would be convenient to have this reworked as a vector of floats to reduce memory storage, given that (in my expectation, at least) magnetic field mappings will never need the precision of doubles.

[2022-05-03 09:37] paulgessinger opened #1242 "Python bindings: ship modules containing the `addXYZ` functions"
This would allow us to conveniently configure the full chain example in e.g. the ODD.

I guess one option would be to include them under the `acts` package, maybe something like `acts.examples.fragments`?

/cc @timadye

[2022-05-03 15:22] gagnonlg commented on #1219
unstaling this as this is a reminder issue

[2022-05-03 17:44] timadye commented on #1242
If they were all in one package, you could simplify the imports. Eg. instead of
[code]

you could say:

[code]

I must say I don't like the name `fragments`, which refers to what is implemented, rather than what it does. I'll try to think of an alternative, but hopefully someone else has a better idea first.

[2022-05-04 07:29] paulgessinger commented on #1242
One question would if we put them in there as python packages under `fragments` (or other name). That would look like

[code]

where `__init__.py` contains the actual `addFatras` function, and `__main__.py` has the code to run the isolated example.
That would allow one to run

[code]

[2022-05-04 10:23] timadye commented on #1242
Setting up a `__main__.py` would mean moving the `runFatras` function as well.

[2022-05-04 10:33] paulgessinger commented on #1242
That is correct. I guess the benefit would really be that the "canonical" examples could be part of the package itself, but I think it does come with a number of downsides. So definitely needs further discussion.

[2022-05-04 12:31] jmasik commented on #1242
Sorry for a tangential comment but why there is a directory structure with twice python and twice examples in the path?
Are there other .py files not considered as examples? And is the extra fragments subdir needed?

[2022-05-04 13:22] jmasik commented on #1242
I meant ./Examples/Python/python/acts/examples which looks duplicating

[2022-05-05 06:22] paulgessinger commented on #1242
I see. That is only for code organization reasons. The    `acts` tree and below is what is visible as the python import hierarchy, and the folders above are meant to indicate that the entire python bindings are only supposed to be used with/for the examples.

I don't want to put the python binding code further up the chain because they are not really part of the core ACTS "product".

Does that mak

[2022-05-05 07:49] jmasik commented on #1242
OK, thanks for clarification

[2022-05-05 14:15] paulgessinger commented on #1215
@andiwand brought up that there might be a way to do an alternative (approximate?) inversion that could still be calculatable if the full inverse results in NaNs.

[2022-05-09 07:51] paulgessinger opened #1246 "Reproducibility test using hash checks for non-linear KF"
Briefly discussed this with @XiaocongAi: we should really lock down the non-linear corrections for the KF (#1233). This would ideally go into a python based test (maybe `truth_test_kalman.py` after #1232 is merged).

Ultimately, we should strive to have performance histogram comparisons for the residuals and pulls as well (which @andiwand is working on independently).

[2022-05-09 13:39] rahmans1 commented on #1238
![CylinderCut](https://user-images.githubusercontent.com/7409132/167418321-b4df3c3a-852c-47cc-9e85-b07696854c9d.JPG)
![Drawing1](https://user-images.githubusercontent.com/7409132/167419227-e7ec48a1-6e84-43ce-9fe9-cf6b417ae144.JPG)
A better drawing of the issue constructed in [onshape](https://cad.onshape.com/documents/449cbb673b98f4d6bafd8bd9/w/6a9c4ac0a879643d9b9862ec/e/b81f1828bdd23b7013a3fe06?r

[2022-05-13 13:17] Corentin-Allaire opened #1253 "ObjPropagationStepsWriter doesn't work with the python binding on MacOS"
The python binding for ObjPropagationStepsWriter don't seem to work with ObjPropagationStepsWriter on MacOS.

For example when running `propagation.py ` one get the following error : `IndexError: Type mismatch for object 'propagation-steps'`

My guess is that it has something to do with the fact ObjPropagationStepsWriter is templated on the step type (since RootPropagationStepsWriter which is extr

[2022-05-13 14:17] paulgessinger commented on #1253
We should probably add the python tests to the CI job. If we want to enable the hash checks we'd have to store multiple reference files since the hashes might be different between OSs.

[2022-05-13 14:22] Corentin-Allaire commented on #1253
I am not even sure we need to do the hash checks. Checking that they run might be enough

[2022-05-17 10:58] CouthuresJeremy commented on #1242
Does splitting `fragments` in `simulation` and `reconstruction` would be better?

It would then looks like:

[code]

[2022-05-17 12:43] timadye commented on #1242
I like this. It adds some modularity, without people having to know where everything lives. Maybe others `itk` and and `ODD` for the detector setup.

[2022-05-19 10:17] timadye commented on #669
Moving the discussion from PR #1251 here:

@paulgessinger commented:

[2022-05-19 10:21] timadye commented on #669
Yes, that was my thought. I can try to take a closer (inexpert) look, when I have a moment.

[2022-05-19 10:38] asalzburger commented on #669
Shouldn't that be relatively easily addressed by an appropriate UnitTest?

[2022-05-24 22:24] gagnonlg opened #1271 "nodeps build fail"
The linux-nodeps build failed in #1190 with the message:

[code]

I quickly surveyed other recent PR's but didn't see the failure. I cannot reproduce locally either. Still I'll leave this issue up until we're sure this was transient.

[2022-05-25 08:09] paulgessinger commented on #1271
I think this started happening when we started using ccache in the build. Somehow, this is a spurious failure. Most of the time it works, but sometimes it doesn't with this error.

[2022-05-26 13:20] Scott-James-Hurley opened #1273 "Add CPU Profiling Tool To ACTS"
Adding a tool to profile CPU usage for the ACTS project will allow developers to identify parts of the code that are not as performant as expected, making it easier to find and resolve performance bottlenecks.

After an investigation [gperftools](https://github.com/gperftools/gperftools) seems to be the most promising solution. It offers a [sampling-based CPU profiler](https://en.wikipedia.org/wik

[2022-05-27 14:46] gagnonlg commented on #1271
Got it. I can investigate locally with ccache and see if I can fix this, otherwise we do as you suggest

[2022-06-02 08:38] andiwand commented on #1215
for reference this is where it happens https://github.com/acts-project/acts/blob/main/Core/src/TrackFitting/GainMatrixSmoother.cpp#L64

after a little digging I think this is the smoother that is currently implemented https://en.wikipedia.org/wiki/Kalman_filter#Rauch%E2%80%93Tung%E2%80%93Striebel
an alternative would be https://en.wikipedia.org/wiki/Kalman_filter#Modified_Bryson%E2%80%93Frazier_sm

[2022-06-03 16:50] osbornjd opened #1280 "Nontrivial Changes to Seeding"
We have updated our sPHENIX version of Acts from v17.0.0 to v19.1.0 this week. We have found that the performance of the seeding algorithm from Acts degrades slightly, even in single particle simulations, between the two versions. In our simulations, the seeding efficiency drops by a few percent (maybe 2-4%) in single particles. I assume this degradation will then be worse in our typical high mult

[2022-06-08 12:37] noemina opened #1281 "Requesting new release: v19.2.0"
I would like to request a new release including all developments on the seed formation algorithms.

FYI: @asalzburger @LuisFelipeCoelho @robertlangenberg @paulgessinger

[2022-06-08 12:51] #1281 closed

[2022-06-14 02:27] rahmans1 commented on #1238
The issue is being worked on [here](https://github.com/rahmans1/acts/tree/bugfix-bevelled-cylinder-surface-and-unit-tests)

[2022-06-14 15:14] gagnonlg commented on #1271
@paulgessinger  -- since #1283 , should we close this one?

[2022-06-14 15:29] tboldagh commented on #1242
Above idea looks very good. I guess an PR would be in place? Does it have to happen in one go? I guess not. Is anyone on this?

[2022-06-14 15:30] paulgessinger commented on #1271
Yeah, let's close it for the time being.

[2022-06-14 15:30] #1271 closed

[2022-06-14 15:31] paulgessinger commented on #1242
I don't think anyone is currently actively working on this.

[2022-06-14 15:45] tboldagh commented on #1242
I think it would be helpful to (almost mechanically) split the examples in Examples/Scripts/Python into sth. that can be imported and reused and the test themselves. People love python bindings and will build around it.

[2022-06-20 19:16] #1273 closed

[2022-06-21 14:45] Maury-arty opened #1284 "[Bug] FATRAS has trouble simulating electrons with eta between -4 and -1"
When given the output of Particle Gun for electrons (uniform distribution of eta from -4 to 4), FATRAS has trouble simulating electrons which have eta between -4 and -1. The output of Particle Gun was manually checked and has a uniform distribution in eta as asked.

Concretely, for some electrons, no hits are generated. Those electrons are all with eta between -4 and -1 (in their initial state).
A

[2022-06-22 12:32] andiwand commented on #1284
removing the material with `--mat-input-type=none` or turning off EM radiation with `--fatras-em-radiation=0` removes the artifacts

I was not able to reproduce this with python yet because I could not get the materials up for the `GenericDetector` which is used by `ActsExampleFatrasGeneric`

[2022-06-22 12:54] andiwand commented on #1284
after enabling the interaction in python I can see the same artifacts

![image](https://user-images.githubusercontent.com/487211/175033921-72863607-e21b-4196-9414-e5d5fc1e1462.png)

[2022-06-22 13:01] asalzburger commented on #1284
Looks like this is a problem of either the material description (should not be), or - more likely - a bug in the energy loss module.

One might have to put some cout's in the energy loss function and see what it means.

[2022-06-22 13:32] Maury-arty commented on #1284
It seems that when disabling the fatras-em-radiation option (=0), we don't get this issue.

[2022-06-22 13:44] rahmans1 opened #1287 "Trouble running ACTS python binding with generic detector under athena eic-shell container (Needs Discussion)"
**Issue: I am using a singularity container that I believe has all the pre-requisites for ACTS (https://eicweb.phy.anl.gov/containers/eic_container). I am having trouble running the python binding with acts generic detector in this container. The details are provided below. Would appreciate any input @timadye @paulgessinger.**

Build the acts generic example with python binding
[code]
Run the acts

[2022-06-22 13:45] andiwand commented on #1284
energy loss from https://github.com/acts-project/acts/blob/main/Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp#L65

![Figure_1](https://user-images.githubusercontent.com/487211/175044154-5f4dc217-f25c-471b-901e-0da99d5362c3.png)

[2022-06-22 14:29] Maury-arty commented on #1284
@andiwand Interesting! [slab.thicknessInX0()](https://github.com/acts-project/acts/blob/main/Fatras/include/ActsFatras/Physics/ElectroMagnetic/BetheHeitler.hpp#L60) indeed seems to get negative values. Thanks for this hugely useful indication ;)
When I put a simple std::abs for this variable, everything seems to get back in order: no missing hits, all electrons have hits from eta -4 to 4.
I'm curr

[2022-06-22 14:59] asalzburger commented on #1284
BUG BUG BUG ALERT!

`std::abs` should do the trick, great work @andiwand

[2022-06-22 15:53] timadye commented on #1287
Sorry, I don't know what this could be, but I had a couple of ideas of things to try.
1. Add `-DCMAKE_CXX_STANDARD=17` on the cmake comment. I seem to remember that I had trouble when I used gcc11 (which I think you are using). @paulgessinger advised me to use that and got me going. However that setting seems to more likely to fix a compilation problem, and yours is a runtime issue.
2. I notice th

[2022-06-22 16:09] timadye commented on #1287
It's probably not worth pursuing the `-DCMAKE_CXX_STANDARD=17` if you've identified the problem as the second one.

So it would be interesting to see if you can run the build-in version of acts - without any setup for your compiled version. If that fails, then you need to take it up with the container developers. If it is a clash between versions, then you should check out the setup scripts you ar

[2022-06-22 16:37] paulgessinger commented on #1287
Which OS is this inside singularity?

[2022-06-22 16:38] paulgessinger commented on #1287
This is indeed a bit odd. For the generic detector, there are in principle not a lot of places that could cause a segfault. Do you think you could run this with a debugger to see if you get a break when the error occurs? That could help narrow things down.

[2022-06-22 16:59] rahmans1 commented on #1287
jug_xl> rahmans@narval1:/lustre06/project/6061913/rahmans/EIC/eicshell/ACTS/build-bevel-empty$ cat /etc/os-release
PRETTY_NAME="Debian GNU/Linux bookworm/sid"
NAME="Debian GNU/Linux"
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

[2022-06-22 17:27] #1284 closed

[2022-06-23 04:14] rahmans1 commented on #1287
Figured out the issue. The container uses spack to build acts and the python variant wasn't enabled (https://packages.spack.io/package.html?name=acts) in the spack.yaml file. Needed the line:
**acts@19.1.0 +dd4hep +identification +json +tgeo +ipo +examples +fatras +geant4 _+python_**

When running the environment setting script this_acts.sh, I didn't notice that it was running the one from /usr/lo

[2022-06-23 16:20] paulgessinger commented on #1280
Was discussed at any point?

[2022-06-23 16:23] osbornjd commented on #1280
Yes, we discussed it at a dev meeting when I think you were on vacation. The solution was as follows:
1. Develop a CI test which reads in a typical sPHENIX event for seeding so that we can monitor any possible changes.
2. I am working with @robertlangenberg to identify where the loss in efficiency comes. I provided him an example single track 3 space points that were found in v17 but were not foun